<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset="UTF-8">
    <meta content="*" http-equiv="Access-Control-Allow-Origin">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="text/javascript" http-equiv="Content-Script-Type">
    <meta content="text/css" http-equiv="Content-Style-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>로그인 : 발그레</title>
    <link href="/css/loginCommon.css?v=2km-17bbwp3" rel="stylesheet" type="text/css">
    <link href="/css/loginCommon.css" rel="stylesheet" type="text/css">
    <link href="/css/loginCommon.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="/css/loginCommon.css?v=7kc-1n234ch" rel="stylesheet" type="text/css">
</head>

<div class="layout-structure-content">
    <h1 class="header-main-content-logo-center">
    <a class="back-home" href="/"><img src="/img/login/rebbit.png" width="100px" height="100px"></a>
    </h1>
    <p class="text_under_header">발그레에서 싸게 쇼핑하자</p>
    <div class="login-title-image">
        <span class="login-bigtitle-img"><img src="/img/login/login_title.png" height="35"></span>
    </div>
    <div class="login_form_onpage">
                <form id="sky-form1" class="log-reg-block sky-form" action="/loginPost" method="post">
                    <section>
                        <label class="login-input-text">
                            <div class="input-group-id">
                                <input type="text" placeholder="이메일 (아이디)" name="username" class="form-control_email">

                            </div>
                        </label>
                    </section>

                    <section>
                        <label class="login-input-text-pw">
                            <div class="input-group-pw">
                                <input type="password" placeholder="비밀번호" name="password"
                                       class="form-control_pw">

                            </div>
                        </label>
                    </section>

                    <div class="row margin-bottom-5">
                        <div class="col-xs-6">
                            <label class="checkbox_on_loginform">
                                <input type="checkbox" name="useCookie" class="login_form_checkbox">
                                자동 로그인
                            </label>
                        </div>
                    </div>
                    <div class="login-submit-button">
                    <button class="balgeure_login_submit-Btn" type="submit" value="login">로그인</button>
                    </div>

                </form>
           
           <div class="search_id_and_pw_register">
                <p class="text-center">
                    <a href="#" data-toggle="modal" data-target="#myModal" class="search-email-and-password find_balgeure_email">이메일(아이디) 찾기</a>  |   
                    <a href="/goFindPw" class="search-email-and-password find_balgeure_password">비밀번호 찾기</a>  |   
                    <a href="/regist" class="search-email-and-password join_balgeure_register">회원가입</a></p>
           </div>
           
                <div class="simple-sns-login-method">
                    <ul class="simple-login-SNS">
            <li class="simple-login-SNS-list" id="naverLogin">
                <a class="member-SNS_Login member-SNS-naver-login"
                   data-popup='{&quot;window&quot;:true,&quot;url&quot;:&quot;#&quot;,&quot;type&quot;:&quot;POST&quot;,&quot;title&quot;:&quot;naver&quot;}'
                   data-segment='' href="#"><span class="member-SNS-login-icon member-SNS-login-icon-naver">naver</span> <strong
                        class="member-SNS-login-text">계정으로 회원가입</strong></a>
            </li>
            <li class="simple-login-SNS-list" id="facebookLogin">
                <a class="member-SNS_Login member-SNS-facebook-login"
                   data-popup='{&quot;window&quot;:true,&quot;url&quot;:&quot;#&quot;,&quot;type&quot;:&quot;POST&quot;,&quot;title&quot;:&quot;facebook&quot;}'
                   data-segment='' href="#"><span class="member-SNS-login-icon member-SNS-login-icon-facebook">facebook</span>
                    <strong class="member-SNS-login-text">계정으로 회원가입</strong></a>
            </li>
            <li class="simple-login-SNS-list" id="kakaoLogin">
                <a class="member-SNS_Login member-SNS-kakao-login"
                   data-popup='{&quot;window&quot;:true,&quot;url&quot;:&quot;#&quot;,&quot;type&quot;:&quot;POST&quot;,&quot;title&quot;:&quot;kakao&quot;}'
                   data-segment='' href="#"><span class="member-SNS-login-icon member-SNS-login-icon-kakao">kakao</span> <strong
                        class="member-SNS-login-text">계정으로 회원가입</strong></a>
            </li>
        </ul>
                </div>           
            </div>
   
</div>
<!-- S : 로거 환경변수 -->

         <form name="findIdForm" method="post">
	                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                        <div class="modal-dialog">
	                            <div class="modal-content">
	                                <div class="modal-header">
		                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
		                                <h4 class="modal-title" id="myModalLabel">아이디 찾기</h4>
	                                </div>
	                                <div class="modal-body">
	                                    <input type="hidden" class="R_email" id="R_email" name="R_email" value="$user.email">
		                                <input type="text" class="name" id="name" name="name" placeholder="이름"><br>
                                        <input type="text" class="phone" id="phone" name="phone" placeholder="핸드폰번호">
                                        <input type="text" class="email_id" id="email_id" name="email_id" value="" readonly>
                                        <span id="guide" style="color:#999"></span>
	                                </div>
	                                <div class="modal-footer">
		                                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
		                                <button type="button" class="btn btn-primary" id="findid" name="findid">확인</button>
	                                </div>
	                           </div>
	                       </div>
	                   </div>                   
    </form>
    
    <script>
        function PwBtn() {
        	location.href="auth/08_2_popup";
        }
    </script>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://googledrive.com/host/0B-QKv6rUoIcGREtrRTljTlQ3OTg"></script><!-- ie10-viewport-bug-workaround.js -->
    <script src="http://googledrive.com/host/0B-QKv6rUoIcGeHd6VV9JczlHUjg"></script><!-- holder.js -->
    <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
    
    <!-- Validation -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="jquery.validate.min.js"></script>
    <script type="text/javascript" src="additional-methods.min.js"></script>
    <script type="text/javascript" src="messages_ko.min.js"></script>
    <script src="/js/common/jquery-3.1.1.min.js"></script>
    
    <script>
$(function() {
    	$('#findid').on('click', function(e) {
    		e.preventDefault;
    		var name = $("#name").val();
    		var phone = $("#phone").val();
    		
    		var formData = new FormData();
    		
    		formData.append("name", name);
    		formData.append("phone", phone);
    		
    		$.ajax({
    			type: "POST",
    			url: "/my/privacy/findId",
    			data: formData,
    		    dataType: "text",
    		    contentType: false,
    		    processData: false,
    		    success: function(formData) {
    		    	console.log(formData);
    		    	$("#email_id").val(formData);
    		    },
    		    error:function(request,status,error) {
    		        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
    		    },
    		});
    	});
    });
</script>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '504225513300446',
            xfbml      : true,
            version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>



</body>
</html>