#parse("/main/header.vm")


<!-- S: 배너영역 -->
<!-- 베스트탭은 배너사용하지 않음 -->
<!-- E: 배너영역 -->

<script>
    try {
        $(function () {
            new MEMEBOX.SearchBarLoad("//search.memebox.com/");
        });
    } catch (e) {
    }
    ;
</script>


<div class="layout-structure-content">
    <!-- S: 발그레랭킹 중분류 -->
    <div class="filter-category-wrapper">
        <div class="filter-category-head">
            <div class="filter-category-content">
                <h3 class="filter-title">
                    <i class="filter-title-icon"></i>
                    <strong class="filter-title-text">발그레랭킹</strong>
                    <span class="filter-title-ranking">BEST 100</span>
                </h3>
                <div class="filter-date-time">
                    <span class="filter-date-time-text-head">발그레박스에서 가장 핫한 상품</span>
                    <span class="filter-date-time-text-number">2017/04/21 09:00</span>
                    <span class="filter-date-time-text-tail">기준</span>

                    <strong class="filter-guide-head">- 발그레랭킹 집계 기준</strong>
                    <div class="filter-guide">
                        <dl class="">
                            <dt class="filter-guide-title">발그레랭킹 집계 기준은?</dt>
                            <dd class="filter-guide-firstParagraph">
                                발그레랭킹 집계 기준은 매 정시 기준 누적 판매량 합산을 통해 <br> 결정됩니다
                            </dd>
                        </dl>
                        <dl class="">
                            <dt class="filter-guide-title">발그레랭킹 상세 집계 기준 및 업데이트 주기</dt>
                            <dd class="filter-guide-secondParagraph">
                                <ul class="filter-guide-updateCycle">
                                    <li>- 한 상품 당 판매실적, 상품 정보에 대한 가중치 집계</li>
                                    <li>- 매 정시 기준 이전 3시간 누적 집계</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-category">
        </div>

    </div><!-- e:filter-category-wrapper -->

    <!-- E: 발그레랭킹 중분류 -->

    <!-- S: TOP-3 상품 -->


    <!-- S: 상품 목록 -->
    #foreach($item in $showBestProduct.firstBanner)
    <div class="BestProductList_TopBanner_img">
    <img src="http://sumcrimage.cafe24.com/$!{item.thumbnail}" width="1080">
    </div>
    #end

    <div class="exhibit best-moreover"
         data-exhibit-name="moreover"
         data-exhibit-line-amount="3">
        <ul class="balgeurebox-deal-list balgeurebox-deal-list-line-amount-3"
            data-productlist-name="베스트 VS List"
            data-productlist-id="best"
            data-productlist-viewed=false>

            #foreach($item in $showBestProduct.productList)

            <li class="balgeurebox-deal-wrapper segment_product_item"
                segment-event="Product Clicked"
                data-product-brand="$!{item.brand.brandName}"
                data-product-price="$number.format($!{item.salePrice})"
                data-product-position="3"
                data-product-name="$!{item.prodName}">
                <div id="deal_510532"
                     class="balgeurebox-deal deal_type_vertical_square_amount_col_3"
                     data-index="4"
                     data-view-type="vertical"
                     data-view-expression="amount5_10"
                     data-image-type="square">
                    <div class="balgeurebox-deal-info">
                        <div class="balgeurebox-deal-image-wrap">
                            <img class="balgeurebox-deal-image"
                                 src="http://sumcrimage.cafe24.com/$!{item.thumbUrl}"
                                 alt="$!{item.prodName}" />
                        </div>

                        <div class="dealBody">

                            <div class="dealhead">
                                <span class="small_title_thum">&nbsp;</span>
                                <span class="balgeurebox-deal-name-main">
                                    $!{item.brand.brandName}
                                    / $!{item.prodName}
                                </span>
                            </div>

                            <div class="dealPrice">
                                <div class="balgeurebox-deal-price-wrap">
                                    <!--할인율 표기-->
                                    #if(${item.price} != ${item.salePrice})
                                    <div class="percent">
                                        $!{item.sale}                                        
                                    </div>
                                    <div class="balgeurebox-deal-price-unit">%</div>
                                    #end
                                </div>

                                <div class="product_Ori_Price">

                                    #if(${item.price} != ${item.salePrice})
                                    <del class="fL">$!{item.price}<span class="balgeurebox-deal-price-unit">원</span></del>
                                    #end
                                    <p class="balgeurebox-deal-price-result">
                                        <span class="price_value">$number.format($!{item.salePrice})</span>
                                        <span class="unit">원</span>
                                    </p>
                                </div>
                            </div>

                            <span class="balgeurebox-deal-review-count-value">${item.reviewCount}점</span>

                        </div>
                        <!--dealBody-->


                        <div class="dealFoot">
                            <div class="delivery_option_show">
                                #if($!{item.productDelivery.freeDelivery} != 0)
                                <span class="balgeurebox-deal-delivery-shipping">
                                    배송 $number.format($!{item.productDelivery.deliveryPrice})
                                    원
                                </span>
                                #end

                                #if($!{item.productDelivery.freeDelivery} == 0)
                                <span class="balgeurebox-deal-delivery-type">무료</span>
                                #elseif($!{item.productDelivery.freeDelivery} >= 1)
                                <span class="balgeurebox-deal-delivery-type">
                                    $number.format($!{item.productDelivery.freeDelivery})
                                    원 이상 무료배송
                                </span>
                                #end
                            </div>
                            
                            <div class="zzim_wishlist">
                                <a href="" class="go_to_wishlist_ZZim">
                                    <span id="zzimCheck513470" class="zzimCheck" title="찜하기">찜</span>
                                </a>
                            </div>
                            
                            <a class="balgeurebox-deal-link"
                               href="/detail?product_id=${item.productId}">
                                바로가기
                            </a>
                        </div>
                    </div>

                </div>




            </li><!-- e: balgeurebox-deal-wrapper -->
            #end

            ##                    여기까지 한개의 상품 목록

        </ul>
    </div><!-- end: exhibit-moreover -->
    <!-- E: 상품목록 -->
</div><!-- end: layout-structure-content-->

<!-- //container -->


<link type="text/css" href="/css/product/productCommon.css?v=1747Fr" rel="stylesheet" />

<!-- 배송정보 -->
<div id="fb-root"></div>
<script type="text/javascript">
    if (typeof String.prototype.trim !== 'function') {
        String.prototype.trim = function () {
            return this.replace(/^\s+|\s+$/g, '');
        }
    }
</script>
<script type="text/javascript" src="/web/js/vendor/jquery-1.9.1.min.js?v=1zg6-1wlu1iw"></script>
<script type="text/javascript" src="/web/js/vendor/store.min.js?v=1z4-ow7o7u"></script>
<script type="text/javascript" src="/web/js/optimize/jquery.cookie.js?v=155-sc6413"></script>
<script type="text/javascript" src="/web/js/vendor/bootstrap.carousel.min.js?v=2so-9297jl"></script>
<script type="text/javascript" src="/web/js/optimize/moment.js?v=u3g-hcxoym"></script>
<script type="text/javascript" src="/web/vendor/fancybox/jquery.fancybox.pack.js?v=hw3-pwygo5"></script>
<script type="text/javascript" src="/web/js/vendor/jquery.number.min.js?v=45v-7x98ds"></script>
<script type="text/javascript" src="/web/js/vendor/swag.min.js?v=e5m-13mr93z"></script>
<script type="text/javascript" src="/web/js/vendor/url.min.js?v=1g5-tp5fnq"></script>
<script type="text/javascript">

    !function () {
        var analytics = window.analytics = window.analytics || [];
        if (!analytics.initialize)if (analytics.invoked) window.console && console.error && console.error("Segment snippet included twice."); else {
            analytics.invoked = !0;
            analytics.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "page", "once", "off", "on"];
            analytics.factory = function (t) {
                return function () {
                    var e = Array.prototype.slice.call(arguments);
                    e.unshift(t);
                    analytics.push(e);
                    return analytics
                }
            };
            for (var t = 0; t < analytics.methods.length; t++) {
                var e = analytics.methods[t];
                analytics[e] = analytics.factory(e)
            }
            analytics.load = function (t) {
                var e = document.createElement("script");
                e.type = "text/javascript";
                e.async = !0;
                e.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.com/analytics.js/v1/" + t + "/analytics.min.js";
                var n = document.getElementsByTagName("script")[0];
                n.parentNode.insertBefore(e, n)
            };
            analytics.SNIPPET_VERSION = "3.1.0";
            analytics.load("9tsiYz7B0EtNE4w16UG9Kvz00Yf5yvdQ");

            analytics.page({
                path: window.location.pathname,
                url: window.location.href,
                platform: "pc"
            });

        }
    }();

    // Code from http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
    function isElementInViewport(el) {

        //special bonus for those using jQuery
        if (typeof jQuery === "function" || el instanceof jQuery) {
            el = el[0];
        }

        var rect = el.getBoundingClientRect();

        return (
                (rect.bottom > 0 && rect.bottom < (window.innerHeight || document.documentElement.clientHeight)) ||
                (rect.top > 0 && rect.top < (window.innerHeight || document.documentElement.clientHeight))
        );
    }

    // Called when a link to a product is clicked.
    function onProductClick(el) {
        var ret = {
            path: window.location.pathname,
            url: window.location.href,
            platform: "pc",
            id: $(el).data("product-id"),                               // Product ID
            name: $(el).data("product-name"),                           // Product Name
            brand: $(el).data("product-brand"),                         // Product Brand
            position: $(el).data("product-position") || $(el).index(),  // Product Position
            list: $(el).parent().data("productlist-name"),              // Product List
            currency: 'KRW',                                            // Currency: Korean Won
            price: $(el).data("product-price"),                         // Product Price
            label: $(el).data("product-name")                           // Product Name
        };
        // GTM tracking
        if (!!dataLayer) {
            dataLayer.push({
                'event': 'productClick',
                'ecommerce': {
                    'click': {
                        'actionField': {'list': ret.list},      // Optional list property.
                        'products': [{
                            'name': ret.name,                      // Name or ID is required.
                            'id': ret.id,
                            'brand': ret.brand,
                            'category': ret.list,
                            'variant': '',
                            'position': ret.position
                        }]
                    }
                }
            });
        }
        analytics.track("Product Clicked", ret, function () {
            window.location.href = '/product/' + $(el).data("product-id") + "?list=" + $(el).parent().data("productlist-name")
        });
    }


    $(function () {

        var productClickProperties = function (el) {
            var ret = {
                id: $(el).data("product-id"),                               // Product ID
                name: $(el).data("product-name"),                           // Product Name
                list_id: $(el).parent().data("productlist-id"),             // Product List id
                list_name: $(el).parent().data("productlist-name"),         // Product List name
                position: $(el).data("product-position") || $(el).index()   // Product Position
            };

            // GTM tracking
            if (!!dataLayer) {
                dataLayer.push({
                    'event': 'productClick',
                    'ecommerce': {
                        'click': {
                            'actionField': {'list': ret.list},      // Optional list property.
                            'products': [{
                                'name': ret.name,                      // Name or ID is required.
                                'id': ret.id,
                                'brand': ret.brand,
                                'category': ret.list,
                                'variant': '',
                                'position': ret.position
                            }]
                        }
                    }
                });
            }

            return ret;
        };
        analytics.trackLink($("[segment-event='Product Clicked']"), "Product Clicked", productClickProperties);
    });
</script>
<script type="text/javascript">
    function checkPromotionInViewport() {
        $(".segment_promotion_item").each(function () {
            if (isElementInViewport($(this)) && $(this).is(":visible")) {
                var promotion_id = $(this).data("promotion-id");
                var promotion_name = $(this).data("promotion-name");
                var promotion_creative = $(this).data("promotion-creative");
                var promotion_link = $(this).data("promotion-link");
                var promotion_position = $(this).data("promotion-position");
                analytics.track("Promotion Impression", {
                    id: promotion_id,                                   // v2.0
                    value1: promotion_link,                             // v2.0
                    promotion_id: promotion_id,                         // Promotion ID (Name for now since ID is not useful)
                    name: promotion_name,                               // Promotion Name
                    position: promotion_position                       // Promotion Position
                });
                $(this).removeClass('segment_promotion_item');
            }
        });
    }

    var timer_promotion;

    // When scrolling, track promotion impressions
    $(window).scroll(function () {
        if (timer_promotion) {
            window.clearTimeout(timer_promotion);
        }
        timer_promotion = window.setTimeout(function () {
            checkPromotionInViewport();
        }, 10);
    });

    $(document).ready(function () {
        checkPromotionInViewport();
    });
</script>


<script type="text/javascript">
    // Console.log Fallback (IE)
    if (!window.console) {
        window.console = new function () {
            this.log = function (str) {
            };
            this.dir = function (str) {
            };
        };
    };

    $(function () {


        // Top Banner > Close 버튼
        $("#closeTopBanner").click(function () {
            var cookieKey = 'topBanner';
            $("#topBanner").hide();
            $.cookie(cookieKey, '52130', {expires: 365, path: '/'});
        });

        $('.sideBannerR').on("click", '.fixed .topDownWrap .topDownBtn .top', function (e) {
            e.preventDefault();
            var $d =
            $(document);
                $d.scrollTop(0);
        });

        $('.sideBannerR').on("click", '.fixed .topDownWrap .topDownBtn .down', function (e) {
            e.preventDefault();
            var $d =
            $(document);
                $d.scrollTop(300000);
        });

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1&appId=1463989610483291";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    });

    $("#linkToUS").click(function () {
        $.cookie('countryCode', 'US', {expires: 365, path: '/'});
//    window.location = "http://us.memebox.com/?referrer=" + document.referrer;  //
        window.open("http://us.memebox.com/?referrer=" + document.referrer, '_blank');
    });
    $("#linkToCN").click(function () {
        $.cookie('countryCode', 'CN', {expires: 365, path: '/'});
//    window.location = "http://cn.memebox.com/?referrer=" + document.referrer;  //
        window.open("http://cn.memebox.com/?referrer=" + document.referrer, '_blank');
    });

    $('#addFavorite').click(function () {
        var title = '발그레박스';
        var url = 'http://www.memebox.com';

        if (window.sidebar && window.sidebar.addPanel) {
            window.sidebar.addPanel(title, url, "");
        } else if (document.all) {
            window.external.AddFavorite(url, title);
        } else { // 그외
            alert('Ctrl + D 를 누르면 발그레박스를 북마크에 추가하실 수 있습니다.');
        }
    });
    function goValidEscrow(service) {
        if (service == 'memebox_mobile') {
            window.open('https://pgweb.uplus.co.kr/pg/wmp/mertadmin/jsp/mertservice/s_escrowYn.jsp?mertid=memebox_mobile', '', 'width=340px, height=262px');
        }
    }

    /**
     * limitDate를 오픈날짜로 변경해주세요.
     */
    var limitDate = moment().format('2045-02-06 00:00:00');
    var nowDate = moment().format('YYYY-MM-DD HH:mm:ss');
    var type = Math.floor(Math.random() * 2) + 1;
    var uid = "";
    if (limitDate <= nowDate) {
        if ((/.memebox.com\/(.*)/g).test(document.location.href) && ( !uid) && ( !$.cookie('subscribersEmail'))) {
            $.get('/api/v4/subscribers/view?type=' + type, function (res) {
                if (res.data != '') {
                    $('body').append(res.data);
                }
            });
        }
    }

    var disableZzim = false;
    $('.newDealContents').delegate('.zzim', 'click', function (e) {
        e.stopPropagation();
        e.preventDefault();

        if (disableZzim === true) {
            return false;
        }

        var pageId = $(this).attr('data-pageId');
        var pageTitle = $(this).attr('data-title');

        if (!uid) {
            alert('찜하기는 로그인 후 사용 가능합니다.');
            return false;
        } else {
            if ($(this).hasClass('zzimOn') === false) {
                $(this).addClass('zzimOn');
                $(this).children('span').remove();
                var zzimApiUrl = '/api/rest/v4/wishList/addToWishList';
                var apiData = {pageId: pageId};

                $.ajax({
                    type: 'post',
                    url: zzimApiUrl,
                    data: apiData,
                    dataType: 'json',
                    cache: false
                }).done(function (jqXHR) {
                    // Segment Analytics: Tracks when user adds product to wishlist
                    analytics.track('Wishlist Added', {
                        id: pageId,
                        name: pageTitle
                    });

                    $('#zzimCheck' + pageId).show();
                    disableZzim = true;
                    setTimeout(function () {
                        $('#zzimCheck' + pageId).hide();
                        disableZzim = false;
                    }, 1000);
                    return false;
                }).fail(function (jqXHR) {
                    return false;
                }).always(function () {
                    return false;
                });
            } else {
                $(this).removeClass('zzimOn');
                $(this).append('<span class="zzimTag"></span>');
                var zzimApiUrl = '/api/rest/v4/wishList/removeWishListItemByUser';
                var apiData = {pageId: pageId};

                $.ajax({
                    type: 'post',
                    url: zzimApiUrl,
                    data: apiData,
                    dataType: 'json',
                    cache: false
                }).done(function (jqXHR) {
                    // Segment Analytics: Tracks when user adds product to wishlist
                    analytics.track('Wishlist Removed', {
                        id: pageId,
                        name: pageTitle
                    });
                    return false;
                }).fail(function (jqXHR) {
                    return false;
                }).always(function () {
                    return false;
                });
            }
        }

        return false;
    });

</script>

<script type="application/ld+json">
    {
    "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : "MEMEBOX",
    "url" : "http://www.memebox.com",
    "logo" : "http://s1cdn.memebox.com/web/images/logo_1024.png",
    "sameAs" : [
    "http://www.facebook.com/memebox",
    "http://instagram.com/memebox_korea",
    "https://www.youtube.com/user/memeboxseoul"
    ]
    }

</script>
<script type="application/ld+json">
    {
    "@context": "http://schema.org/",
    "@type": "SoftwareApplication",
    "name": "memebox",
    "operatingSystem": "ANDROID,IOS",
    "applicationCategory": "http://schema.org/ShoppingApplication",
    "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.6",
    "ratingCount": "8864"
    },
    "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "USD"
    }
    }

</script>

<script type="text/javascript" src="/web/js/optimize/virtualDealLoader.js?v=11v-1r8909l"></script>
<script type="text/javascript">
    new MEMEBOX.DealLoader({
        dealArea: $('.best-moreover'),
        pageCount: 6,
        url: '/vs/moreDeal.html'
    });
</script>

<script type="text/javascript">
    $(function () {
        $('.filter-category [segment-event="Button Clicked"]').click(function () {
            var nav_name = $(this).data('nav-name');
            var nav_position = $(this).data('nav-position');

            analytics.track("Button Clicked", {
                name: nav_name,
                position: nav_position
            });
        });
    });
</script>

<script type="text/javascript">
    function checkProductsInViewport() {
        $(".segment_product_item").each(function () {
            if (isElementInViewport($(this))) {
                var totalCount = $('#viewDeals').find('li').length || 0;
                var product_id = $(this).data("product-id");
                var product_name = $(this).data("product-name");
                var product_list_id = $(this).parent().data("productlist-id");
                var product_list_name = $(this).parent().data("productlist-name");
                var product_position = $(this).data("product-position") || ($(this).index() + (totalCount > 0 ? '_' + totalCount : ''));


                analytics.track("Product Impression", {
                    id: product_id,                                     // Product ID
                    name: product_name,                                 // Product Name
                    list_id: product_list_id,                           // Product List
                    list_name: product_list_name,                       // Product List
                    position: product_position                          // Product Position
                });

                $(this).removeClass('segment_product_item');

                if (!$(this).parent().data("productlist-viewed")) {
                    var product_list_name = $(this).parent().data("productlist-name");
                    var product_list_id = $(this).parent().data("productlist-id");

                    analytics.track("Product List Impression", {
                        list_id: product_list_id,                           // Product List ID
                        list_name: product_list_name                            // Product List Name

                    });

                    $(this).parent().data("productlist-viewed", true);
                }
            }
        });
    }

    // When Scrolling, track product impressions
    var timer_products;
    $(window).scroll(function () {
        if (timer_products) {
            window.clearTimeout(timer_products);
        }
        timer_products = window.setTimeout(function () {
            checkProductsInViewport();
        }, 10);
    });

    // On page load, track product impressions
    $(document).ready(function () {
        checkProductsInViewport();
    });

</script>


<script src="//ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript" src="/web/js/vendor/jquery.json-2.3.min.js?v=1oh-qv8one"></script>
<script type="text/javascript" src="/web/js/vendor/jquery.number.min.js?v=45v-7x98ds"></script>
<script type="text/javascript" src="/web/js/vendor/handlebars.runtime.min.js?v=5j8-tnhhik"></script>
<script type="text/javascript" src="/web/js/optimize/hbsRegister.js?v=6p-jl17un"></script>
<script type="text/javascript" src="/web/js/inc.js?v=vub-erkr8m"></script>
<script type="text/javascript" src="/web/js/productViewLog.js?v=h1-c1iguh"></script>
<script>
    (function () {
        $('.fixed').css({display: ''});
        $(window).bind('scroll resize', ProductViewLog.viewBanner);
        ProductViewLog.viewBanner();
    })();
</script>


<script type="text/javascript" src="/web/js/jquery.bxslider.min.js?v=exr-124op81"></script>
<script type="text/javascript">
    var awardList = $('#awardList').bxSlider({
        slideWidth: 178, // 310
        minSlides: 4,
        maxSlides: 4,
        moveSlides: 1,
        slideMargin: 0,
        nextSelector: '#btn_award_prev',
        prevSelector: '#btn_award_next',
        nextText: '',
        prevText: '',
        pager: false
    });

    $('#award_arrow_next').click(function (event) {
        var currentTarget = $(event.currentTarget);
        if (currentTarget.hasClass('award_next_on')) {
            awardList.goToNextSlide();
        }

        if (awardList.getSlideCount() - awardList.getCurrentSlide() == 4) {
            currentTarget.removeClass('award_next_on').addClass('award_next');
        } else if (currentTarget.hasClass('award_next')) {
            currentTarget.removeClass('award_next').addClass('award_next_on');
        }

        if (awardList.getCurrentSlide() != 0) {
            currentTarget.parents().find('#award_arrow_prev').removeClass('award_prev').addClass('award_prev_on');
        }
    });

    $('#award_arrow_prev').click(function (event) {
        var currentTarget = $(event.currentTarget);
        if (awardList.getCurrentSlide() != 0 && $('#award_arrow_prev').hasClass('award_prev_on')) {
            awardList.goToPrevSlide();
        }

        if (awardList.getCurrentSlide() == 0) {
            currentTarget.removeClass('award_prev_on').addClass('award_prev');
        } else {
            currentTarget.removeClass('award_prev').addClass('award_prev_on');
        }

        if (awardList.getSlideCount() - awardList.getCurrentSlide() != 4) {
            currentTarget.parents().find('#award_arrow_next').removeClass('award_next').addClass('award_next_on');
        }
    });

</script>

<script type="text/javascript" src="/web/js/utils/scriptLoader.js?v=1mq-7ptbr5"></script>
<!------------- 여기부터 복사 ------------------------>
<!-- DTSI SCRIPT -->
<script type="text/javascript" src="/web/js/optimize/adiz_sv110.js?v=8kw-g747c6"></script>
<!--// DTSI SCRIPT -->
<!------------- 여기 까지 복사 ------------------------>

<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script>

    if (!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "s_1f26e67e5df";
    if (!_nasa) var _nasa = {};
    wcs.inflow("memebox.com");

    wcs_do(_nasa);


    try {

        var _setlefttime = '360';
        var _FST_DOMAIN = location.protocol == "https:" ? "https://log.grucompany.co.kr" : "http://log.grucompany.co.kr";
        document.write(unescape("%3Cscript src='" + _FST_DOMAIN + "/adjs/kcadchk.js' type='text/javascript'%3E%3C/script%3E"));
    } catch (e) {
    }

    try {

        var _setlefttime = '1';
        var _FST_DOMAIN = location.protocol == "https:" ? "https://log.grucompany.co.kr" : "http://log.grucompany.co.kr";
        document.write(unescape("%3Cscript src='" + _FST_DOMAIN + "/adjs/kcadchk_drt.js' type='text/javascript'%3E%3C/script%3E"));
    } catch (e) {
    }


    try {
        var _beshow = document.createElement("script");
        _beshow.type = "text/javascript";
        _beshow.onload = function () {
            strack.execute('setDomain', 'memebox.com');
            strack.trackView();
        };
        _beshow.src = "//be.show/plugins/strack/strack.min.js?time=" + (new Date).getTime();
        document.head.appendChild(_beshow);
    } catch (e) {
    }


</script>

</body>
</html>
<script>
    $(document).ready(function () {
        try {
            if ($.cookie('showBanner') == 'done') {
                $('#floatingBannerBody').hide();
            } else {
                $('#floatingBannerBody').show();
            }

            // 00:00 시 기준 쿠키 설정하기
            // expiredays 의 새벽  00:00:00 까지 쿠키 설정
            function setCookie(name, value, expiredays) {
                var todayDate = new Date();
                todayDate = new Date(parseInt(todayDate.getTime() / 86400000) * 86400000 + 54000000);
                if (todayDate > new Date()) {
                    expiredays = expiredays - 1;
                }
                todayDate.setDate(todayDate.getDate() + expiredays);
                document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";";
            }

            $('#floatingCloseBtn').click(function (event) {
                event.stopPropagation();
                event.preventDefault();

                setCookie('showBanner', 'done', 1);
                $('#floatingBannerBody').hide();
                analytics.track("Button Clicked", {
                    category: 'Floating Banner',
                    label: 'Closed Floating Banner'
                })
            });

            $('#floatingBannerBody').click(function () {
                var url = '';
                $(location).attr('href', url);
                $('#floatingBannerBody').hide();
            });
        } catch (e) {
        }
        ;

    });
</script>


#parse("/main/footer.vm")
