    <div id="footer" class="mA">
        <div class="footerTopInner">
            <ul class="oF landing">
                <li class="footerList_01">
                    <a href="https://memebox.recruiter.co.kr/" target="_blank">
                        <span class="icon_05 icon"></span>
                        <span class="landingText">세상을 바꾸는<br/>발그레 인재채용</span>
                    </a>
                </li>
                <li class="footerList_02">
                    <a href="/render/15939">
                        <span class="icon_01 icon"></span>
                        <span class="landingText">온라인 화장품 구매<br/>믿어도 될까요?</span>
                    </a>
                </li>
                <li class="footerList_03">
                    <a href="/render/16098">
                        <span class="icon_02 icon"></span>
                        <span class="landingText">발그레가 배송하는<br/>특별한 발그레배송!</span>
                    </a>
                </li>
                <li class="footerList_04">
                    <a href="/render/16089">
                        <span class="icon_03 icon"></span>
                        <span class="landingText">실패없는 쇼핑을 위한<br/>90일 환불 정책</span>
                    </a>
                </li>
                <li class="footerList_05">
                    <a href="/offlinestore/immeme">
                        <span class="icon_04 icon"></span>
                        <!--<span class="landingText">I'M MEME<br/>오프라인에서 만나보기</span>-->
                        <span class="landingText">발그레<br/>오프라인 스토어</span>
                    </a>
                </li>
            </ul>
            <div class="footerMiddle">
                <p class="csCenter fL">
                    <span class="call"></span>
                    <strong><a href="/cs/faq">고객 감동 서비스센터 ></a></strong>
                    <span>평일 9:00 - 18:00(주말/공휴일 제외)</span>
                </p>
                <dl>
                    <dt class="recruit">기업 문화</dt>
                    <dd>
                        <a class="mg_t" href="http://blog.naver.com/memebox" target="_blank">기업문화 블로그 보기 > </a>
                        <a class="mg_t" href="http://www.facebook.com/playmemebox" target="_blank">기업문화 페이스북 보기 > </a>
                        <a class="mg_t"
                           href="http://img2.memebox.com/static/contents/img/upload/contents_20160926141749_f3H73NLEoz.pdf"
                           target="_blank" ga-event="푸터,푸터_플레이북">PLAYBOOK 2015 Ver DOWNLOAD > </a>
                        <a class="mg_t"
                           href="http://img2.memebox.com/static/contents/img/upload/contents_20160926141840_WKTIHpU6lD.pdf"
                           target="_blank" ga-event="푸터,푸터_플레이북">PLAYBOOK 2016 Ver DOWNLOAD > </a>
                    </dd>
                </dl>
                <dl>
                    <dt>고객의 소리</dt>
                    <dd>
                        <span class="gText">고객님의 소리에<br/>더 다가가겠습니다.</span>
                        <a href="/cs/inquiry/" ga-event="푸터,푸터_1:1문의">제안하러 가기 ></a>
                    </dd>
                </dl>
                <dl class="partner">
                    <dt>파트너 서비스</dt>
                    <dd>
                        <ul>
                            <li>
                                <a href="mailto:partners@memebox.com">온라인 입점 문의 ></a>
                                <div class="copyBox p_left">partners@memebox.com</div>

                            </li>
                            <li>
                                <a class="mg_t" href="mailto:b2b@memebox.com">WHOLESALE 문의 ></a>
                                <div class="copyBox">b2b@memebox.com</div>
                            </li>
                            <li>
                                <a class="mg_t" href="mailto:partner_mkt@memebox.com">광고/프로모션 문의 ></a>
                                <div class="copyBox">partner_mkt@memebox.com</div>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <div class="cB"></div>
            </div>
            <div class="memeBoxInfo oF">
                <a class="footerLogo fL" href="/"></a>
                <div class="textBox fL">
                    <ul class="oF">
                        <li>
                            <a href="http://corp.memebox.com" target="_blank">회사소개</a>
                            <span class="bar">|</span>
                        </li>
                        <li>
                            <a href="/policy/agreement" ga-event="푸터,푸터_이용약관">이용약관</a>
                            <span class="bar">|</span>
                        </li>
                        <li>
                            <a href="/policy/privacy" ga-event="푸터,푸터_개인정처리급방침"><strong>개인 정보 처리 방침</strong></a>
                            <span class="bar">|</span>
                        </li>
                        <li>
                            <a href="/policy/youth">청소년 보호 정책</a>
                            <span class="bar">|</span>
                        </li>
                        <li><a href="/policy/email">이메일 무단 수집 거부 방침</a></li>
                    </ul>
                    <address>
                        주식회사 숨크리에이티브 | 대표자 : 채경민 | 개인 정보 보호 책임자 : 채경민 | 사업자등록번호 484-88-00453 <a
                            href="http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=2118847525"
                            target="_blank" ga-event="푸터,푸터_사업자정보확인">사업자 정보 확인 ></a><br/>
                        통신판매 신고번호 : 2016-서울금천-1048 | <br/>
                        본사 : 서울특별시 금천구 가산디지털1로 149, 802호 | <a
                            href="/render/8386" target="_parent" ga-event="푸터,푸터_오시는길">발그레 오시는길 ></a><br/>
                        <span class="e_text">Copyright ﻿ⓒ 발그레-주식회사 숨크리에이티브 2017. All rights reserved.</span><br/>
                        <span class="lastLine"><strong>LG U+ 구매 안전 서비스</strong> : 고객님의 안전거래를 위해 현금 등으로 결제 시, 저희 사이트에서 가입한 구매안전 서비스를 이용하실 수 있습니다. <a
                                onclick="goValidEscrow('memebox_mobile');" style="cursor:pointer;"
                                ga-event="푸터,푸터_구매안전서비스">서비스 가입 확인 ></a></span>
                    </address>
                </div>
            </div>
        </div>
        <div class="footerBottomOuter">
            <div class="footerBottomInner">

                <div class="award fL">
                    <ul id="awardList" class="badge fL">
                        <li class="list10">
                            <span class="mark_09 mark"></span>
                            <span class="listText">앱어워드코리아 2016<br/>뷰티부문 대상수상</span>
                        </li>
                        <li class="list1">
                            <span class="mark_08 mark"></span>
                            <span class="listText">여성가족부 주관<br/>가족친화 우수기업</span>
                        </li>
                        <li class="list2">
                            <span class="mark_06 mark"></span>
                            <span class="listText">스마트앱어워드 2015<br/>전문쇼핑부문 대상</span>
                        </li>
                        <li class="list3">
                            <span class="mark_07 mark"></span>
                            <span class="listText">HWB Award 2015<br/>BEST New Brand</span>
                        </li>
                        <li class="list4">
                            <span class="mark_05 mark"></span>
                            <span class="listText">대한민국 리딩기업<br/>2015 대상</span>
                        </li>
                        <li class="list5">
                            <span class="kobacoMark"></span>
                            <span class="kobacoText">혁신형중소기업 선정</span>
                        </li>
                        <li class="list6">
                            <span class="mark_01 mark"></span>
                            <span class="listText">2015 한국소비자<br/>만족지수 1위</span>
                        </li>
                        <li class="list7">
                            <span class="mark_04 mark"></span>
                            <span class="listText">여성친화<br/>일촌기업 협약</span>
                        </li>
                        <li class="list8">
                            <span class="mark_02 mark"></span>
                            <span class="listText">나는 글로벌 벤처다<br/>2013 대상</span>
                        </li>
                        <li class="list9">
                            <span class="mark_03 mark"></span>
                            <span class="listText">제 7회 대한민국<br/>인터넷 대상 특별상</span>
                        </li>
                    </ul>
                    <span id="award_arrow_prev" class="award_prev list_arrow tI" data-action="prev">이전 수상내역</span>
                    <span id="award_arrow_next" class="award_next_on list_arrow tI" data-action="next">다음 수상내역</span>
                </div>
                <div class="snsNavi fR">
                    <a class="insta" href="http://instagram.com/memebox_korea" target="_blank" ga-event="푸터,푸터_인스타그램">인스타그램
                        바로가기</a>
                    <a class="faceBook" href="http://www.facebook.com/memebox" target="_blank" ga-event="푸터,푸터_페이스북">페이스북
                        바로가기</a>
                    <a class="youtube" href="https://www.youtube.com/user/memeboxseoul" target="_blank"
                       ga-event="푸터,푸터_유투브">유뷰트 바로가기</a>
                </div>
                <div class="globalWrap fR">
                    <a class="global">
                        <span class="arrow"></span>
                        <span class="text fW">FAMILY SITE</span>
                    </a>
                    <div class="globalSelect">
                        <ul>
                            <li>
                                <a href="http://corp.memebox.com" target="_blank">
                                    <span class="globalIcon corp"></span>
                                    <span class="globalText">발그레 기업사이트</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://​iammeme.com" target="_blank">
                                    <span class="globalIcon immeme"></span>
                                    <span class="globalText">I'M MEME 아임발그레</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://ponyeffect.com" target="_blank">
                                    <span class="globalIcon ponyEffect"></span>
                                    <span class="globalText">Pony Effect 포니이펙트</span>
                                </a>
                            </li>
                            <!--
                        <li>
                            <a href="http://star.memebox.com" target="_blank">
                                <span class="globalIcon memeStar"></span>
                                <span class="globalText">발그레스타</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.shadecode.co.kr/" target="_blank">
                                <span class="globalIcon shadeCode"></span>
                                <span class="globalText">셰이드코드</span>
                            </a>
                        </li>
                        -->
                            <li>
                                <a id="linkToUS" ga-event="푸터,푸터_미국">
                                    <span class="globalIcon usa"></span>
                                    <span class="globalText">MEMEBOX USA</span>
                                </a>
                            </li>
                            <li>
                                <a id="linkToCN" ga-event="푸터,푸터_중국">
                                    <span class="globalIcon china"></span>
                                    <span class="globalText">MEMEBOX CHINA</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 배송정보 -->


</div>
<div id="fb-root"></div>
<div style="display:none;">졸업 선물, 크리스마스. 여자, 여자친구, 크리스마스 선물, 연말, 크리스마스 선물 추천, 발그레, 발그레, 화장품, 뷰티, 아임발그레, 발그레딜, 스킨케어, 메이크업,
    헤어, 세일,바디, 향수, 도구, 기기, 한정특가, 베스트, best, 신상품, new, 기획전, 브랜드, 할인,럭키박스, 응모, 무료, 무료배송, 쿠폰, 포인트, 리뷰, 후기, 팁, 발그레배송, 누니,
    아임발그레90일 환불, 환불, 소비자 만족, 대상, 여성친화, 혁신, 인스타그램, 페이스북, 유튜브, 본비반트, 포니이펙트, 아임멀티스틱그리니프, 네이처리퍼블릭, 뉴스킨, 니베아, 닥터브로너스, 닥터자르트,
    더샘, 마몽드더스킨하우스, 더페이스샵, 데메테르, 듀이트리, 라라, 라벨영, 로레알, 루나, 맥퀸,메이블린, 미슬린, 밀키드레스, 바닐라코, 베네피트, 비쉬, 시세이도, 시크릿키, 아르데코, 아리따움,
    아모레퍼시픽, 아벤트, 아이오페, 애경, 어퓨, 에뛰드, 에스쁘아,에스쁘아, 에스테틱하우스, 엘리카, 오리지날 로우, 오리진스, 이니스프리, 입큰, 잇츠스킨, 제스파, 캐트리스, 캔메이크, 크리니크, 클리오,
    키스미, 토니모리, 페리페라피지오겔, 홀리카홀리카, MAC, 생활건강, 틴트, BB, 파우더, 립스틱, 파운데이션,립글로즈, 마스카라, 아이라이너, 메니큐어, 리무버, 클리너, 폼클렌징, 수분크림,아이크림,
    수면팩, 팩, 수분, 썬크림, 향수, 에센스, 토너, 미스트, 로션, 스킨,핸드크림, 클렌징오일, 클렌징크림, 클렌징워터, 바디로션, 오일, 샴푸, 바디샴푸,바디미스트, 컨실러, 속눈썹, 마스크팩, 메이크업,
    필링, 필러, 바디워시, 세럼, 아이섀도우, 선물, 세트, 팩트, 크림, 브러쉬, 아이브로우, 비누, 쿠션, 모공, 추천, 화장법, 화장품
</div>
