<!DOCTYPE html>
<html lang="ko">
<head>

    <meta charset="utf-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>발그레::내 삶을 아름답게!</title>

    <meta name="description"
          content="뷰티No1커머스, 발그레와 뷰티 트렌드를 쇼핑한다. 뷰티커머스, 발그레배송, 아임발그레, 기획전, 한정특가, 신규상품, 할인상품, 발그레, 추천, 졸업 선물, 크리스마스, 여자, 여자친구, 크리스마스 선물,  크리스마스 선물 추천, 연말, ">
    <meta name="keyword"
          content="졸업 선물, 크리스마스. 여자, 여자친구, 크리스마스 선물, 연말, 크리스마스 선물 추천, 발그레, 발그레, 화장품, 뷰티, 아임발그레, 발그레딜, 스킨케어, 메이크업, 헤어, 세일,바디, 향수, 도구, 기기, 한정특가, 베스트, best, 신상품, new, 기획전, 브랜드, 할인, 응모, 무료, 무료배송, 쿠폰, 포인트, 리뷰, 후기, 팁, 발그레배송, 환불, 소비자 만족, 대상, 여성친화, 혁신, 인스타그램, 페이스북, 유튜브, 네이처리퍼블릭, 뉴스킨, 니베아, 닥터브로너스, 닥터자르트, 더샘, 마몽드더스킨하우스, 더페이스샵, 데메테르, 듀이트리, 라라, 라벨영, 로레알, 루나, 맥퀸,메이블린, 미슬린, 밀키드레스, 바닐라코, 베네피트, 비쉬, 시세이도, 시크릿키, 아르데코, 아리따움, 아모레퍼시픽, 아벤트, 아이오페, 애경, 어퓨, 에뛰드, 에스쁘아,에스쁘아, 에스테틱하우스, 엘리카, 오리지날 로우, 오리진스, 이니스프리, 입큰, 잇츠스킨, 제스파, 캐트리스, 캔메이크, 크리니크, 클리오, 키스미, 토니모리, 페리페라피지오겔, 홀리카홀리카, MAC, 생활건강, 틴트, BB, 파우더, 립스틱, 파운데이션,립글로즈, 마스카라, 아이라이너, 메니큐어, 리무버, 클리너, 폼클렌징, 수분크림,아이크림, 수면팩, 팩, 수분, 썬크림, 향수, 에센스, 토너, 미스트, 로션, 스킨,핸드크림, 클렌징오일, 클렌징크림, 클렌징워터, 바디로션, 오일, 샴푸, 바디샴푸,바디미스트, 컨실러, 속눈썹, 마스크팩, 메이크업, 필링, 필러, 바디워시, 세럼, 아이섀도우, 선물, 세트, 팩트, 크림, 브러쉬, 아이브로우, 비누, 쿠션, 모공, 추천, 화장법, 화장품">
    <meta name="robots" content="index,follow">

    <meta name="application-name" content="발그레" />
    <meta name="msapplication-tooltip" content="발그레, 내 삶을 아름답게!" />
    <meta name="msapplication-starturl" content="http://www.naver.com/" />
    <meta name="msapplication-task" content="name=베스트 상품;action-uri=/shop/best;icon-uri=/favicon.ico" />
    <meta name="msapplication-task" content="name=신규등록 상품;action-uri=/shop/new;icon-uri=/favicon.ico" />
    <meta name="msapplication-task" content="name=한정특가 상품;action-uri=/shop/1121;icon-uri=/favicon.ico" />
    <meta name="msapplication-task" content="name=기획전;action-uri=/promotion;icon-uri=/favicon.ico" />
    <meta name="msapplication-task" content="name=브랜드관;action-uri=/shop/brands;icon-uri=/favicon.ico" />
    <meta name="msapplication-task" content="name=스킨케어;action-uri=/shop/skincare;icon-uri=/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/mainCommon.css">

    <!-- login dim-layer css start -->
    <link rel="stylesheet" type="text/css" href="/css/auth/login-popup-layer.css">
    <!-- login dim-layer css start -->

    <style>
        .bx-wrapper .bx-viewport {
            border: 0px;
            /*left: -5px;*/
        }
    </style>

    <link type="text/css" href="/css/myPage/searchBar.css" rel="stylesheet" />
    ##    productDetail CSS
    <link type="text/css" href="/css/product/shop.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/product/deal_add.css">
    <link type="text/css" href="/css/product/home.css" rel="stylesheet" />
    <link type="text/css" href="/css/product/review.css" rel="stylesheet" />
    <link type="text/css" href="/css/product/lightbox.css" rel="stylesheet" />
    <link type="text/css" href="/css/product/bootstrap.carousel.css" rel="stylesheet" />
    ## productDetail Modal popup

    <link rel="stylesheet" type="text/css" href="/css/mainCommon.css">

    ## 메인 메뉴의 메인 배너 효과
    <link rel="stylesheet" href="/css/main/accordly.css">
    <link rel="stylesheet" href="/css/main/slidy.css">

    <link rel="stylesheet" type="text/css" href="/css/header/index.css" />

    <link href="/css/loginCommon.css?v=2km-17bbwp3" rel="stylesheet" type="text/css">
    <link href="/css/loginCommon.css" rel="stylesheet" type="text/css">
    <link href="/css/loginCommon.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="/css/loginCommon.css?v=7kc-1n234ch" rel="stylesheet" type="text/css">


    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body ondragstart="return false">
    ## 메인 최상단 배너
    <div id="wrap">
        <div class="banner">
            <div class="row">
                <div style="background-color: #757672; width: 100%;">
                </div>
            </div>

        </div>
        <div class="btn_close" style="display:none;">
            <input type="checkbox" id="top_check" />
            <label for="top_check">1일간 열지 않음</label>

        </div>
    </div>
    <div id="wrap">

        <!-- u_skip -->
        <div id="u_skip">
        </div>
        <!-- //u_skip -->

        <div id="balgeure_header">
            <div id="header_v2">
                <div class="gnbTop">
                    <ul>
                        <li class="ask_to_enter_balgeure">
                            <a class="link oF" href="#">
                                <span class="email_to_sumIcon fL"></span>
                                <span class="email_sum_txt fL">입점문의</span>
                            </a>
                        </li>
                        <li>
                            <span class="bar">|</span>
                        </li>
                        <li class="appDown">
                            <a class="link oF" href="/extra/appDownSms">
                                <span class="appDownIcon fL"></span>
                                <span class="appText fL">APP 다운로드</span>
                            </a>
                        </li>
                    </ul>
                    <div class="link_text_onRightside_top">
                        <ul class="gnbTopRight fR">
                            <li class="event_and_coupon_page">
                                <a href="#">
                                    <span class="dP fL">이벤트/쿠폰/멤버십</span>
                                </a>
                            </li>

                            <li class="weekly_best_product_lists">
                                <span class="gnbTopRight_bar">|</span>
                                <a href="#">
                                    <span class="dP fL">주간베스트</span>
                                </a>
                            </li>
                            <li class="hover">
                                <span class="gnbTopRight_bar">|</span>
                                <a class="navi" href="/cs/faq">
                                    <span class="fL">고객센터</span>
                                    <span class="arrow fL"></span>
                                </a>
                                <div class="topMenu_over cs">
                                    <div class="topMenu_over_inner">
                                        <ul>
                                            <li><a href="/cs/faq">자주 묻는 질문</a></li>
                                            <li><a href="/cs/delivery">배송안내</a></li>
                                            <li><a href="/my/qna">1:1문의</a></li>
                                        </ul>
                                    </div>
                                    <div class="shadowBox"></div>
                                </div>

                            </li>

                        </ul>
                    </div>
                </div><!--myMenu-->
                <div class="gnbLogoOuter">
                    <div class="gnbLogo mA">
                        <a class="balgeureLogo tI fL" href="/main"><h1>발그레</h1></a>
                        <div class="newSearchWrap" id="searchInputBox">
                            <div class="searchBar-wrap">
                                <div class="searchBar-inputBox-wrap">
                                    <form id="searchForm" class="searchBar-inputBox" method="get" action="/product/search">
                                        <label class="searchBar-inputBox-label">
                                            <span class="searchBar-inputBox-text">search bar</span>
                                            <input id="search" class="searchBox ui-autocomplete-input searchBar-inputBox-input"
                                                   type="text" name="search" placeholder="ㅇㅇ?!">
                                            <span class="searchBar-inputBox-reset" id="sb-q-rm" style="display: block;"></span>
                                        </label>
                                        <input type="submit" class="iconSearch searchBar-inputBox-submit" id="searchBtn" value="검색">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="topRollingBannerWrap fR" data-components-data="2">
                            <ul class="right_side_gnb_menu">
                                <li class="my_cart_page">
                                    <div id="MyCart_icon_header">
                                        <a href="/basketList">
                                            <span class="quantity-txt" id="basket_count">0</span>
                                            <span class="dP fL Right_txt">장바구니</span>
                                        </a>
                                    </div>
                                </li>
                                <li class="my_wishlist_page">
                                    <div id="MyWishlist_icon_header">
                                        <a href="/my/wishList">
                                            <span class="quantity-txt" id="wish_count">0</span>
                                            <span class="dP fL Right_txt">찜리스트</span>
                                        </a>
                                    </div>
                                </li>
                                #if($login)
                                <li class="memberlogin_icons">
                                    <div id="balgeure_member_login_btn">
                                        <div class="Bal_member_info">
                                            <span class="logintxt">$!request.getSession().getAttribute("user").name님!</span>
                                            <a class="navi mypageBtn" href="/my/index">
                                                <span class="mypagetxt">마이페이지</span>
                                            </a>
                                        </div>

                                        <div class="sub_balgeure_member_login">
                                            <span class="upside_arrow_on_dropdown"></span>
                                            <div class="small_contents">
                                                <ul class="login_balgeure_btn">
                                                    <li class="">
                                                        <a class="navi loginBtn" href="/logout" style="text-decoration: none;">로그아웃</a>
                                                    </li>
                                                </ul>
                                                <a href="/my/index">
                                                    <span class="mypage_dropdown_menu" style="text-decoration: none;">마이페이지</span>
                                                </a>
                                                <ul class="mypage_sublist After_login">
                                                    <li class="afterlogin_dropdown_menu"><a href="/my/order">주문/배송조회</a></li>
                                                    <li class="afterlogin_dropdown_menu"><a href="/my/qna">1:1문의</a></li>
                                                    <li class="afterlogin_dropdown_menu"><a href="/my/wishList">쿠폰</a></li>
                                                    <li class="afterlogin_dropdown_menu"><a href="/my/point">적립금</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                #else
                                <li class="memberlogin_icons">
                                    <div id="balgeure_member_login_btn">
                                        <div class="Bal_member_info">
                                            <!-- <a class="navi loginBtn" href="/login">
                                                <span class="logintxt">로그인</span>
                                            </a> -->

                                            <a href="#layer2" class="btn-example">로그인</a>

                                            <a class="navi mypageBtn" href="/my/index">
                                                <span class="mypagetxt">마이페이지</span>
                                            </a>
                                        </div>
                                        <div class="sub_balgeure_member_login">
                                            <span class="upside_arrow_on_dropdown"></span>
                                            <div class="small_contents">
                                                <ul class="login_balgeure_btn">
                                                    <li class="">
                                                        <a href="#layer2" class="loginBtn btn-example" style="text-decoration: none;">로그인</a>
                                                    </li>
                                                </ul>

                                                <!-- login dim-layer start -->
                                                <div class="dim-layer">
                                                    <div class="dimBg"></div>
                                                    <div id="layer2" class="pop-layer">
                                                        <div class="pop-container">


                                                            <div class="layout-structure-content">
                                                                <h1 class="header-main-content-logo-center">
                                                                    <a class="back-home" href="/"><img src="/img/login/rebbit.png" width="100px" height="100px"></a>
                                                                </h1>
                                                                <p class="text_under_header">발그레에서 싸게 쇼핑하자</p>
                                                                <div class="login-title-image">
                                                                    <span class="login-bigtitle-img"><img src="/img/login/login_title.png" height="35"></span>
                                                                </div>
                                                                <div class="login_form_onpage">
                                                                    <form id="sky-form1" class="log-reg-block sky-form" action="/loginPost" method="post">
                                                                        <section>
                                                                            <label class="login-input-text">
                                                                                <div class="input-group-id">
                                                                                    <input type="text" placeholder="이메일 (아이디)" name="username" class="form-control_email">

                                                                                </div>
                                                                            </label>
                                                                        </section>

                                                                        <section>
                                                                            <label class="login-input-text-pw">
                                                                                <div class="input-group-pw">
                                                                                    <input type="password" placeholder="비밀번호" name="password"
                                                                                           class="form-control_pw">

                                                                                </div>
                                                                            </label>
                                                                        </section>

                                                                        <div class="row margin-bottom-5">
                                                                            <div class="col-xs-6">
                                                                                <label class="checkbox_on_loginform">
                                                                                    <input type="checkbox" name="useCookie" class="login_form_checkbox">
                                                                                    자동 로그인
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="login-submit-button">
                                                                            <button class="balgeure_login_submit-Btn" type="submit" value="login">로그인</button>
                                                                        </div>

                                                                    </form>

                                                                    <div class="search_id_and_pw_register">
                                                                        <p class="text-center">
                                                                            <a href="#" data-toggle="modal" data-target="#myModal" class="search-email-and-password find_balgeure_email">이메일(아이디) 찾기</a>  |
                                                                            <a href="/goFindPw" class="search-email-and-password find_balgeure_password">비밀번호 찾기</a>  |
                                                                            <a href="/regist" class="search-email-and-password join_balgeure_register">회원가입</a>
                                                                        </p>
                                                                    </div>

                                                                    <div class="simple-sns-login-method">
                                                                        <ul class="simple-login-SNS">
                                                                            <li class="simple-login-SNS-list" id="naverLogin">
                                                                                <a class="member-SNS_Login member-SNS-naver-login"
                                                                                   data-popup='{&quot;window&quot;:true,&quot;url&quot;:&quot;#&quot;,&quot;type&quot;:&quot;POST&quot;,&quot;title&quot;:&quot;naver&quot;}'
                                                                                   data-segment='' href="#">
                                                                                    <span class="member-SNS-login-icon member-SNS-login-icon-naver">naver</span> <strong class="member-SNS-login-text">계정으로 회원가입</strong>
                                                                                </a>
                                                                            </li>
                                                                            <li class="simple-login-SNS-list" id="facebookLogin">
                                                                                <a class="member-SNS_Login member-SNS-facebook-login"
                                                                                   data-popup='{&quot;window&quot;:true,&quot;url&quot;:&quot;#&quot;,&quot;type&quot;:&quot;POST&quot;,&quot;title&quot;:&quot;facebook&quot;}'
                                                                                   data-segment='' href="#">
                                                                                    <span class="member-SNS-login-icon member-SNS-login-icon-facebook">facebook</span>
                                                                                    <strong class="member-SNS-login-text">계정으로 회원가입</strong>
                                                                                </a>
                                                                            </li>
                                                                            <li class="simple-login-SNS-list" id="kakaoLogin">
                                                                                <a class="member-SNS_Login member-SNS-kakao-login"
                                                                                   data-popup='{&quot;window&quot;:true,&quot;url&quot;:&quot;#&quot;,&quot;type&quot;:&quot;POST&quot;,&quot;title&quot;:&quot;kakao&quot;}'
                                                                                   data-segment='' href="#">
                                                                                    <span class="member-SNS-login-icon member-SNS-login-icon-kakao">kakao</span> <strong class="member-SNS-login-text">계정으로 회원가입</strong>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <!-- S : 로거 환경변수 -->

                                                            <form name="findIdForm" method="post">
                                                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                                                <h4 class="modal-title" id="myModalLabel">아이디 찾기</h4>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <input type="hidden" class="R_email" id="R_email" name="R_email" value="$user.email">
                                                                                <input type="text" class="name" id="name" name="name" placeholder="이름"><br>
                                                                                <input type="text" class="phone" id="phone" name="phone" placeholder="핸드폰번호">
                                                                                <input type="text" class="email_id" id="email_id" name="email_id" value="" readonly>
                                                                                <span id="guide" style="color:#999"></span>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                                                                                <button type="button" class="btn btn-primary" id="findid" name="findid">확인</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>

                                                            <script>
        function PwBtn() {
        	location.href="auth/08_2_popup";
        }
                                                            </script>

                                                            <script src="http://code.jquery.com/jquery-latest.min.js"></script>
                                                            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
                                                            <script src="http://googledrive.com/host/0B-QKv6rUoIcGREtrRTljTlQ3OTg"></script><!-- ie10-viewport-bug-workaround.js -->
                                                            <script src="http://googledrive.com/host/0B-QKv6rUoIcGeHd6VV9JczlHUjg"></script><!-- holder.js -->
                                                            <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>

                                                            <!-- Validation -->
                                                            <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
                                                            <script type="text/javascript" src="jquery.validate.min.js"></script>
                                                            <script type="text/javascript" src="additional-methods.min.js"></script>
                                                            <script type="text/javascript" src="messages_ko.min.js"></script>
                                                            <script src="/js/common/jquery-3.1.1.min.js"></script>

                                                            <script>
$(function() {
    	$('#findid').on('click', function(e) {
    		e.preventDefault;
    		var name = $("#name").val();
    		var phone = $("#phone").val();

    		var formData = new FormData();

    		formData.append("name", name);
    		formData.append("phone", phone);

    		$.ajax({
    			type: "POST",
    			url: "/my/privacy/findId",
    			data: formData,
    		    dataType: "text",
    		    contentType: false,
    		    processData: false,
    		    success: function(formData) {
    		    	console.log(formData);
    		    	$("#email_id").val(formData);
    		    },
    		    error:function(request,status,error) {
    		        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
    		    },
    		});
    	});
    });
                                                            </script>

                                                            <script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '504225513300446',
            xfbml      : true,
            version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
                                                            </script>
                                                            <div class="btn-r">
                                                                <a href="#" class="btn-layerClose">Close</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script type="text/javascript" src="/js/auth/login-popup-layer.js"></script>
                                                <!-- login dim-layer end -->

                                                <div class="logintype_on_balgeure">
                                                    Login with
                                                    <div class="login_icons">
                                                        <a href="#" onclick="naverLogin();" class="sprite naver">n</a>
                                                        <a href="#" onclick="fbLogin();" class="sprite facebook">f</a>
                                                        <a href="#" onclick="naverLogin();" class="sprite kakaotalk">k</a>
                                                    </div>
                                                </div>
                                                <a class="navi joining_balgeure" href="/regist" style="text-decoration: none;">회원가입</a>
                                                <a href="/my/index">
                                                    <span class="mypage_dropdown_menu">마이페이지</span>
                                                </a>
                                                <ul class="mypage_sublist After_login">
                                                    <li class="afterlogin_dropdown_menu"><a href="/my/order">주문/배송조회</a></li>
                                                    <li class="afterlogin_dropdown_menu"><a href="/my/qna">1:1문의</a></li>
                                                    <li class="afterlogin_dropdown_menu"><a href="/my/wishList">쿠폰</a></li>
                                                    <li class="afterlogin_dropdown_menu"><a href="/my/point">적립금</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                #end
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- S : NEW GNB -->
                <div class="gnbOuter">
                    <div class="newGnb mA">
                        <h2 class="hidden">글로벌 네비게이션 영역</h2>
                        <h3 class="categoryWrap dP fL">
                            <a class="category" ga-event="menu,menu_total">
                                <span class="categoryIcon_01 dp fL"></span>
                                <span class="categoryText dp fL">전체 카테고리</span>
                                <span class="categoryIcon_02 dp fR" id="categoryIcon"></span>
                            </a>

                            <!--start fixCategory------------------------------------->
                            <!--고정 카테고리-->

                            <div class="fixCategory">

                                #foreach($Category in $category)
                                <ul>
                                    #if($dd != $Category.lv2_id)
                                    <li class="fix_li">

                                        <a href="/category/179" ga-event="menu_total,menu_메이크업" segment-event="Nav Clicked"
                                           data-nav-type="Global Navigation">$Category.lv2</a>
                                        #end
                                        <!--마우스 오버 펼쳐짐-->
                                        <div class="fixCategory_side">
                                            <div class="fixCategory_side_inner">
                                                <ul>

                                                    <li>
                                                        <a href="/category/372" ga-event="menu_total,menu_페이스"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            $Category.lv3
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                            <div class="shadowBox"></div>
                                        </div>
                                    </li>

                                </ul>
                                #set($dd = $Category.lv2_id)
                                #end
                            </div>


                            <!--end fixCategory------------------------------------->
                            <!--전체카테고리 클릭하면 펼침-->
                            <div class="lnbOver all" id="lnbOver">
                                <div class="bg">

                                    <div class="category-block">

                                        <div class="category-block-content">
                                            <strong class="category-content-tit">
                                                <a href="/category/179"
                                                   class="category-tit-item"
                                                   ga-event="menu_total,menu_메이크업"
                                                   segment-event="Nav Clicked"
                                                   data-nav-type="Global Navigation">
                                                    메이크업

                                                </a>
                                            </strong>
                                            <div class="category-content-desc top">

                                                <ul class="category-desc-list">

                                                    <li class="category-list-block">
                                                        <a href="/category/372"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_페이스"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">페이스</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/373"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_메이크업도구"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">메이크업도구</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/391"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_네일"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">네일</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/436"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_립"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">립</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/641"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_아이"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">아이</span>

                                                        </a>
                                                    </li>

                                                </ul>

                                            </div>
                                        </div>

                                        <div class="category-block-content">
                                            <strong class="category-content-tit">
                                                <a href="/category/177"
                                                   class="category-tit-item"
                                                   ga-event="menu_total,menu_스킨"
                                                   segment-event="Nav Clicked"
                                                   data-nav-type="Global Navigation">
                                                    스킨

                                                </a>
                                            </strong>
                                            <div class="category-content-desc top">

                                                <ul class="category-desc-list">

                                                    <li class="category-list-block">
                                                        <a href="/category/334"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_스킨/미스트"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">페이스메이크업</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/332"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_로션/오일"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">로션/오일</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/333"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_에센스/세럼"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">에센스/세럼</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/603"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_크림/아이크림"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">크림/아이크림</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/816"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_기능성"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">기능성</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/815"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_클렌징"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">클렌징</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/816"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_팩/패치"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">팩/패치</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/815"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_스킨케어도구"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">스킨케어도구</span>

                                                        </a>
                                                    </li>

                                                </ul>

                                            </div>
                                        </div>

                                        <div class="category-block-content">
                                            <strong class="category-content-tit">
                                                <a href="/category/178"
                                                   class="category-tit-item"
                                                   ga-event="menu_total,menu_헤어"
                                                   segment-event="Nav Clicked"
                                                   data-nav-type="Global Navigation">
                                                    헤어

                                                </a>
                                            </strong>
                                            <div class="category-content-desc top">

                                                <ul class="category-desc-list">

                                                    <li class="category-list-block">
                                                        <a href="/category/853"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_샴푸/린스/트리트먼트"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">샴푸/린스/트리트먼트</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/854"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_에센스/앰플/미스트"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">에센스/앰플/미스트</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/855"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_스타일링"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">스타일링</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/856"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_헤어도구"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">헤어도구</span>

                                                        </a>
                                                    </li>

                                                </ul>

                                            </div>
                                        </div>

                                        <div class="category-block-content">
                                            <strong class="category-content-tit">
                                                <a href="/category/728"
                                                   class="category-tit-item"
                                                   ga-event="menu_total,menu_바디"
                                                   segment-event="Nav Clicked"
                                                   data-nav-type="Global Navigation">
                                                    바디

                                                </a>
                                            </strong>
                                            <div class="category-content-desc top">

                                                <ul class="category-desc-list">

                                                    <li class="category-list-block">
                                                        <a href="/category/778"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_바디클렌징"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">바디클렌징</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/779"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_바디스킨케어"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">바디스킨케어</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/780"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_핸드/풋케어"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">핸드/풋케어</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/782"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_제모/데오드란트/슬리밍"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">제모/데오드란트/슬리밍</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/783"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_바디도구"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">바디도구</span>

                                                        </a>
                                                    </li>

                                                </ul>

                                            </div>
                                        </div>

                                        <div class="category-block-content">
                                            <strong class="category-content-tit">
                                                <a href="/category/726"
                                                   class="category-tit-item"
                                                   ga-event="menu_total,menu_MEN"
                                                   segment-event="Nav Clicked"
                                                   data-nav-type="Global Navigation">
                                                    MEN

                                                </a>
                                            </strong>
                                            <div class="category-content-desc bottom">

                                                <ul class="category-desc-list">

                                                    <li class="category-list-block">
                                                        <a href="/category/727"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_스킨"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">스킨</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/767"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_메이크업"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">메이크업</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/768"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_클렌징"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">클렌징</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/769"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_헤어"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">헤어</span>

                                                        </a>
                                                    </li>

                                                </ul>

                                            </div>
                                        </div>


                                        <div class="category-block-content">
                                            <strong class="category-content-tit">
                                                <a href="/category/180"
                                                   class="category-tit-item"
                                                   ga-event="menu_total,menu_향수"
                                                   segment-event="Nav Clicked"
                                                   data-nav-type="Global Navigation">
                                                    향수

                                                </a>
                                            </strong>
                                            <div class="category-content-desc top">

                                                <ul class="category-desc-list">

                                                    <li class="category-list-block">
                                                        <a href="/category/349"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_여성향수"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">여성향수</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/352"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_남성향수"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">남성향수</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/category/763"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_아로마"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">유니섹스향수</span>

                                                        </a>
                                                    </li>

                                                </ul>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="category-block additional">

                                        <div class="category-block-content">
                                            <strong class="category-content-tit">
                                                <a href="/vs/theme"
                                                   class="category-tit-item"
                                                   ga-event="menu_total,menu_서비스 &amp; 테마"
                                                   segment-event="Nav Clicked"
                                                   data-nav-type="Global Navigation">
                                                    서비스 &amp; 테마

                                                </a>
                                            </strong>
                                            <div class="category-content-desc top">

                                                <ul class="category-desc-list">

                                                    <li class="category-list-block">
                                                        <a href="/bg/timeSale"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_한정특가"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">한정특가</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/vs/memeDelivery"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_발그레배송"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">발그레배송</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/vs/freebie"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_사은 증정 상품"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">사은 증정 상품</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/vs/priceBelow9900"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_9,900원 이하 상품"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">9,900원 이하 상품</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/vs/discount50"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_할인율 50% 이상 상품"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">할인율 50% 이상 상품</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/vs/specialPromo"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_특가상품"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">특가상품</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/vs/newmember/newest"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_웰컴특가"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">웰컴특가</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/vs/box"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_온리발그레"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">온리발그레</span>

                                                        </a>
                                                    </li>

                                                </ul>

                                            </div>
                                        </div>

                                        <div class="category-block-content">
                                            <strong class="category-content-tit">
                                                <a href="/category/181"
                                                   class="category-tit-item"
                                                   ga-event="menu_total,menu_발그레브랜드"
                                                   segment-event="Nav Clicked"
                                                   data-nav-type="Global Navigation">
                                                    발그레브랜드

                                                </a>
                                            </strong>
                                            <div class="category-content-desc bottom">

                                                <ul class="category-desc-list">

                                                    <li class="category-list-block">
                                                        <a href="/category/428"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_아임발그레"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">아임발그레</span>

                                                        </a>
                                                    </li>

                                                </ul>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="category-block additional">

                                        <div class="category-block-content">
                                            <strong class="category-content-tit">
                                                <a href="/vs/theme"
                                                   class="category-tit-item"
                                                   ga-event="menu_total,menu_서비스 &amp; 테마"
                                                   segment-event="Nav Clicked"
                                                   data-nav-type="Global Navigation">
                                                    서비스 &amp; 테마

                                                </a>
                                            </strong>
                                            <div class="category-content-desc top">

                                                <ul class="category-desc-list">

                                                    <li class="category-list-block">
                                                        <a href="/bg/timeSale"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_한정특가"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">한정특가</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/vs/memeDelivery"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_발그레배송"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">발그레배송</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/vs/freebie"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_사은 증정 상품"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">사은 증정 상품</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/vs/priceBelow9900"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_9,900원 이하 상품"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">9,900원 이하 상품</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/vs/discount50"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_할인율 50% 이상 상품"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">할인율 50% 이상 상품</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/vs/review90"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_별점 90점 이상 상품"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">별점 90점 이상 상품</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/vs/specialPromo"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_특가상품"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">특가상품</span>

                                                        </a>
                                                    </li>

                                                    <li class="category-list-block">
                                                        <a href="/vs/newmember/newest"
                                                           class="category-list-item"
                                                           ga-event="menu_total,menu_웰컴특가"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            <span class="category-list-text">웰컴특가</span>
                                            </div>
                                            <span class="lnbClose"></span>

                                        </div>
                        </h3>
                        <ul class="gnbUl dP fL">

                            <li class="newGnbTab">
                                <h3>
                                    <a class="mainMenu" segment-event="Nav Clicked" segment-event-ex="Main Tab Clicked"
                                       href="/bg/timeSale" ga-event="menu,menu_memedeal"
                                       data-nav-type="Global Navigation">
                                        한정특가
                                    </a>
                                </h3>
                            </li>

                            <li class="newGnbTab">
                                <h3>
                                    <a class="mainMenu" segment-event="Nav Clicked" segment-event-ex="Main Tab Clicked"
                                       href="/bestProduct" ga-event="menu,menu_best" data-nav-type="Global Navigation">
                                        베스트
                                    </a>
                                </h3>
                            </li>

                            <li class="newGnbTab">
                                <h3>
                                    <a class="mainMenu" segment-event="Nav Clicked" segment-event-ex="Main Tab Clicked"
                                       href="/plan/detail?page=0" ga-event="menu,menu_memepb" data-nav-type="Global Navigation">
                                        기획전
                                    </a>
                                </h3>
                            </li>


                            <li class="newGnbTab">
                                <h3>
                                    <a class="mainMenu" segment-event="Nav Clicked" segment-event-ex="Main Tab Clicked"
                                       href="/bg/box" ga-event="menu,menu_special"
                                       data-nav-type="Global Navigation">
                                        발그레박스
                                    </a>
                                </h3>
                            </li>




                            <li class="newGnbTab">
                                <h3>
                                    <a class="mainMenu" segment-event="Nav Clicked" segment-event-ex="Main Tab Clicked"
                                       href="/bg/new" ga-event="menu,menu_new" data-nav-type="Global Navigation">
                                        NEW
                                    </a>
                                </h3>
                            </li>

                        </ul>

                    </div>
                    <!--newGnb-->
                </div>

            </div>

        </div>

        <script>
(function () {
    $('.category').click(function () {
        $('#lnbOver').toggle();
        var categoryStatus = $('#lnbOver').css('display');
        if (categoryStatus === 'block') {
            $('#categoryIcon').attr('class', 'categoryIcon_02 wide dp fR');
            return false;
        }
        $('#categoryIcon').attr('class', 'categoryIcon_02 dp fR');
    });

    $('.lnbClose').click(function () {
        $('#lnbOver').toggle();
        $('#categoryIcon').attr('class', 'categoryIcon_02 dp fR');
    });

    $(".sub_balgeure_member_login").hide();
    $(".memberlogin_icons, .Bal_member_info, .sub_balgeure_member_login").mousemove(function () {
        $(".sub_balgeure_member_login").css("display","block");
    });
    $(".sub_balgeure_member_login").mouseout(function () {
        $(".sub_balgeure_member_login").css("display","none");
    });;

})();
        </script>


        <script>
        $(document).ready(function () {

        });

        $(window).bind("pageshow", function (event) {
        	getHeaderInfo();
        });

        function getHeaderInfo() {
        	#if($login)
        		$.ajax({
    		    	url: "/header_info",
    				contentType: "application/json",
    		    	type: 'GET',
    		    	success: function(result){
    		    		$("#wish_count").text(result.wishlist.wishList.length);
    		    		console.log(result.basketList.basketList);
    		    		var cnt = 0;
    		    		$.each( result.basketList.basketList, function( index, value ){
    		    			$.each(value, function(idx, val) {
    		    				cnt += val.length;
    		    			});

    		    		});
    		    		$("#basket_count").text(cnt);
    		    	},
    	    		error: function(e){
    	    			$("#wish_count").text(0);
    	    			$("#basket_count").text(0);
    	    		}
    	    	});
        	#else
        		$("#wish_count").text(0);
				$("#basket_count").text(0);
			#end
        }
        </script>

