<!DOCTYPE html>
<html lang="ko">
<head>

    <meta charset="utf-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>발그레::내 삶을 아름답게!</title>

    <meta name="description"
          content="뷰티No1커머스, 발그레와 뷰티 트렌드를 쇼핑한다. 뷰티커머스, 발그레배송, 아임발그레, 기획전, 한정특가, 신규상품, 할인상품, 발그레, 추천, 졸업 선물, 크리스마스, 여자, 여자친구, 크리스마스 선물,  크리스마스 선물 추천, 연말, ">
    <meta name="keyword"
          content="졸업 선물, 크리스마스. 여자, 여자친구, 크리스마스 선물, 연말, 크리스마스 선물 추천, 발그레, 발그레, 화장품, 뷰티, 아임발그레, 발그레딜, 스킨케어, 메이크업, 헤어, 세일,바디, 향수, 도구, 기기, 한정특가, 베스트, best, 신상품, new, 기획전, 브랜드, 할인, 응모, 무료, 무료배송, 쿠폰, 포인트, 리뷰, 후기, 팁, 발그레배송, 환불, 소비자 만족, 대상, 여성친화, 혁신, 인스타그램, 페이스북, 유튜브, 네이처리퍼블릭, 뉴스킨, 니베아, 닥터브로너스, 닥터자르트, 더샘, 마몽드더스킨하우스, 더페이스샵, 데메테르, 듀이트리, 라라, 라벨영, 로레알, 루나, 맥퀸,메이블린, 미슬린, 밀키드레스, 바닐라코, 베네피트, 비쉬, 시세이도, 시크릿키, 아르데코, 아리따움, 아모레퍼시픽, 아벤트, 아이오페, 애경, 어퓨, 에뛰드, 에스쁘아,에스쁘아, 에스테틱하우스, 엘리카, 오리지날 로우, 오리진스, 이니스프리, 입큰, 잇츠스킨, 제스파, 캐트리스, 캔메이크, 크리니크, 클리오, 키스미, 토니모리, 페리페라피지오겔, 홀리카홀리카, MAC, 생활건강, 틴트, BB, 파우더, 립스틱, 파운데이션,립글로즈, 마스카라, 아이라이너, 메니큐어, 리무버, 클리너, 폼클렌징, 수분크림,아이크림, 수면팩, 팩, 수분, 썬크림, 향수, 에센스, 토너, 미스트, 로션, 스킨,핸드크림, 클렌징오일, 클렌징크림, 클렌징워터, 바디로션, 오일, 샴푸, 바디샴푸,바디미스트, 컨실러, 속눈썹, 마스크팩, 메이크업, 필링, 필러, 바디워시, 세럼, 아이섀도우, 선물, 세트, 팩트, 크림, 브러쉬, 아이브로우, 비누, 쿠션, 모공, 추천, 화장법, 화장품">
    <meta name="robots" content="index,follow">

    <meta name="application-name" content="발그레" />
    <meta name="msapplication-tooltip" content="발그레, 내 삶을 아름답게!" />
    <meta name="msapplication-starturl" content="http://www.naver.com/" />
    <meta name="msapplication-task" content="name=베스트 상품;action-uri=/shop/best;icon-uri=/favicon.ico" />
    <meta name="msapplication-task" content="name=신규등록 상품;action-uri=/shop/new;icon-uri=/favicon.ico" />
    <meta name="msapplication-task" content="name=한정특가 상품;action-uri=/shop/1121;icon-uri=/favicon.ico" />
    <meta name="msapplication-task" content="name=기획전;action-uri=/promotion;icon-uri=/favicon.ico" />
    <meta name="msapplication-task" content="name=브랜드관;action-uri=/shop/brands;icon-uri=/favicon.ico" />
    <meta name="msapplication-task" content="name=스킨케어;action-uri=/shop/skincare;icon-uri=/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/mainCommon.css">
	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

    <!-- login dim-layer css start -->
    <link rel="stylesheet" type="text/css" href="/css/auth/login-popup-layer.css">
    <!-- login dim-layer css start -->

    <style>
        .bx-wrapper .bx-viewport {
            border: 0px;
            /*left: -5px;*/
        }
    </style>

    <link type="text/css" href="/css/myPage/searchBar.css" rel="stylesheet" />
    ##    productDetail CSS
    <link type="text/css" href="/css/product/shop.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/product/deal_add.css">
    <link type="text/css" href="/css/product/home.css" rel="stylesheet" />
    <link type="text/css" href="/css/product/review.css" rel="stylesheet" />
    <link type="text/css" href="/css/product/lightbox.css" rel="stylesheet" />
    <link type="text/css" href="/css/product/bootstrap.carousel.css" rel="stylesheet" />
    ## productDetail Modal popup

    <link rel="stylesheet" type="text/css" href="/css/mainCommon.css">

    ## 메인 메뉴의 메인 배너 효과
    <link rel="stylesheet" href="/css/main/accordly.css">
    <link rel="stylesheet" href="/css/main/slidy.css">

    <link rel="stylesheet" type="text/css" href="/css/header/index.css" />

    <link href="/css/loginCommon.css?v=2km-17bbwp3" rel="stylesheet" type="text/css">
    <link href="/css/loginCommon.css" rel="stylesheet" type="text/css">
    <link href="/css/loginCommon.css?v=7kc-1n234ch" rel="stylesheet" type="text/css">


    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="/webjars/jquery-validation/1.16.0/jquery.validate.min.js"></script>
	<script src="//connect.facebook.net/ko_KR/all.js"></script>
	<script>
		window.fbAsyncInit = function() {
		  		FB.init({
			  		appId : '232664117179969', // 앱 ID
			  		status : true,         // 로그인 상태를 확인
			  		cookie : true,          // 쿠키허용
			  		xfbml : true          // parse XFBML
		  		});

			FB.Event.subscribe('auth.login', function(response) {
				if (response.status === 'connected') {
		        	FB.api('/me', function(user) {
		            	if (user) {
		            		$("#login").val(user.id);
							$("#type").val("F");
							$("#snslogin").submit();
		            	}
		        	});
		    	}
	  		});

			FB.Event.subscribe('auth.logout', function(response) {
				FB.login();
	  		});
		}
	</script>
</head>

<body ondragstart="return false">

#set($category = $!request.getSession().getAttribute("categoryList"))

    ## 메인 최상단 배너
    <div id="wrap">
        <div class="banner">
            <div class="row">
                <div style="background-color: #757672; width: 100%;">
                </div>
            </div>

        </div>
        <div class="btn_close" style="display:none;">
            <input type="checkbox" id="top_check" />
            <label for="top_check">1일간 열지 않음</label>

        </div>
    </div>
    <div id="wrap">

        <!-- u_skip -->
        <div id="u_skip">
        </div>
        <!-- //u_skip -->

        <div id="balgeure_header">
            <div id="header_v2">
                <div class="gnbTop">
                    <ul>
                        <li class="ask_to_enter_balgeure">
                            <a class="link oF" href="#">
                                <span class="email_to_sumIcon fL"></span>
                                <span class="email_sum_txt fL">입점문의</span>
                            </a>
                        </li>
                        <li>
                            <span class="bar">|</span>
                        </li>
                        <li class="appDown">
                            <a class="link oF" href="/extra/appDownSms">
                                <span class="appDownIcon fL"></span>
                                <span class="appText fL">APP 다운로드</span>
                            </a>
                        </li>
                    </ul>
                    <div class="link_text_onRightside_top">
                        <ul class="gnbTopRight fR">
                            <li class="event_and_coupon_page">
                                <a href="#">
                                    <span class="dP fL">이벤트/쿠폰/멤버십</span>
                                </a>
                            </li>

                            <li class="weekly_best_product_lists">
                                <span class="gnbTopRight_bar">|</span>
                                <a href="#">
                                    <span class="dP fL">주간베스트</span>
                                </a>
                            </li>
                            <li class="hover">
                                <span class="gnbTopRight_bar">|</span>
                                <a class="navi" href="/cs/faq">
                                    <span class="fL">고객센터</span>
                                    <span class="arrow fL"></span>
                                </a>
                                <div class="topMenu_over cs">
                                    <div class="topMenu_over_inner">
                                        <ul>
                                            <li><a href="/cs/faq">자주 묻는 질문</a></li>
                                            <li><a href="/cs/delivery">배송안내</a></li>
                                            <li><a href="/my/qna">1:1문의</a></li>
                                        </ul>
                                    </div>
                                    <div class="shadowBox"></div>
                                </div>

                            </li>

                        </ul>
                    </div>
                </div><!--myMenu-->
                <div class="gnbLogoOuter">
                    <div class="gnbLogo mA">
                        <a class="balgeureLogo tI fL" href="/main"><h1>발그레</h1></a>
                        <div class="newSearchWrap" id="searchInputBox">
                            <div class="searchBar-wrap">
                                <div class="searchBar-inputBox-wrap">
                                    <form id="searchForm" class="searchBar-inputBox" method="get" action="/product/search">
                                        <label class="searchBar-inputBox-label">
                                            <span class="searchBar-inputBox-text">search bar</span>
                                            <input id="search" class="searchBox ui-autocomplete-input searchBar-inputBox-input"
                                                   type="text" name="search" placeholder="ㅇㅇ?!">
                                            <span class="searchBar-inputBox-reset" id="sb-q-rm" style="display: block;"></span>
                                        </label>
                                        <input type="submit" class="iconSearch searchBar-inputBox-submit" id="searchBtn" value="검색">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="topRollingBannerWrap fR" data-components-data="2">
                            <ul class="right_side_gnb_menu">
                                <li class="my_cart_page">
                                    <div id="MyCart_icon_header">
                                        <a href="/basketList">
                                            <span class="quantity-txt" id="basket_count">0</span>
                                            <span class="dP fL Right_txt">장바구니</span>
                                        </a>
                                    </div>
                                </li>
                                <li class="my_wishlist_page">
                                    <div id="MyWishlist_icon_header">
                                        <a href="/my/wishList">
                                            <span class="quantity-txt" id="wish_count">0</span>
                                            <span class="dP fL Right_txt">찜리스트</span>
                                        </a>
                                    </div>
                                </li>
                                #if($login)
                                <li class="memberlogin_icons">
                                    <div id="balgeure_member_login_btn">
                                        <div class="Bal_member_info">
                                            <span class="logintxt">$!request.getSession().getAttribute("user").name님!</span>
                                            <a class="navi mypageBtn" href="/my/index">
                                                <span class="mypagetxt">마이페이지</span>
                                            </a>
                                        </div>

                                        <div class="sub_balgeure_member_login">
                                            <span class="upside_arrow_on_dropdown"></span>
                                            <div class="small_contents">
                                                <ul class="login_balgeure_btn">
                                                    <li class="">
                                                        <a class="navi loginBtn" href="/logout" style="text-decoration: none;">로그아웃</a>
                                                    </li>
                                                </ul>
                                                <a href="/my/index">
                                                    <span class="mypage_dropdown_menu" style="text-decoration: none;">마이페이지</span>
                                                </a>
                                                <ul class="mypage_sublist After_login">
                                                    <li class="afterlogin_dropdown_menu"><a href="/my/order">주문/배송조회</a></li>
                                                    <li class="afterlogin_dropdown_menu"><a href="/my/qna">1:1문의</a></li>
                                                    <li class="afterlogin_dropdown_menu"><a href="/my/wishList">쿠폰</a></li>
                                                    <li class="afterlogin_dropdown_menu"><a href="/my/point">적립금</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                #else
                                <li class="memberlogin_icons">
                                    <div id="balgeure_member_login_btn">
                                        <div class="Bal_member_info">
                                            <a href="javascript:openLogin();" class="btn-example">로그인</a>
                                            <a class="navi mypageBtn" href="/my/index">
                                                <span class="mypagetxt">마이페이지</span>
                                            </a>
                                        </div>
                                        <div class="sub_balgeure_member_login">
                                            <span class="upside_arrow_on_dropdown"></span>
                                            <div class="small_contents">
                                                <ul class="login_balgeure_btn">
                                                    <li class="">
                                                        <a href="javascript:openLogin();" class="loginBtn btn-example" style="text-decoration: none;">로그인</a>
                                                    </li>
                                                </ul>
                                                <div class="logintype_on_balgeure">
                                                    Login with
                                                    <div class="login_icons">
                                                        <a href="#" onclick="snsLogin('N');" class="sprite naver">n</a>
                                                        <a href="#" onclick="snsLogin('F');" class="sprite facebook">f</a>
                                                        <a href="#" onclick="snsLogin('K');" class="sprite kakaotalk">k</a>
                                                    </div>
                                                </div>
                                                <a class="navi joining_balgeure" href="/regist" style="text-decoration: none;">회원가입</a>
                                                <a href="/my/index">
                                                    <span class="mypage_dropdown_menu">마이페이지</span>
                                                </a>
                                                <ul class="mypage_sublist After_login">
                                                    <li class="afterlogin_dropdown_menu"><a href="/my/order">주문/배송조회</a></li>
                                                    <li class="afterlogin_dropdown_menu"><a href="/my/qna">1:1문의</a></li>
                                                    <li class="afterlogin_dropdown_menu"><a href="/my/coupon">쿠폰</a></li>
                                                    <li class="afterlogin_dropdown_menu"><a href="/my/point">포인트</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                #end
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- S : NEW GNB -->
                <div class="gnbOuter">
                    <div class="newGnb mA">
                        <h2 class="hidden">글로벌 네비게이션 영역</h2>
                        <h3 class="categoryWrap dP fL">
                            <a class="category" ga-event="menu,menu_total">
                                <span class="categoryIcon_01 dp fL"></span>
                                <span class="categoryText dp fL">전체 카테고리</span>
                                <span class="categoryIcon_02 dp fR" id="categoryIcon"></span>
                            </a>

                            <!--start fixCategory------------------------------------->
                            <!--고정 카테고리-->

                            <div class="fixCategory">

                                #foreach($Category in $category)
                                #set($dd2 = $Category.lv2_id)
                                <ul>
                                    #if($dd != $Category.lv2_id)
                                    <li class="fix_li">

                                        <a href="/categoryDetail?parent=0&menu_id=$Category.lv2_id&sort=1" ga-event="menu_total,menu_메이크업" segment-event="Nav Clicked"
                                           data-nav-type="Global Navigation">$Category.lv2</a>
                                        #end
                                        <!--마우스 오버 펼쳐짐-->
                                        <div class="fixCategory_side">
                                            <div class="fixCategory_side_inner">
                                                <ul>
                                                    #foreach($Category in $category)
                                                    #if($dd2 == $Category.lv2_id)
                                                    <li>
                                                        <a href="/categoryDetail?parent=0&menu_id=$Category.lv3_id&sort=1" ga-event="menu_total,menu_페이스"
                                                           segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                                            $Category.lv3
                                                        </a>
                                                    </li>
                                                    #end
                                                    #end

                                                </ul>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                                #set($dd = $Category.lv2_id)
                                #end
                            </div>
                            <script>
                            $(function() {
                                var mUrl = "http://localhost:8088/main";

                                if(location.href != mUrl) {
                                    $('.fixCategory').css('display','none');
                                }
                            });
                            </script>


                            <!--end fixCategory------------------------------------>
<!--전체카테고리 클릭하면 펼침-->

        <div class="lnbOver all" id="lnbOver">
            <div class="bg">
                <div class="category-block">
                #foreach($Category in $category)
                #set($dd2 = $Category.lv2_id)
                #if($dd != $Category.lv2_id)
                    <div class="category-block-content">
                        <strong class="category-content-tit">
                            <a href="/categoryDetail?parent=0&menu_id=$Category.lv2_id&sort=1" class="category-tit-item" ga-event="menu_total,menu_메이크업" segment-event="Nav Clicked" data-nav-type="Global Navigation">
                            $Category.lv2
                            </a>
                        </strong>
                        <div class="category-content-desc top">
                            <ul class="category-desc-list">
                                #foreach($Category in $category)
                                    #if($dd2 == $Category.lv2_id)
                                    <li class="category-list-block">
                                        <a href="/categoryDetail?parent=0&menu_id=$Category.lv3_id&sort=1" class="category-list-item" ga-event="menu_total,menu_페이스" segment-event="Nav Clicked" data-nav-type="Global Navigation">
                                            <span class="category-list-text">$Category.lv3</span>
                                        </a>
                                    </li>
                                    #end
                                #end
                            </ul>
                        </div>
                    </div>
                    #end
                    #set($dd = $Category.lv2_id)
                    #end
                </div>
            </div>
            <span class="lnbClose"></span>
        </div>




                        </h3>
                        <ul class="gnbUl dP fL">

                            <li class="newGnbTab">
                                <h3>
                                    <a class="mainMenu" segment-event="Nav Clicked" segment-event-ex="Main Tab Clicked"
                                       href="/bg/timeSale" ga-event="menu,menu_memedeal"
                                       data-nav-type="Global Navigation">
                                        한정특가
                                    </a>
                                </h3>
                            </li>

                            <li class="newGnbTab">
                                <h3>
                                    <a class="mainMenu" segment-event="Nav Clicked" segment-event-ex="Main Tab Clicked"
                                       href="/bestProduct" ga-event="menu,menu_best" data-nav-type="Global Navigation">
                                        베스트
                                    </a>
                                </h3>
                            </li>

                            <li class="newGnbTab">
                                <h3>
                                    <a class="mainMenu" segment-event="Nav Clicked" segment-event-ex="Main Tab Clicked"
                                       href="/plan/detail?page=0" ga-event="menu,menu_memepb" data-nav-type="Global Navigation">
                                        기획전
                                    </a>
                                </h3>
                            </li>


                            <li class="newGnbTab">
                                <h3>
                                    <a class="mainMenu" segment-event="Nav Clicked" segment-event-ex="Main Tab Clicked"
                                       href="/bg/box" ga-event="menu,menu_special"
                                       data-nav-type="Global Navigation">
                                        발그레박스
                                    </a>
                                </h3>
                            </li>




                            <li class="newGnbTab">
                                <h3>
                                    <a class="mainMenu" segment-event="Nav Clicked" segment-event-ex="Main Tab Clicked"
                                       href="/bg/new" ga-event="menu,menu_new" data-nav-type="Global Navigation">
                                        NEW
                                    </a>
                                </h3>
                            </li>

                        </ul>

                    </div>
                    <!--newGnb-->
                </div>

            </div>

        </div>

        <form id="snslogin" method="post" action="/sns/login">
		 	<input type="hidden" name="login" id="login"/>
		  	<input type="hidden" name="type" id="type"/>
		</form>
        <!-- find id jquery start -->
        <script>
        $(function() {
        	$("#findId").on('click', function() {
        		window.open('/goFindId', 'idPopup', 'left=580, top=270, width=700, height=400, scrollbars=no, toolbar=no, location=no');
        	});
        });
        </script>

        <script>
(function () {
    $('.category').click(function () {
        $('#lnbOver').toggle();
        var categoryStatus = $('#lnbOver').css('display');
        if (categoryStatus === 'block') {
            $('#categoryIcon').attr('class', 'categoryIcon_02 wide dp fR');
            return false;
        }
        $('#categoryIcon').attr('class', 'categoryIcon_02 dp fR');
    });

    $('.lnbClose').click(function () {
        $('#lnbOver').toggle();
        $('#categoryIcon').attr('class', 'categoryIcon_02 dp fR');
    });

    $(".sub_balgeure_member_login").hide();
    $(".memberlogin_icons, .Bal_member_info, .sub_balgeure_member_login").mousemove(function () {
        $(".sub_balgeure_member_login").css("display","block");
    });
    $(".sub_balgeure_member_login").mouseout(function () {
        $(".sub_balgeure_member_login").css("display","none");
    });;

})();
        </script>


        <script>
        // Load the SDK Asynchronously
        (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/ko_KR/all.js";
           ref.parentNode.insertBefore(js, ref);
         }(document));
        $(document).ready(function () {

        	Kakao.init('71fb3c875e19ee24c57124b06f983a1a');
        });

        $(window).bind("pageshow", function (event) {
        	getHeaderInfo();
        });

        function getHeaderInfo() {
        	#if($login)
        		$.ajax({
    		    	url: "/header_info",
    				contentType: "application/json",
    		    	type: 'GET',
    		    	success: function(result){
    		    		$("#wish_count").text(result.wishlist.wishList.length);
    		    		console.log(result.basketList.basketList);
    		    		var cnt = 0;
    		    		$.each( result.basketList.basketList, function( index, value ){
    		    			$.each(value, function(idx, val) {
    		    				cnt += val.length;
    		    			});

    		    		});
    		    		$("#basket_count").text(cnt);
    		    	},
    	    		error: function(e){
    	    			$("#wish_count").text(0);
    	    			$("#basket_count").text(0);
    	    		}
    	    	});
        	#else
        		$("#wish_count").text(0);
				$("#basket_count").text(0);
			#end
        }
        </script>

	<script>
		function openLogin() {
			window.open('/login', 'idPopup', 'left=500, top=100, width=409, height=433, scrollbars=0, toolbar=0, location=no');
		}

		function snsLogin(type) {
			if(type == 'N') {
				naver_logout();
			} else if(type == 'F') {
				FB.getLoginStatus(function(response) {
					if(response.status == 'connected' || response.status == 'not_authorized') {
						FB.logout();
					} else {
						FB.login();
					}
				});
				//FB.logout();
			} else if(type == 'K') {
				Kakao.Auth.logout(
	                function(obj) {
	                	openNewWindow("/kakao/login");
	            	}
	            );

			}
		}
		function openNewWindow(url) {
		  var name = '_blank';
		  var specs = 'menubar=no,status=no,toolbar=no, width=409, height=433';
		  var newWindow = window.open(url, name, specs);
		  newWindow.focus();
		}

		function getReturnValue(returnValue) {
			if(returnValue.id) {
				$("#login").val(returnValue.id);
				$("#type").val(returnValue.type);
				$("#snslogin").submit();
			}
		}

		function naver_logout() {
			$("body").append("<iframe id='logoutframe' style='display: none;'></iframe>");
			$("#logoutframe").attr("src", "http://nid.naver.com/nidlogin.logout");
			setTimeout(function() {
				openNewWindow("/naver/login");
			}, 2000); // 2000ms(2초)가 경과하면 이 함수가 실행됩니다.
		}
	</script>