#parse("/main/header.vm")
<meta charset="utf-8">

<style>
    div.homeMainBanner a.mainVisualOff {
        display: none;
    }

    div.homeMainBanner a.mainVisualOn {
        display: block;
    }

    .off {
        visibility: hidden;
    }

    .on {
        visibility: visible;
    }
</style>


<div class="homeMainBannerWrap" id="homeMainBannerWrap">
    <div class="homeMainBanner oF">
        ## 메인 배너
        <div id="slidyBanner" class="slidyContainer" title="발그레">
            <div class="slidySlides">
                <!-- Each slide is wrapped in figure section -->
                <!-- Slide 1 -->
                <!-- add the 'slidyCurrent' class to which slide you want as default -->
                <figure class="slidyCurrent">
                    <!-- Your context goes here -->
                    <img alt="Uyuni, Bolivia" src="/img/main/mainBanner01.png">
                    <!-- Use the figcaption element to add captions -->
                    <br />
                </figure>

                #foreach($item in $showMain.mainSecondBanner)
                <figure>
                    <!-- Your context goes here -->
                    <img alt="Uyuni, Bolivia" src="http://sumcrimage.cafe24.com/$!{item.thumbnail}">
                    <!-- Use the figcaption element to add captions -->
                    <br />
                </figure>
                #end
            </div>
        </div>

        <div>
            <span class="arrow pre tI" data-index="0">왼쪽</span>
            <span class="arrow next tI" data-index="1">오른쪽</span>
        </div>
    </div>

</div>


<!-- container -->
<div id="container" class="mA memeHome">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <div class="sideBannerR">
        <ul>

            <li class="rightBannerList segment_promotion_item">
                <a href="http://www.memebox.com/product/503838" ga-event="right_side,right_sidebanner0">
                    <img src="//img2.memebox.com/static/contents/img/upload/banner_20170217115823_2kMQ5fWL8z.jpg"
                         alt="">
                </a>
            </li>

            <li class="rightBannerList segment_promotion_item">
                <a href="http://www.memebox.com/product/511789" ga-event="right_side,right_sidebanner1">
                    <img src="//img2.memebox.com/static/contents/img/upload/banner_20170317235429_mvCAggS6tL.jpg"
                         alt="">
                </a>
            </li>

            <li class="rightBannerList segment_promotion_item">
                <a href="http://www.memebox.com/product/511328" ga-event="right_side,right_sidebanner2">
                    <img src="//img2.memebox.com/static/contents/img/upload/banner_20170327203827_V1cwBw7AS9.jpg"
                         alt="">
                </a>
            </li>

        </ul>
        <!--<div class="fixed" style="position: absolute;left:0px;top:518px;">-->
        <div class="fixed" style="position: absolute;left:0px;top:675px;">
            <div class="topDownWrap">
                <div class="topDownBtn">
                    <a class="top">위로</a>
                    <a class="down">아래로</a>
                </div><!--topDownBtn-->
            </div>
            <!--topDownWrap-->
        </div>
        <!--fixed-->
        <!--아임멀티스틱 플로팅배너-->

    </div>
    <!-- content -->
    <!--sideBannerR-->


    <style>
        div#header_v2 {
            margin-bottom: 0;
        }

        div.sideBannerR {
            position: absolute;
            top: -519px;
            right: -141px;
            z-index: 3;
        }
    </style>


    <!-- 실시간오픈 -->
    <!-- 안드로이드에서 보여지는 추천 상품을 웹의 메인 메뉴에 뿌려줌 -->
    ## 실시간 인기템
    <div id="realtime_bestItem_List" class="realtimeBestItemWrap">
        <!-- S : 상품진열  A/B 테스트 B안-->
        <div class="newDealContents">
            #foreach($item in $showMain.mainMenu)
            #if ($item.mid == 3)
            <span class="main_product_list">${item.name}</span>
            #foreach($item2 in $item.mainMenuItem)

            <ul class="dealList" data-productlist-name="Real Time List" data-productlist-id="realtimeSaleList"
                data-productlist-viewed=false>

                <li class="segment_product_item"
                    segment-event="Product Clicked"
                    data-product-brand="아임발그레"
                    data-product-price="6000"
                    data-product-id="513470"
                    data-product-name=" 모음전">
                    <a href="/detail?product_id=${item.productId}">

                        <div class="overBorder">
                            <a href="/detail?product_id=${item2.product.productId}">
                                <div class="dealThumb">
                                    <div class="overBack"></div>

                                    <img src="http://sumcrimage.cafe24.com/$!{item2.product.thumbUrl}"
                                         style="min-width: auto; height: auto;" />

                                </div>

                                <div class="dealBody">
                                    <div class="dealhead">
                                        <span class="small_title_thum">${item.name}</span>
                                        <span class="title" id="product_title_text">$!{item2.product.brand.brandName} / $!{item2.product.prodName}</span>
                                    </div>

                                    <div class="dealPrice">

                                        <div class="discount fL">
                                            <!--최대 할인율 표기-->
                                            #if(${item2.product.price} != ${item2.product.salePrice})

                                            <span class="percent">
                                                $!{item2.product.sale}<span class="unit">%</span>
                                            </span>
                                            #end
                                        </div>

                                        <div class="dealPrice fL">

                                            #if(${item2.product.price} != ${item2.product.salePrice})
                                            <del class="fL">$number.format($!{item2.product.price})<span class="unit">원</span></del>
                                            #end
                                            <p class="price fL">
                                                <span class="price_value">$number.format($!{item2.product.salePrice})</span>
                                                <span class="unit">원</span>
                                                <!--<span class="tilde">&sim;</span>-->
                                            </p>
                                        </div>

                                    </div>

                                    <span class="amount fL">${item2.product.reviewCount}점</span>

                                </div><!--dealBody-->

                                <div class="dealFoot">
                                    <div class="delivery_option_show">

                                        #if($!{item2.product.productDelivery.freeDelivery} != 0)
                                        <span class="overFreeIcon">
                                            배송비 $number.format($!{item2.product.productDelivery.deliveryPrice})
                                            원
                                        </span>
                                        #end

                                        #if($!{item2.product.productDelivery.freeDelivery} == 0)
                                        <span class="overFreeIcon">무료 배송</span>
                                        #elseif($!{item2.product.productDelivery.freeDelivery} >= 1)
                                        <span class="overFreeIcon">
                                            $number.format($!{item2.product.productDelivery.freeDelivery})
                                            원 이상 무료배송
                                        </span>
                                        #end
                                    </div>

                                    <div class="zzim_wishlist">
                                        <a href="" class="go_to_wishlist_ZZim">
                                            <span id="zzimCheck513470" class="zzimCheck" title="찜하기">찜</span>
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </a>

                </li>

            </ul>
            #end
            #end
            #end
        </div><!--dealContents-->
    </div>



    ## 발그레 추천 상품
    <div id="recommended_MD_List" class="recommendedMDList">
        <!-- S : 상품진열  A/B 테스트 B안-->
        <div class="newDealContents">
            #foreach($item in $showMain.mainMenu)
            #if ($item.mid == 5)
            <span class="main_product_list">${item.name}</span>
            #foreach($item2 in $item.mainMenuItem)

            <ul class="dealList" data-productlist-name="Recommended Sale List" data-productlist-id="recommSaleList"
                data-productlist-viewed=false>

                <li class="segment_product_item"
                    segment-event="Product Clicked"
                    data-product-brand="아임발그레"
                    data-product-price="6000"
                    data-product-id="513470"
                    data-product-name="모음전">
                    <a href="/detail?product_id=${item.productId}">

                        <div class="overBorder">
                            <a href="/detail?product_id=${item2.product.productId}">
                                <div class="dealThumb">
                                    <div class="overBack"></div>

                                    <img src="http://sumcrimage.cafe24.com/$!{item2.product.thumbUrl}"
                                         style="min-width: auto; height: auto;" />

                                </div>
                                <div class="dealBody">
                                    <div class="dealhead">
                                        <span class="small_title_thum">${item.name}</span>
                                        <span class="title" id="product_title_text">$!{item2.product.brand.brandName} / $!{item2.product.prodName}</span>
                                    </div>

                                    <div class="dealPrice">

                                        <div class="discount fL">
                                            <!--최대 할인율 표기-->
                                            #if(${item2.product.price} != ${item2.product.salePrice})

                                            <span class="percent">
                                                $!{item2.product.sale}<span class="unit">%</span>
                                            </span>
                                            #end
                                        </div>

                                        <div class="dealPrice fL">

                                            #if(${item2.product.price} != ${item2.product.salePrice})
                                            <del class="fL">$number.format($!{item2.product.price})<span class="unit">원</span></del>
                                            #end
                                            <p class="price fL">
                                                <span class="price_value">$number.format($!{item2.product.salePrice})</span>
                                                <span class="unit">원</span>
                                                <!--<span class="tilde">&sim;</span>-->
                                            </p>
                                        </div>

                                    </div>

                                    <span class="amount fL">${item2.product.reviewCount}점</span>

                                </div><!--dealBody-->
                                <div class="dealFoot">
                                    <div class="delivery_option_show">

                                        #if($!{item2.product.productDelivery.freeDelivery} != 0)
                                        <span class="overFreeIcon">
                                            배송비 $number.format($!{item2.product.productDelivery.deliveryPrice})
                                            원
                                        </span>
                                        #end

                                        #if($!{item2.product.productDelivery.freeDelivery} == 0)
                                        <span class="overFreeIcon">무료 배송</span>
                                        #elseif($!{item2.product.productDelivery.freeDelivery} >= 1)
                                        <span class="overFreeIcon">
                                            $number.format($!{item2.product.productDelivery.freeDelivery})
                                            원 이상 무료배송
                                        </span>
                                        #end
                                    </div>

                                    <div class="zzim_wishlist">
                                        <a href="" class="go_to_wishlist_ZZim">
                                            <span id="zzimCheck513470" class="zzimCheck" title="찜하기">찜</span>
                                        </a>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </a>
                </li>

            </ul>
            #end
            #end
            #end
        </div><!--dealContents-->
    </div>



    ## 주목할 상품
    <div id="comming_SaleList" class="commingSaleList">
        <!-- S : 상품진열  A/B 테스트 B안-->
        <div class="newDealContents">
            #foreach($item in $showMain.mainMenu)
            #if ($item.mid == 6)
            <span class="main_product_list">${item.name}</span>
            #foreach($item2 in $item.mainMenuItem)

            <ul class="dealList" data-productlist-name="Comming Sale List" data-productlist-id="CommingSaleList"
                data-productlist-viewed=false>

                <li class="segment_product_item"
                    segment-event="Product Clicked"
                    data-product-brand="아임발그레"
                    data-product-price="6000"
                    data-product-id="513470"
                    data-product-name="[아임발그레] 블러셔 외 페이스 메이크업 모음전">
                    <a href="/detail?product_id=${item.productId}">

                        <div class="overBorder">
                            <a href="/detail?product_id=${item2.product.productId}">
                                <div class="dealThumb">
                                    <div class="overBack"></div>

                                    <img src="http://sumcrimage.cafe24.com/$!{item2.product.thumbUrl}"
                                         style="min-width: auto; height: auto;" />

                                </div>
                                <div class="dealBody">
                                    <div class="dealhead">
                                        <span class="small_title_thum">${item.name}</span>
                                        <span class="title" id="product_title_text">$!{item2.product.brand.brandName} / $!{item2.product.prodName}</span>
                                    </div>

                                    <div class="dealPrice">

                                        <div class="discount fL">
                                            <!--최대 할인율 표기-->
                                            #if(${item2.product.price} != ${item2.product.salePrice})

                                            <span class="percent">
                                                $!{item2.product.sale}<span class="unit">%</span>
                                            </span>
                                            #end
                                        </div>

                                        <div class="dealPrice fL">

                                            #if(${item2.product.price} != ${item2.product.salePrice})
                                            <del class="fL">$number.format($!{item2.product.price})<span class="unit">원</span></del>
                                            #end
                                            <p class="price fL">
                                                <span class="price_value">$number.format($!{item2.product.salePrice})</span>
                                                <span class="unit">원</span>
                                                <!--<span class="tilde">&sim;</span>-->
                                            </p>
                                        </div>

                                    </div>

                                    <span class="amount fL">${item2.product.reviewCount}점</span>

                                </div><!--dealBody-->
                                <div class="dealFoot">
                                    <div class="delivery_option_show">

                                        #if($!{item2.product.productDelivery.freeDelivery} != 0)
                                        <span class="overFreeIcon">
                                            배송비 $number.format($!{item2.product.productDelivery.deliveryPrice})
                                            원
                                        </span>
                                        #end

                                        #if($!{item2.product.productDelivery.freeDelivery} == 0)
                                        <span class="overFreeIcon">무료 배송</span>
                                        #elseif($!{item2.product.productDelivery.freeDelivery} >= 1)
                                        <span class="overFreeIcon">
                                            $number.format($!{item2.product.productDelivery.freeDelivery})
                                            원 이상 무료배송
                                        </span>
                                        #end
                                    </div>

                                    <div class="zzim_wishlist">
                                        <a href="" class="go_to_wishlist_ZZim">
                                            <span id="zzimCheck513470" class="zzimCheck" title="찜하기">찜</span>
                                        </a>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </a>
                </li>

            </ul>
            #end
            #end
            #end
        </div><!--dealContents-->
    </div>

    <!--dealContents-->

</div>


<!-- //container -->
#parse("/main/footer.vm")

<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    // dddd
</script>
