<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <!--<meta name="viewport"-->
    <!--content="user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, width=device-width, initial-scale=1.0"/>-->
    <title>[발그레박스] 장바구니</title>

    <link rel="stylesheet" type="text/css" href="/css/cart/cartCommon.css?v=1493534700000" media="screen"/>
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq)return;
            n = f.fbq = function () {
                n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
                document, 'script', '//connect.facebook.net/en_US/fbevents.js');
        // Insert Your Facebook Pixel ID below.
        fbq('init', '1491677964385271');
        fbq('track', 'PageView');
    </script>
</head>

<body data-deployversion="1494985500000">


<h1 class="cartLogo"><a href="http://memebox.com" class="tI">발그레박스 내 삶을 아름답게!</a></h1>
<div class="cartHeaderWrap">
    <div class="cartHeader oF">

        <h2 class="cartStepTitle fL tI">장바구니</h2>
        <div class="cartStep fR tI">1 장바구니 단계</div>

    </div>


    <div class="pointCoouponWrap">
        <div class="pointCoupon">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <th>로그인 후, 보유 포인트 및 쿠폰 수량을 확인하실 수 있습니다.</th>
                </tr>
            </table>
        </div>
    </div>


</div>


<div class="cartPage">


    <div class="cartWrap">
        <div class="cartItemList">
            <table class="cartListHeader">
                <caption>장바구니 상품 머릿말</caption>
                <colgroup>
                    <col style="width:37px;">
                    <col style="width:86px;">
                    <col style="width:582px;">
                    <col style="width:138px;">
                    <col style="width:139px;">
                </colgroup>
                <thead>
                <tr class="cartHeaderRow">
                    <th class="col1">
                        <input type="checkbox"
                               data-bind="with: bundleVM, checked: bundleVM.checked, click: function() {bundleVM.eventHandler.checkAll(); return true;}">
                    </th>
                    <th class="leftAlign col2">전체선택</th>
                    <th class="col3">상품정보</th>
                    <th class="col4">상품금액</th>
                    <th class="col5 last">
                        <span>배송비</span>
                        <span class="ico"></span>
                    </th>
                </tr>
                </thead>
            </table>
            <div class="popupDeliv" style="display: none;">
                <p class="textTitle">배송비 관련 안내</p>
                <p class="text">
                    <span>비묶음 제품</span>은 제품등의 특성으로 인해<br>
                    <span class="pText">묶음배송이 불가능</span>합니다
                </p>
            </div>

            <!-- ko with: bundleVM -->
            <!-- ko if: memeBundles().length  -->


            <table class="cartList bundles" cellspacing="0" cellpadding="0" summary="장바구니 목록"
                   data-bind="visible: isInit()" #*style="display: none;*#
            ">
            <caption>발그레배송 장바구니 상품 리스트</caption>
            <colgroup>
                <col style="width:37px;">
                <col style="width:670px;">
                <col style="width:138px;">
                <col style="width:139px;">
            </colgroup>
            <thead class="memeHeadWrap">
            <tr class="memeHead">
                <th class="tI" colspan="4">
                    <h3 class="tI">발그레배송</h3>
                </th>
            </tr>
            </thead>
            <tbody>
            <!-- ko foreach: memeBundles() -->

            <!-- ko foreach: products() -->
                #foreach($item in $basketListGET.basketList)
                    #foreach($item2 in $item)
                        #foreach($item3 in $item2)
                        <tr>
                            <td class="check">
                                <input type="checkbox"
                                       data-bind="checked: checked, click: function() {#*$parent.eventHandler.productClick(this);*# return true; }"/>
                            </td>
                            <td class="itemInfo">
                                <div>
                                    <a data-bind="attr:{href: productUrl}">
                                        <img src="http://sumcrimage.cafe24.com/${item3.thumbUrl}" data-bind="attr:{src: thumbnailUrl }"></a>
                                </div>
                                <div #*class="textArea fL"*#>
                                    <p class="productName fW">
                                        <a data-bind="attr:{href: productUrl}"><!--ko text: productTitle-->
                                            [${item3.brand.brandName}] ${item3.prodName}
                                            <!--/ko--></a>
                                    </p>
                                    <div #*class="option"*#>
                                        <table #*class="optionSelect"*# cellpadding="0" cellspacing="0">
                                            <colgroup>
                                                <col style="width:235px;">
                                                <col style="width:90px;">
                                                <col style="width:80px;">
                                                <col style="width:82px;">
                                                <col style="width:38px;">
                                            </colgroup>


                                            <tbody data-bind="foreach:items">
                                            <!-- ko if: itemType != '10010604' -->

                                            <tr #*class="itemList"*#
                                            ## data-bind="attr: {'class': isLastCart  ? 'itemList last' : 'itemList', 'data-cartId': cartId, 'data-itemId': itemId, 'data-itemCount': itemCount(), 'data-productId': productId, 'data-price': price, 'data-checked': checked()}"
                                            >
                                                <th class="optionTitle">
                                                    <!-- ko if: itemType == '10010604' -->
                                                    <span class="addArrow"></span>
                                                    <!-- /ko -->
                                                    <strong class="deal-item-type-title"><!--ko text: title-->
                                                        ${item3.itemName}
                                                        <!--/ko--></strong>
                                                    <!--ko if:isBest -->
##                                                    <span class="conversion-popularity-notice">인기급상승</span>
                                                    <!--/ko-->
##                                                    <p class="alertNotice" style="color: red;"
##                                                       data-bind="visible: isOutOfRange">
##                                                        [품절임박] 재고 <!-- ko text: quantity.max --><!-- /ko -->
##                                                        <!-- ko text: self.isOutOfRange --><!-- /ko -->개
##                                                    </p>
##                                                    <p class="alertNotice" style="color: red; /*display: none;*/"
##                                                       data-bind="visible: ui.itemCountAlert.visible">
##                                                        * <!-- ko text: ui.itemCountAlert.text --><!-- /ko --> 구매 가능한
##                                                        수량으로
##                                                        변경되었습니다.
##                                                    </p>
                                                </th>
                                                <td class="selectPrice each"><span
                                                        #*data-bind="text: $parents[2].formatCurrency(price)*#">$number.format(${item3.price})</span>원
                                                </td>
                                                <td class="option_cnt"
                                                    data-bind="visible: ui.itemCountSelect.visible()">
                                                    <input type="hidden" data-bind="value: originalItemCount()">
                                                    <select data-bind="options: ui.itemCountSelect.options,
                                                                    optionsText: 'text',
                                                                    optionsValue: 'value',
                                                                    style: ui.itemCountSelect.style,
                                                                    optionsAfterRender: setOptionDisable,
                                                                     attr:{'class': ui.itemCountSelect.cssClass},
                                                                    value: itemCount() <= 10 && ui.itemCountSelect.visible() ? itemCount : ui.itemCountSelect.value,
                                                                    event:{click: function() {ui.itemCountSelect.event.click(itemCount()); return true;}, change: function() { if (isInit() && itemCount() <= 10) {#* $parents[1].eventHandler.changeItemCount(this);*#} else if (isInit() && itemCount() > 10) {ui.itemCountChangeButton.event.show();}   return true;}}">
                                                    </select>
                                                </td>

##                                                <td class="option_cnt"
##                                                    data-bind="visible: !ui.itemCountSelect.visible()">
##                                                    <label for="massQuantity">수량</label>
##                                                    <input type="number" class="massQty" data-bind="textInput: ui.itemCountInput.value,
##                                                                event: {click: function() {ui.itemCountSelect.event.click(itemCount()); return true;}, change: function() {ui.itemCountInput.change(this); return true;} },
##                                                                style: ui.itemCountInput.style ">
##                                                    <button type="button" class="changeQty" data-bind="event:{
##                                                                click: function() {ui.itemCountChangeButton.event.click(this, $parents[1].eventHandler.changeItemCount); return true;} },
##                                                                visible: ui.itemCountChangeButton.visible">수량변경
##                                                    </button>
##
##                                                </td>
                                                <td class="selectPrice"><span data-bind="text: #*$parents[2].formatCurrency(itemCount() * price)*# "></span>원
                                                </td>
                                                <td class="delete">
                                                    <button #*class="tI"*# type="button"
                                                            data-bind="click: function(){$parents[1].eventHandler.removeCart($data, $parent, $parents[1])}">
                                                        삭제
                                                    </button>
                                                </td>
                                            </tr>

                                            <!-- /ko -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>


                            <td class="price">
                                <b data-bind="text: #*$parents[1].formatCurrency(productItemCost())*#"></b><span
                                    class="unit">원</span></td>
                            <!-- ko ifnot: $index -->
                            <td class="price last"
                                data-bind="attr: {rowspan: $parent.products().length, rowSpan: $parent.products().length}">
                                <!-- ko foreach: $parents[0].tags() -->
                                <span data-bind="{attr:{'class': color}}"><!--ko text: #*$parents[2].formatCurrency(text) *#-->
                                    <!--/ko--><!-- ko if: type =='charge' && value == 3 -->원 이상<br> 무료배송
                                    <!-- /ko --></span>
                                <!-- /ko -->

                                <!-- ko if: $parent.bundleCost().deliveryCharge() > 0 -->
                                <b data-bind="visible: $parent.bundleCost().deliveryCharge() > 0, text: $parents[1].formatCurrency($parent.bundleCost().deliveryCharge())"></b><span
                                    class="unit" data-bind="visible: $parent.bundleCost().deliveryCharge() > 0">원</span>
                                <!-- /ko -->

                                <!-- ko if: $parent.bundleCost().deliveryCharge() == 0 && $parent.bundleCost().itemCost() == 0  -->
                                <span class="unit">-</span>
                                <!-- /ko -->

                                <!-- ko if: $parents[0].deliveryBundleType != 1  -->
                                <div class="popupFree"
                                     data-bind="visible: $parent.shortfallPriceForFreeDelivery() > 0 ">
                                    <p class="text">
                                        묶음상품을<br>
                                        <span class="pText"><!-- ko text: $parents[1].formatCurrency($parent.shortfallPriceForFreeDelivery())-->
                                            <!-- /ko -->원 이상 추가</span>하시면<br>
                                        <span class="pText">무료배송</span> 가능합니다!
                                    </p>
                                </div>
                                <!-- /ko -->

                                <!-- 배송비 절약상품 -->
                                <button type="button" class="btn-save-shipping"
                                        data-bind="visible: $parent.deliveryPartnerId != 16 && $parent.bundleCost().deliveryCharge() > 0, click: function(data, event) { #*$parents[2].saveDeliveryChargeVM.eventHandler.open(event, $parent);*#}">
                                    배송비 절약상품
                                </button>
                            </td>
                            <!-- /ko -->
                        </tr>
                        <!--/ko -->

                        #end
                    #end
                #end
            <!-- /ko -->
            </tbody>
            </table>

        ##            <div class="cB">
        ##                <div class="priceWrap v1 fL">
        ##                    ${basketListGET.message} / ${basketListGET.resultCode}
        ##                </div>
        ##            </div>

        ##            #foreach($item in $basketListGET.basketResponse)
            <div class="cB">
                #foreach($item in $basketListGET.basketList)
                    #foreach($item2 in $item)
                        #foreach($item3 in $item2)

                            <div class="priceWrap v1 fL">
                                <table class="paymentTable" cellspacing="0" cellpadding="0" summary="결제예정금액">
                                    <caption>각 상품 금액 및 업체배송 금액0</caption>
                                    <tbody>
                                    <tr>
                                        <td class="price"><span class="priceText">발그레배송 상품금액</span>
                                            <!-- ko text: formatCurrency(memeCost.itemCost()) --><!-- /ko -->
                                            <span class="unit">${item3.brand.brandId} 원</span></td>
                                        <td class="deliveryCharge"><span class="priceText">배송비</span>
                                            <!-- ko text: formatCurrency(memeCost.deliveryCharge()) --><!-- /ko -->
                                            <span class="unit">${basketListGET.message}
                                                / ${basketListGET.resultCode}원</span>
                                        </td>
                                        <td class="totalPrice last"><span class="priceText">결제 예정금액55</span>
                                            <!-- ko text: formatCurrency(memeCost.totalCost()) --><!-- /ko -->
                                            <span class="unit">원</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <span class="plus"></span>
                                <span class="equal"></span>
                            </div>
                        #end
                    #end
                #end
            </div>
        ##            #end
            <!-- /ko -->

            <!-- ko with: bundleVM -->
            <!--  ko if: partnerBundles().length -->
            <table class="cartList bundles" cellspacing="0" cellpadding="0" summary="장바구니 목록"
                   data-bind="visible: isInit()" style="display: none;">
                <caption>업체배송 장바구니 상품 리스트</caption>
                <colgroup>
                    <col style="width:37px;">
                    <col style="width:670px;">
                    <col style="width:138px;">
                    <col style="width:139px;">
                </colgroup>
                <thead class="businessHeadWrap">
                <tr class="businessHead">
                    <th class="tI" colspan="4">
                        <h3 class="tI">업체배송상품</h3>
                    </th>
                </tr>
                </thead>
                <tbody>
                <!-- ko foreach: partnerBundles() -->

                <!-- ko foreach: products() -->
                <tr>
                    <td class="check">
                        <input type="checkbox"
                               data-bind="checked: checked, click: function() {#*$parent.eventHandler.productClick(this);*# return true; }"/>
                    </td>
                    <td class="itemInfo">
                        <div>
                            <a data-bind="attr:{href: productUrl}">
                                <img src="" data-bind="attr:{src: thumbnailUrl }"></a>
                        </div>
                        <div class="textArea fL">
                            <p class="productName fW">
                                <a data-bind="attr:{href: productUrl}"><!--ko text: productTitle--><!--/ko--></a>
                            </p>
                            <div class="option">
                                <table class="optionSelect" cellpadding="0" cellspacing="0">
                                    <colgroup>
                                        <col style="width:235px;">
                                        <col style="width:90px;">
                                        <col style="width:80px;">
                                        <col style="width:82px;">
                                        <col style="width:38px;">
                                    </colgroup>
                                    <tbody data-bind="foreach:items">
                                    <!-- ko if: itemType != '10010604' -->

                                    <tr class="itemList"
                                        data-bind="attr: {'class': isLastCart  ? 'itemList last' : 'itemList', 'data-cartId': cartId, 'data-itemId': itemId, 'data-itemCount': itemCount(), 'data-productId': productId, 'data-price': price, 'data-checked': checked()}">
                                        <th class="optionTitle">
                                            <!-- ko if: itemType == '10010604' -->
                                            <span class="addArrow"></span>
                                            <!-- /ko -->
                                            <strong class="deal-item-type-title"><!--ko text: title-->
                                                <!--/ko--></strong>
                                            <!--ko if:isBest -->
                                            <span class="conversion-popularity-notice">인기급상승</span>
                                            <!--/ko-->
                                            <p class="alertNotice" style="color: red;"
                                               data-bind="visible: isOutOfRange">
                                                [품절임박] 재고 <!-- ko text: quantity.max --><!-- /ko -->
                                                <!-- ko text: self.isOutOfRange --><!-- /ko -->개
                                            </p>
                                            <p class="alertNotice" style="color: red; display: none;"
                                               data-bind="visible: ui.itemCountAlert.visible">
                                                * <!-- ko text: ui.itemCountAlert.text --><!-- /ko --> 구매 가능한 수량으로
                                                변경되었습니다.
                                            </p>
                                        </th>
                                        <td class="selectPrice each"><span
                                                data-bind="text: #*$parents[2].formatCurrency(price)*#"></span>원
                                        </td>
                                        <td class="option_cnt" data-bind="visible: ui.itemCountSelect.visible()">
                                            <input type="hidden" data-bind="value: originalItemCount()">
                                            <select data-bind="options: ui.itemCountSelect.options,
                                                                    optionsText: 'text',
                                                                    optionsValue: 'value',
                                                                    style: ui.itemCountSelect.style,
                                                                    optionsAfterRender: setOptionDisable,
                                                                     attr:{'class': ui.itemCountSelect.cssClass},
                                                                    value: itemCount() <= 10 && ui.itemCountSelect.visible() ? itemCount : ui.itemCountSelect.value,
                                                                    event:{click: function() {ui.itemCountSelect.event.click(itemCount()); return true;}, change: function() { if (isInit() && itemCount() <= 10) { #*$parents[1].eventHandler.changeItemCount(this);*#} else if (isInit() && itemCount() > 10) {ui.itemCountChangeButton.event.show();}   return true;}}">
                                            </select>
                                        </td>

                                        <td class="option_cnt" data-bind="visible: !ui.itemCountSelect.visible()">
                                            <label for="massQuantity">수량</label>
                                            <input type="number" class="massQty" data-bind="textInput: ui.itemCountInput.value,
                                                                event: {click: function() {ui.itemCountSelect.event.click(itemCount()); return true;}, change: function() {ui.itemCountInput.change(this); return true;} },
                                                                style: ui.itemCountInput.style ">
                                            <button type="button" class="changeQty" data-bind="event:{
                                                                click: function() {ui.itemCountChangeButton.event.click(this, $parents[1].eventHandler.changeItemCount); return true;} },
                                                                visible: ui.itemCountChangeButton.visible">수량변경
                                            </button>

                                        </td>
                                        <td class="selectPrice"><span
                                                data-bind="text: #*$parents[2].formatCurrency(itemCount() * price)*# "></span>원
                                        </td>
                                        <td class="delete">
                                            <button class="tI" type="button"
                                                    data-bind="click: function(){$parents[1].eventHandler.removeCart($data, $parent, $parents[1])}">
                                                삭제
                                            </button>
                                        </td>
                                    </tr>

                                    <!-- /ko -->
                                    </tbody>
                                </table>
                                <!-- ko if: hasAdditionalItem -->
                                <table class="optionAddSelect" cellpadding="0" cellspacing="0">
                                    <colgroup>
                                        <col style="width:230px;">
                                        <col style="width:90px;">
                                        <col style="width:80px;">
                                        <col style="width:82px;">
                                        <col style="width:33px;">
                                    </colgroup>
                                    <tbody data-bind="foreach:items">
                                    <!-- ko if: itemType == '10010604' -->

                                    <tr class="itemList"
                                        data-bind="attr: {'class': isLastCart  ? 'itemList last' : 'itemList', 'data-cartId': cartId, 'data-itemId': itemId, 'data-itemCount': itemCount(), 'data-productId': productId, 'data-price': price, 'data-checked': checked()}">
                                        <th class="optionTitle">
                                            <!-- ko if: itemType == '10010604' -->
                                            <span class="addArrow"></span>
                                            <!-- /ko -->
                                            <strong class="deal-item-type-title"><!--ko text: title-->
                                                <!--/ko--></strong>
                                            <!--ko if:isBest -->
                                            <span class="conversion-popularity-notice">인기급상승</span>
                                            <!--/ko-->
                                            <p class="alertNotice" style="color: red;"
                                               data-bind="visible: isOutOfRange">
                                                [품절임박] 재고 <!-- ko text: quantity.max --><!-- /ko -->
                                                <!-- ko text: self.isOutOfRange --><!-- /ko -->개
                                            </p>
                                            <p class="alertNotice" style="color: red; display: none;"
                                               data-bind="visible: ui.itemCountAlert.visible">
                                                * <!-- ko text: ui.itemCountAlert.text --><!-- /ko --> 구매 가능한 수량으로
                                                변경되었습니다.
                                            </p>
                                        </th>
                                        <td class="selectPrice each"><span
                                                data-bind="text: #*$parents[2].formatCurrency(price)*#"></span>원
                                        </td>
                                        <td class="option_cnt" data-bind="visible: ui.itemCountSelect.visible()">
                                            <input type="hidden" data-bind="value: originalItemCount()">
                                            <select data-bind="options: ui.itemCountSelect.options,
                                                                    optionsText: 'text',
                                                                    optionsValue: 'value',
                                                                    style: ui.itemCountSelect.style,
                                                                    optionsAfterRender: setOptionDisable,
                                                                     attr:{'class': ui.itemCountSelect.cssClass},
                                                                    value: itemCount() <= 10 && ui.itemCountSelect.visible() ? itemCount : ui.itemCountSelect.value,
                                                                    event:{click: function() {ui.itemCountSelect.event.click(itemCount()); return true;}, change: function() { if (isInit() && itemCount() <= 10) { #*$parents[1].eventHandler.changeItemCount(this);*#} else if (isInit() && itemCount() > 10) {ui.itemCountChangeButton.event.show();}   return true;}}">
                                            </select>
                                        </td>

                                        <td class="option_cnt" data-bind="visible: !ui.itemCountSelect.visible()">
                                            <label for="massQuantity">수량</label>
                                            <input type="number" class="massQty" data-bind="textInput: ui.itemCountInput.value,
                                                                event: {click: function() {ui.itemCountSelect.event.click(itemCount()); return true;}, change: function() {ui.itemCountInput.change(this); return true;} },
                                                                style: ui.itemCountInput.style ">
                                            <button type="button" class="changeQty" data-bind="event:{
                                                                click: function() {ui.itemCountChangeButton.event.click(this, $parents[1].eventHandler.changeItemCount); return true;} },
                                                                visible: ui.itemCountChangeButton.visible">수량변경
                                            </button>

                                        </td>
                                        <td class="selectPrice"><span
                                                data-bind="text: #*$parents[2].formatCurrency(itemCount() * price)*# "></span>원
                                        </td>
                                        <td class="delete">
                                            <button class="tI" type="button"
                                                    data-bind="click: function(){$parents[1].eventHandler.removeCart($data, $parent, $parents[1])}">
                                                삭제
                                            </button>
                                        </td>
                                    </tr>

                                    <!-- /ko -->
                                    </tbody>
                                </table>
                                <!-- /ko -->
                            </div>
                        </div>
                    </td>
                    <td class="price"><b data-bind="text: #*$parents[1].formatCurrency(productItemCost())*#"></b><span
                            class="unit">원</span></td>
                    <!-- ko ifnot: $index -->
                    <td class="price last"
                        data-bind="attr: {rowspan: $parent.products().length, rowSpan: $parent.products().length}">
                        <!-- ko foreach: $parents[0].tags() -->
                        <span data-bind="{attr:{'class': color}}"><!--ko text: #*$parents[2].formatCurrency(text)*# -->
                            <!--/ko--><!-- ko if: type =='charge' && value == 3 -->원 이상<br> 무료배송<!-- /ko --></span>
                        <!-- /ko -->

                        <!-- ko if: $parent.bundleCost().deliveryCharge() > 0 -->
                        <b data-bind="visible: $parent.bundleCost().deliveryCharge() > 0, text: $parents[1].formatCurrency($parent.bundleCost().deliveryCharge())"></b><span
                            class="unit" data-bind="visible: $parent.bundleCost().deliveryCharge() > 0">원</span>
                        <!-- /ko -->

                        <!-- ko if: $parent.bundleCost().deliveryCharge() == 0 && $parent.bundleCost().itemCost() == 0  -->
                        <span class="unit">-</span>
                        <!-- /ko -->

                        <!-- ko if: $parents[0].deliveryBundleType != 1  -->
                        <div class="popupFree" data-bind="visible: $parent.shortfallPriceForFreeDelivery() > 0 ">
                            <p class="text">
                                묶음상품을<br>
                                <span class="pText"><!-- ko text: $parents[1].formatCurrency($parent.shortfallPriceForFreeDelivery())-->
                                    <!-- /ko -->원 이상 추가</span>하시면<br>
                                <span class="pText">무료배송</span> 가능합니다!
                            </p>
                        </div>
                        <!-- /ko -->

                        <!-- 배송비 절약상품 -->
                        <button type="button" class="btn-save-shipping"
                                data-bind="visible: $parent.deliveryPartnerId != 16 && $parent.bundleCost().deliveryCharge() > 0, click: function(data, event) { #*$parents[2].saveDeliveryChargeVM.eventHandler.open(event, $parent);*#}">
                            배송비 절약상품
                        </button>
                    </td>
                    <!-- /ko -->
                </tr>
                <!--/ko -->


                <!-- /ko -->
                </tbody>
            </table>
            <div class="cB">
                <div class="priceWrap v1 fL">
                    <table class="paymentTable" cellspacing="0" cellpadding="0" summary="결제예정금액">
                        <caption>각 상품 금액 및 업체배송 금액</caption>
                        <tbody>
                        <tr>
                            <td class="price"><span class="priceText">업체배송 상품금액</span>
                                <!-- ko text: formatCurrency(partnerCost.itemCost()) --><!-- /ko --><span
                                        class="unit">원</span></td>
                            <td class="deliveryCharge"><span class="priceText">배송비</span>
                                <!-- ko text: formatCurrency(partnerCost.deliveryCharge()) --><!-- /ko --><span
                                        class="unit">원</span></td>
                            <td class="totalPrice last"><span class="priceText">결제 예정금액</span>
                                <!-- ko text: formatCurrency(partnerCost.totalCost()) --><!-- /ko --><span class="unit">원</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <span class="plus"></span>
                    <span class="equal"></span>
                </div>
            </div>
            <!-- /ko -->
            <!-- /ko -->


            <!-- 배송비 절약상품 -->
            <!-- ko with: saveDeliveryChargeVM -->
            <div class="layerPopupWrap soldOutWrap" style="display: none;" data-bind="visible: visible">
                <div class="layerPopupOpacity" data-bind="click: eventHandler.close"></div>
                <div class="layerPopupContent soldOutPopup saveShippingPopup">
                    <h4 class="title saveShippingTitle">배송비 절약상품</h4>
                    <p class="productText"><strong>
                        <!-- ko text: title --><!-- /ko -->에 대한 묶음상품</strong></p>
                    <p class="productText" data-bind="visible: parseInt(formattedShortfallPriceForFreeDelivery()) > 0">
                        <strong>부족한 금액 : <strong class="number"><!-- ko text: formattedShortfallPriceForFreeDelivery -->
                            <!-- /ko --></strong><span class="unit">원</span></strong></p>
                    <div class="cartList">
                        <!-- ko foreach: items() -->
                        <div class="shippingRow">
                            <span class="itemImg"><img src="" alt="" data-bind="attr:{src: thumbnailUrl }"/></span>
                            <div class="textArea">
                                <a href="#"><p class="productName fW"
                                               data-bind="click: $parent.eventHandler.redirectProductDetail">
                                    <!-- ko if: chargeType == '21000000' --><span class="overFreeIcon">무료배송</span>
                                    <!-- /ko -->
                                    <!-- ko text: productTitle --><!-- /ko -->
                                </p>
                                </a>
                                <div class="option">
                                    <p class="optionName"><!-- ko text: itemName --><!-- /ko --></p>
                                    <strong class="optionPrice">
                                        <span class="number"><!-- ko text: formattedPrice --><!-- /ko --></span>
                                        <span class="unit">원</span>
                                    </strong>
                                    <button type="button" class="btnCart"
                                            data-bind="click: function(data, event) { #*$parent.eventHandler.addCart(data, event);*# }">
                                        담기
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <div class="moreBtn" data-bind="visible: showSearchButton"><a href="#"
                                                                                      data-bind="click: eventHandler.load">더보기
                            <span class="arrow tI"></span></a></div>
                    </div>
                    <button class="close tI" data-bind="click: eventHandler.close">닫기</button>
                </div>
            </div>
            <!--/ko -->

            <div class="edit oF cB">
                <p class="choice fL"><span class="vCheck fL"></span>선택상품을</p>
                <!--<button class="wishBtn fL" type="button">찜하기</button>-->
                <button class="delBtn bottom fL" type="button"
                        data-bind="with: bundleVM, click: function() {bundleVM.eventHandler.removeCarts(this); return true; }">
                    삭제하기
                </button>
                <p class="keepText fR">장바구니에 담긴 상품은 최대 30일까지 보관됩니다.</p>
            </div>
        </div>

        <div class="cB"
             data-bind="with: bundleVM, visible: bundleVM.memeBundles().length > 0 || bundleVM.partnerBundles().length > 0">
            <div class="priceWrap v1 fL">
                <table class="paymentTotalTable" cellspacing="0" cellpadding="0" summary="결제예정금액">
                    <caption>종 결제 금액</caption>
                    <colgroup>
                        <col style="width:350px;">
                        <col style="width:263px;">
                        <col style="width:361px;">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="price"><span class="priceText">총 상품금액</span>
                            <!-- ko text: formatCurrency(costInfo.itemCost()) --><!-- /ko --><span class="unit">원</span>
                        </td>
                        <td class="deliveryCharge"><span class="priceText">배송비</span>
                            <!-- ko text: formatCurrency(costInfo.deliveryCharge()) --><!-- /ko --><span
                                    class="unit">원</span></td>
                        <td class="totalPrice last"><span class="priceText">결제 예정금액</span>
                            <!-- ko text: formatCurrency(costInfo.totalCost()) --><!-- /ko --><span
                                    class="unit">원</span></td>
                    </tr>
                    </tbody>
                </table>
                <span class="plusBig"></span>
                <span class="equalBig"></span>
            </div>
        </div>

        <div class="btnWrap mA cB"
             data-bind="with: bundleVM, visible: bundleVM.memeBundles().length > 0 || bundleVM.partnerBundles().length > 0">
            <button data-returnurl="http://www.memebox.com/product/514490?list=%EB%B2%A0%EC%8A%A4%ED%8A%B8%20VS%20List"
                    type="button" #*class="shoppingBtn tI"*#>쇼핑 계속하기
            </button>

            <a href="https://memebox.com/login?returnUrl=https://order.memebox.com/cart">
                <button type="button" #*class="buyBtn tI"*#>결제하기</button>
            </a>

            <div class="pointSave"><span class="point"><!-- ko text: formatCurrency(costInfo.savingPoint()) -->
                <!-- /ko -->&nbsp;P</span> 가 적립될 예정입니다.
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="agent"
       value="{&#34;platform&#34;:&#34;web&#34;,&#34;os&#34;:&#34;Windows 10&#34;,&#34;browser&#34;:&#34;Chrome&#34;,&#34;version&#34;:&#34;58&#34;,&#34;terminalId&#34;:10001001,&#34;anonymousId&#34;:&#34;&#34;}">
<script type="text/javascript" src="js/cart/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="js/cart/knockout-latest.js"></script>
<script type="text/javascript" src="js/json2.min.js"></script>


<!--<script type="text/javascript" src="//s1cdn.memebox.com/web/js/optimize/jquery.cookie.js?v=155-sc6413"></script>-->
<script type="text/javascript" src="//s1cdn.memebox.com/web/js/optimize/jquery.cookie.js"></script>
<div id="footer" class="mA">
    <div class="footerTopInner">
        <ul class="oF landing">
            <li class="footerList_01">
                <a href="https://memebox.recruiter.co.kr/" target="_blank">
                    <span class="icon_05 icon"></span>
                    <span class="landingText">세상을 바꾸는<br>발그레박서 인재채용</span>
                </a>
            </li>
            <li class="footerList_02">
                <a href="http://memebox.com/page/15939">
                    <span class="icon_01 icon"></span>
                    <span class="landingText">온라인 화장품 구매<br>믿어도 될까요?</span>
                </a>
            </li>
            <li class="footerList_03">
                <a href="http://memebox.com/page/16098">
                    <span class="icon_02 icon"></span>
                    <span class="landingText">발그레박스가 배송하는<br>특별한 발그레배송!</span>
                </a>
            </li>
            <li class="footerList_04">
                <a href="http://memebox.com/page/16089">
                    <span class="icon_03 icon"></span>
                    <span class="landingText">실패없는 쇼핑을 위한<br>90일 환불 정책</span>
                </a>
            </li>
            <li class="footerList_05">
                <a href="http://memebox.com/offlinestore/immeme">
                    <span class="icon_04 icon"></span>
                    <!--<span class="landingText">I'M MEME<br/>오프라인에서 만나보기</span>-->
                    <span class="landingText">발그레박스<br>오프라인 스토어</span>
                </a>
            </li>
        </ul>
        <div class="footerMiddle">
            <p class="csCenter fL">
                <span class="call"></span>
                <strong><a href="http://memebox.com">고객 감동 서비스센터 &gt;</a></strong>
                <span>평일 9:00 - 18:00(주말/공휴일 제외)</span>
            </p>
            <dl>
                <dt class="recruit">기업 문화</dt>
                <dd>
                    <a class="mg_t" href="http://blog.naver.com/memebox" target="_blank" ga-event="푸터,푸터_기업문화블로그">기업문화
                        블로그 보기 &gt; </a>
                    <a class="mg_t" href="http://www.facebook.com/playmemebox" target="_blank">기업문화 페이스북 보기 &gt; </a>
                    <a class="mg_t"
                       href="http://img2.memebox.com/static/contents/img/upload/contents_20160926141749_f3H73NLEoz.pdf"
                       target="_blank" ga-event="푸터,푸터_플레이북">PLAYBOOK 2015 Ver DOWNLOAD > </a>
                    <a class="mg_t"
                       href="http://img2.memebox.com/static/contents/img/upload/contents_20160926141840_WKTIHpU6lD.pdf"
                       target="_blank" ga-event="푸터,푸터_플레이북">PLAYBOOK 2016 Ver DOWNLOAD > </a>
                </dd>
            </dl>
            <dl>
                <dt>고객의 소리</dt>
                <dd>
                    <span class="gText">고객님의 소리에<br>더 다가가겠습니다.</span>
                    <a href="http://memebox.com/cs/inquiry/" ga-event="푸터,푸터_1:1문의">제안하러 가기 &gt;</a>
                </dd>
            </dl>
            <dl class="partner">
                <dt>파트너 서비스</dt>
                <dd>
                    <ul>
                        <li>
                            <a href="mailto:partners@memebox.com">온라인 입점 문의 &gt;</a>
                            <div class="copyBox p_left">partners@memebox.com</div>

                        </li>
                        <li>
                            <a class="mg_t" href="mailto:b2b@memebox.com">WHOLESALE 문의 &gt;</a>
                            <div class="copyBox">b2b@memebox.com</div>
                        </li>
                        <li>
                            <a class="mg_t" href="mailto:partner_mkt@memebox.com">광고/프로모션 문의 &gt;</a>
                            <div class="copyBox">partner_mkt@memebox.com</div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <div class="cB"></div>
        </div>
        <div class="memeBoxInfo oF">
            <a class="footerLogo fL" href="http://memebox.com"></a>
            <div class="textBox fL">
                <ul class="oF">
                    <li>
                        <a href="http://corp.memebox.com" target="_blank">회사소개</a>
                        <span class="bar">|</span>
                    </li>
                    <li>
                        <a href="http://memebox.com/policy/agreement" ga-event="푸터,푸터_이용약관">이용약관</a>
                        <span class="bar">|</span>
                    </li>
                    <li>
                        <a href="http://memebox.com/policy/privacy" ga-event="푸터,푸터_개인정보취급방침"><strong>개인 정보 취급
                            방침</strong></a>
                        <span class="bar">|</span>
                    </li>
                    <li>
                        <a href="http://memebox.com/policy/youth">청소년 보호 정책</a>
                        <span class="bar">|</span>
                    </li>
                    <li><a href="http://memebox.com/policy/email">이메일 무단 수집 거부 방침</a></li>
                </ul>
                <address>
                    (주)발그레박스 | 대표자 : | 개인 정보 보호 책임자 : | 사업자등록번호 111-11-11111 <a
                        href="http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=2118847525"
                        target="_blank" ga-event="푸터,푸터_사업자정보확인">사업자 정보 확인 &gt;</a><br>
                    통신판매 신고번호 : 제 호 | <br>
                    본사 : <a href="http://memebox.com/page/8386" target="_parent" ga-event="푸터,푸터_오시는길">발그레박스 오시는길
                    &gt;</a>
                    <br>
                    물류센터 :
                    <br>
                    <span class="e_text">Copyright ﻿ⓒ 2017 balgre Inc. All rights reserved.</span><br>
                    <span class="lastLine"><strong>LG U+ 구매 안전 서비스</strong> : 고객님의 안전거래를 위해 현금 등으로 결제 시, 저희 사이트에서 가입한 구매안전 서비스를 이용하실 수 있습니다. <a
                            onclick="goValidEscrow('memebox_mobile');" style="cursor:pointer;" ga-event="푸터,푸터_구매안전서비스">서비스 가입 확인 &gt;</a></span>
                </address>
            </div>
        </div>
    </div>
    <div class="footerBottomOuter">
        <div class="footerBottomInner">
            <div class="award fL">
                <div class="bx-wrapper" style="max-width: 712px; margin: 0px auto;">
                    <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 43px;">
                        <ul id="awardList" class="badge fL"
                            style="width: 1115%; position: relative; transition-duration: 0s; transform: translate3d(-712px, 0px, 0px);">
                            <li class="list6 bx-clone"
                                style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_01 mark"></span>
                                <span class="listText">2015 한국소비자<br>만족지수 1위</span>
                            </li>
                            <li class="list7 bx-clone"
                                style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_04 mark"></span>
                                <span class="listText">여성친화<br>일촌기업 협약</span>
                            </li>
                            <li class="list8 bx-clone"
                                style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_02 mark"></span>
                                <span class="listText">나는 글로벌 벤처다<br>2013 대상</span>
                            </li>
                            <li class="list9 bx-clone"
                                style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_03 mark"></span>
                                <span class="listText">제 7회 대한민국<br>인터넷 대상 특별상</span>
                            </li>
                            <li class="list1" style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_08 mark"></span>
                                <span class="listText">여성가족부 주관<br>가족친화 우수기업</span>
                            </li>
                            <li class="list2" style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_06 mark"></span>
                                <span class="listText">스마트앱어워드 2015<br>전문쇼핑부문 대상</span>
                            </li>
                            <li class="list3" style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_07 mark"></span>
                                <span class="listText">HWB Award 2015<br>BEST New Brand</span>
                            </li>
                            <li class="list4" style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_05 mark"></span>
                                <span class="listText">대한민국 리딩기업<br>2015 대상</span>
                            </li>
                            <li class="list5" style="float: left; list-style: none; position: relative; width: 168px;">
                                <span class="kobacoMark"></span>
                                <span class="kobacoText">혁신형중소기업 선정</span>
                            </li>
                            <li class="list6" style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_01 mark"></span>
                                <span class="listText">2015 한국소비자<br>만족지수 1위</span>
                            </li>
                            <li class="list7" style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_04 mark"></span>
                                <span class="listText">여성친화<br>일촌기업 협약</span>
                            </li>
                            <li class="list8" style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_02 mark"></span>
                                <span class="listText">나는 글로벌 벤처다<br>2013 대상</span>
                            </li>
                            <li class="list9" style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_03 mark"></span>
                                <span class="listText">제 7회 대한민국<br>인터넷 대상 특별상</span>
                            </li>
                            <li class="list1 bx-clone"
                                style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_08 mark"></span>
                                <span class="listText">여성가족부 주관<br>가족친화 우수기업</span>
                            </li>
                            <li class="list2 bx-clone"
                                style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_06 mark"></span>
                                <span class="listText">스마트앱어워드 2015<br>전문쇼핑부문 대상</span>
                            </li>
                            <li class="list3 bx-clone"
                                style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_07 mark"></span>
                                <span class="listText">HWB Award 2015<br>BEST New Brand</span>
                            </li>
                            <li class="list4 bx-clone"
                                style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_05 mark"></span>
                                <span class="listText">대한민국 리딩기업<br>2015 대상</span>
                            </li>
                        </ul>
                    </div>
                    <div class="bx-controls"></div>
                </div>
                <span id="award_arrow_prev" class="award_prev list_arrow tI" data-action="prev">이전 수상내역</span>
                <span id="award_arrow_next" class="award_next_on list_arrow tI" data-action="next">다음 수상내역</span>
            </div>
            <div class="snsNavi fR">
                <a class="insta" href="http://instagram.com/memebox_korea" target="_blank" ga-event="푸터,푸터_인스타그램">인스타그램
                    바로가기</a>
                <a class="faceBook" href="http://www.facebook.com/memebox" target="_blank" ga-event="푸터,푸터_페이스북">페이스북
                    바로가기</a>
                <a class="youtube" href="https://www.youtube.com/user/memeboxseoul" target="_blank"
                   ga-event="푸터,푸터_유투브">유뷰트 바로가기</a>
            </div>
            <div class="globalWrap fR">
                <a class="global">
                    <span class="arrow"></span>
                    <span class="text fW">FAMILY SITE</span>
                </a>
                <div class="globalSelect">
                    <ul>
                        <li>
                            <a href="http://corp.memebox.com" target="_blank">
                                <span class="globalIcon corp"></span>
                                <span class="globalText">발그레박스 기업사이트</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://​iammeme.com" target="_blank">
                                <span class="globalIcon immeme"></span>
                                <span class="globalText">I'M MEME 아임발그레</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://ponyeffect.com" target="_blank">
                                <span class="globalIcon ponyEffect"></span>
                                <span class="globalText">Pony Effect 포니이펙트</span>
                            </a>
                        </li>
                        <li>
                            <a id="linkToUS" ga-event="푸터,푸터_미국">
                                <span class="globalIcon usa"></span>
                                <span class="globalText">MEMEBOX USA</span>
                            </a>
                        </li>
                        <li>
                            <a id="linkToCN" ga-event="푸터,푸터_중국">
                                <span class="globalIcon china"></span>
                                <span class="globalText">MEMEBOX CHINA</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##need jqeury library first##-->
<script src="/js/jquery.bxslider.min.js"></script>
<script src="/js/footer/web/memebox.js?v=1494985500000"></script>

<!-- 그루솔루션 공통 스크립트 -->

<script type="text/javascript">
    try {
        var _setlefttime = '360';
        var _FST_DOMAIN = location.protocol == "https:" ? "https://log.grucompany.co.kr" : "http://log.grucompany.co.kr";
        document.write(unescape("%3Cscript src='" + _FST_DOMAIN + "/adjs/kcadchk.js' type='text/javascript'%3E%3C/script%3E"));
    } catch (e) {
    }
</script>
<script>
    try {
        var _setlefttime = '1';
        var _FST_DOMAIN = location.protocol == "https:" ? "https://log.grucompany.co.kr" : "http://log.grucompany.co.kr";
        document.write(unescape("%3Cscript src='" + _FST_DOMAIN + "/adjs/kcadchk_drt.js' type='text/javascript'%3E%3C/script%3E"));
    } catch (e) {
    }
</script>

<!-- 네이버 공통 스크립트 -->
<!-- 공통 적용 스크립트 , 모든 페이지에 노출되도록 설치. 단 전환페이지 설정값보다 항상 하단에 위치해야함 -->
<script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
    try {
        if (!wcs_add) var wcs_add = {};
        wcs_add["wa"] = "s_1f26e67e5df";
        if (!_nasa) var _nasa = {};
        wcs.inflow("memebox.com");
        wcs_do(_nasa);
    } catch (e) {
    }
</script>


<script data-main="/js/app.js?v=1494985500000" src="/js/require.js"></script>
<script>
    $('.ico').mouseover(function () {
        $('.popupDeliv').show()
    }).mouseout(function () {
        $('.popupDeliv').hide()
    });


    var dataLayer = [];

    require(['cart/_main'], function (MasterVM) {
        if (typeof MasterVM === 'function') {
            var masterVM = new MasterVM();

            masterVM.bundleVM.loadAllCarts();
            masterVM.soldOutVM.initLoad();
            masterVM.saveDeliveryChargeVM.initConfig({limit: 3, platform: 'web'});
        } else {
            location.href = "reloadCart";
        }
    })

    // 스크립트 오류 시 로그 처리
    var loggerIs = true;

    function ErrorCheck(massage, fileName, LineNo) {
        if (loggerIs) {
            var apiUrl = '/ajax/errLog/';
            var err = 'file=' + fileName + '&line=' + LineNo + '&err=' + massage;

            $.ajax({
                type: "GET",
                url: apiUrl,
                data: {err: err},
                contentType: 'application/json',
                dataType: 'json',
                cache: false
            }).done(function () {
                return true;
            }).error(function () {
                return true;
            });
        }
        return true;
    }
    window.onerror = ErrorCheck;
</script>


<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WMMF2B"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start': new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-WMMF2B');</script>
<!-- End Google Tag Manager -->

<script type="text/javascript">
    function generateSID() {
        function s4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }

        return (s4() + s4() + s4() + s4() + s4() + s4());
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function getSessionCookie(cookieKey) {
        var session_id = getCookie(cookieKey);
        if (session_id == "") {
            session_id = generateSID();
            window.document.cookie = cookieKey + "=" + session_id + "; domain=.memebox.com; path=/";
        }
        return session_id;
    }

    !function () {
        var analytics = window.analytics = window.analytics || [];
        if (!analytics.initialize)if (analytics.invoked) window.console && console.error && console.error("Segment snippet included twice."); else {
            analytics.invoked = !0;
            analytics.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "page", "once", "off", "on"];
            analytics.factory = function (t) {
                return function () {
                    var e = Array.prototype.slice.call(arguments);
                    e.unshift(t);
                    analytics.push(e);
                    return analytics
                }
            };
            for (var t = 0; t < analytics.methods.length; t++) {
                var e = analytics.methods[t];
                analytics[e] = analytics.factory(e)
            }
            analytics.load = function (t) {
                var e = document.createElement("script");
                e.type = "text/javascript";
                e.async = !0;
                e.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.com/analytics.js/v1/" + t + "/analytics.min.js";
                var n = document.getElementsByTagName("script")[0];
                n.parentNode.insertBefore(e, n)
            };
            analytics.SNIPPET_VERSION = "3.1.0";
            analytics.load("9tsiYz7B0EtNE4w16UG9Kvz00Yf5yvdQ");

        }
    }();

</script>
<script>
    <!--
    function mobRf() {
        try {
            var rf = new EN();
            rf.setSSL(true);
            rf.sendRf();
        } catch (e) {
        }
    }
    //-->
</script>
<script async="true" src="https://cdn.megadata.co.kr/js/enliple_min2.js" onload="mobRf()"></script>

<
script
src = "js/common/cartSendSegment.js?v=1494985500000" ></script>
</body>
</html>
