<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <!--<meta name="viewport"-->
    <!--content="user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, width=device-width, initial-scale=1.0"/>-->
    <title>[발그레박스] 장바구니</title>

    <link rel="stylesheet" type="text/css" href="/css/cart/cartCommon.css?v=1493534700000" media="screen"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

## jquery number formatting
    <script src="/js/product/jquery.number.min.js" type="text/javascript"></script>
</head>

<body data-deployversion="1494985500000">


<h1 class="cartLogo"><a href="http://memebox.com" class="tI">발그레박스 내 삶을 아름답게!</a></h1>
<div class="cartHeaderWrap">
    <div class="cartHeader oF">

        <h2 class="cartStepTitle fL tI">장바구니</h2>
        <div class="cartStep fR tI">1 장바구니 단계</div>

    </div>


    <div class="pointCoouponWrap">
        <div class="pointCoupon">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <th>로그인 후, 보유 포인트 및 쿠폰 수량을 확인하실 수 있습니다.</th>
                </tr>
            </table>
        </div>
    </div>


</div>


<div class="cartPage">


    <div class="cartWrap">
        <div class="cartItemList">
            <table class="cartListHeader">
                <caption>장바구니 상품 머릿말</caption>
                <colgroup>
                    <col style="width:37px;">
                    <col style="width:86px;">
                    <col style="width:582px;">
                    <col style="width:138px;">
                    <col style="width:139px;">
                </colgroup>
                <thead>
                <tr class="cartHeaderRow">
                    <th class="col1">
                        <input type="checkbox" id="allCheck" checked="on">
                    </th>
                    <th class="leftAlign col2">전체선택</th>
                    <th class="col3">상품정보</th>
                    <th class="col4">상품금액</th>
                    <th class="col5 last">
                        <span>배송비</span>
                        <span class="ico"></span>
                    </th>
                </tr>
                </thead>
            </table>
            <div class="popupDeliv" style="display: none;">
                <p class="textTitle">배송비 관련 안내</p>
                <p class="text">
                    <span>비묶음 제품</span>은 제품등의 특성으로 인해<br>
                    <span class="pText">묶음배송이 불가능</span>합니다
                </p>
            </div>

            <!-- ko with: bundleVM -->
            <!-- ko if: memeBundles().length  -->

            <form method="post" id="ReadingBasketSelectForm">

                <table class="cartList bundles" cellspacing="0" cellpadding="0" summary="장바구니 목록"
                       data-bind="visible: isInit()" #*style="display: none;*#
                ">
                <caption>발그레배송 장바구니 상품 리스트</caption>
                <colgroup>
                    <col style="width:37px;">
                    <col style="width:670px;">
                    <col style="width:138px;">
                    <col style="width:139px;">
                </colgroup>
                <thead class="memeHeadWrap">
                <tr class="memeHead">
                    <th class="tI" colspan="4">
                        <h3 class="tI">발그레배송</h3>
                    </th>
                </tr>
                </thead>

                <tbody class="wrap">
                <!-- ko foreach: memeBundles() -->

                    #set($total3 = 0)
                    #set($totalDlv3 = 0)

                <!-- ko foreach: products() -->
                    #foreach($item in $basketListGET.basketList)
                        #foreach($item2 in $item)
                            #set($total = 0)
                        ##                        #foreach($item3 in $item2)
                        <tr>
                            <td class="check">
                                <input type="checkbox" value="${item2.get(0).basketId}" checked="on"/>
                            </td>
                            <td class="itemInfo">
                                <div>
                                ##                                <a href="/detail?${item2.get(0).productId}">
                                    <a href="/detail?product_id=$math.toInteger(${item2.get(0).productId})">
                                        <img src="http://sumcrimage.cafe24.com/${item2.get(0).thumbUrl}">
                                    </a>
                                </div>
                                <div #*class="textArea fL"*#>
                                    <p class="productName fW">
                                        <a data-bind="attr:{href: productUrl}"><!--ko text: productTitle-->
                                            [${item2.get(0).brand.brandName}] ${item2.get(0).prodName}
                                            <!--/ko--></a>
                                    </p>
                                    <div #*class="option"*#>
                                        <table #*class="optionSelect"*# cellpadding="0" cellspacing="0">
                                            <colgroup>
                                                <col style="width:235px;">
                                                <col style="width:90px;">
                                                <col style="width:80px;">
                                                <col style="width:82px;">
                                                <col style="width:38px;">
                                            </colgroup>

                                            #foreach($item3 in $item2)

                                                <input type="hidden" name="items[]" value="$math.toInteger($item3.itemId)">
                                                <input type="hidden" name="items[$math.toInteger($item3.itemId)].price"
                                                       value="$math.toInteger($item3.price)">
                                                <input type="hidden" name="upDown[$math.toInteger($item3.itemId)].cnt"
                                                       value="$math.toInteger($item3.itemCount)">
                                                <tbody id="tbody">
                                                <!-- ko if: itemType != '10010604' -->

                                                <tr>
                                                    <th class="optionTitle">
                                                        <!-- ko if: itemType == '10010604' -->
                                                        <span class="addArrow"></span>
                                                        <!-- /ko -->
                                                        ${item3.itemName}
                                                        <strong class="deal-item-type-title"><!--ko text: title-->
                                                            <!--/ko--></strong>
                                                        <input type="hidden" id="basket_id" value=" ${item3.basketId}">
                                                    </th>
                                                    <td class="selectPrice each">
                                                        <span>$number.format(${item3.price})</span>
                                                        원
                                                    </td>
                                                    <td class="option_cnt"
                                                        data-bind="visible: ui.itemCountSelect.visible()">
                                                        <input type="hidden" data-bind="value: originalItemCount()">
                                                        <select class="basketItemCnt" onchange="basketUpdte(this);">
                                                        ##                                                        myPoint.vm         #foreach($Pages in [0..$MyPoint.pointList.totalPages]) 참고
                                                            #foreach($i in [1..10])
                                                                <option class="basketItemCntChoice"
                                                                        value="${item3.basketId}|$i"
                                                                    #if($i == $number.format(${item3.itemCount}))
                                                                        selected="selected" #end>$i</option>
                                                            #end
                                                        </select>
                                                    </td>

                                                    <td class="selectPrice">
                                                    <span id="numUpDown01${item3.basketId}">$number.format($math.mul($number.format(${item3.price}), $number.format(${item3.itemCount})))
                                                    #set($total = $math.add($total, $math.mul($number.format(${item3.price}), $number.format(${item3.itemCount}))))</span>
                                                        원
                                                    </td>
                                                    <td class="delete">
                                                        <a href="javascript:deleteBasket('${item3.basketId}')"
                                                           type="button"
                                                           id="removeBtn">
                                                            삭제
                                                        </a>
                                                    </td>
                                                </tr>

                                                <!-- /ko -->
                                                </tbody>
                                            #end
                                        </table>
                                    </div>
                                </div>
                            </td>

                            <td class="price">
                            <span class="unit" id="numUpDown02">
                                $number.format($total)
                            </span>원
                                #set($total3 = $math.add($total3, $total))
                            </td>
                            <td class="price last"
                            #if(${item2.get(0).productDelivery.freeDelivery} < $total)
                                <span>무료배송</span>
                            #elseif(${item2.get(0).productDelivery.freeDelivery} == -1)
                                <span class="unit">$number.format(${item2.get(0).productDelivery.deliveryPrice})원</span>
                                #set($totalDlv3 = $math.add($totalDlv3, ${item2.get(0).productDelivery.deliveryPrice}))
                            #else(${item2.get(0).productDelivery.freeDelivery})
                                <span>$number.format(${item2.get(0).productDelivery.freeDelivery})
                                    원 이상<br> 무료배송</span><br>
                                <span class="unit">$number.format(${item2.get(0).productDelivery.deliveryPrice})원</span>
                                #set($totalDlv3 = $math.add($totalDlv3, ${item2.get(0).productDelivery.deliveryPrice}))
                            #end
                            </td>

                            </br>
                        ##                        #end
                        </tr>

                        #end
                    #end
                <!-- /ko -->

                </tbody>

                </table>

            </form>

            <p class="choice fL"><span class="vCheck fL"></span>선택상품을</p>
            <!--<button class="wishBtn fL" type="button">찜하기</button>-->
            <button class="delBtn bottom fL" type="button">삭제하기</button>

            <p class="keepText fR">장바구니에 담긴 상품은 최대 30일까지 보관됩니다.</p>
        </div>
    </div>

    <div class="cB"
         data-bind="with: bundleVM, visible: bundleVM.memeBundles().length > 0 || bundleVM.partnerBundles().length > 0">
        <div class="priceWrap v1 fL">
            <table class="paymentTotalTable" cellspacing="0" cellpadding="0" summary="결제예정금액">
                <caption>종 결제 금액</caption>
                <colgroup>
                    <col style="width:350px;">
                    <col style="width:263px;">
                    <col style="width:361px;">
                </colgroup>
                <tbody>
                <tr>
                    <td class="price"><span class="priceText">총 상품금액</span>
                        <span class="unit">$number.format($total3)</span>원
                    </td>
                    <td class="deliveryCharge"><span class="priceText">배송비</span>
                        <!-- ko text: formatCurrency(costInfo.deliveryCharge()) --><!-- /ko --><span
                                class="unit">$number.format($totalDlv3)원</span></td>
                    <td class="totalPrice last"><span class="priceText">결제 예정금액</span>
                        <!-- ko text: formatCurrency(costInfo.totalCost()) --><!-- /ko --><span
                                class="unit" id="numUpDown03">$number.format($math.add($total3, $totalDlv3))</span>원
                    </td>
                </tr>
                </tbody>
            </table>
            <span class="plusBig"></span>
            <span class="equalBig"></span>
        </div>
    </div>

    <div class="btnWrap mA cB">
        <button type="button" id="prevBasket">쇼핑 계속하기
        </button>

    ##            <a href="https://memebox.com/login?returnUrl=https://order.memebox.com/cart">
        <button type="button" id="directBasket">결제하기4444</button>
    ##            </a>

    ##            <div class="pointSave"><span class="point"><!-- ko text: formatCurrency(costInfo.savingPoint()) -->
    ##                <!-- /ko -->&nbsp;P</span> 가 적립될 예정입니다.
    ##            </div>
    </div>
</div>
</div>

<div id="footer" class="mA">
    <div class="footerTopInner">
        <ul class="oF landing">
            <li class="footerList_01">
                <a href="https://memebox.recruiter.co.kr/" target="_blank">
                    <span class="icon_05 icon"></span>
                    <span class="landingText">세상을 바꾸는<br>발그레박서 인재채용</span>
                </a>
            </li>
            <li class="footerList_02">
                <a href="http://memebox.com/page/15939">
                    <span class="icon_01 icon"></span>
                    <span class="landingText">온라인 화장품 구매<br>믿어도 될까요?</span>
                </a>
            </li>
            <li class="footerList_03">
                <a href="http://memebox.com/page/16098">
                    <span class="icon_02 icon"></span>
                    <span class="landingText">발그레박스가 배송하는<br>특별한 발그레배송!</span>
                </a>
            </li>
            <li class="footerList_04">
                <a href="http://memebox.com/page/16089">
                    <span class="icon_03 icon"></span>
                    <span class="landingText">실패없는 쇼핑을 위한<br>90일 환불 정책</span>
                </a>
            </li>
            <li class="footerList_05">
                <a href="http://memebox.com/offlinestore/immeme">
                    <span class="icon_04 icon"></span>
                    <!--<span class="landingText">I'M MEME<br/>오프라인에서 만나보기</span>-->
                    <span class="landingText">발그레박스<br>오프라인 스토어</span>
                </a>
            </li>
        </ul>
        <div class="footerMiddle">
            <p class="csCenter fL">
                <span class="call"></span>
                <strong><a href="http://memebox.com">고객 감동 서비스센터 &gt;</a></strong>
                <span>평일 9:00 - 18:00(주말/공휴일 제외)</span>
            </p>
            <dl>
                <dt class="recruit">기업 문화</dt>
                <dd>
                    <a class="mg_t" href="http://blog.naver.com/memebox" target="_blank" ga-event="푸터,푸터_기업문화블로그">기업문화
                        블로그 보기 &gt; </a>
                    <a class="mg_t" href="http://www.facebook.com/playmemebox" target="_blank">기업문화 페이스북 보기 &gt; </a>
                    <a class="mg_t"
                       href="http://img2.memebox.com/static/contents/img/upload/contents_20160926141749_f3H73NLEoz.pdf"
                       target="_blank" ga-event="푸터,푸터_플레이북">PLAYBOOK 2015 Ver DOWNLOAD > </a>
                    <a class="mg_t"
                       href="http://img2.memebox.com/static/contents/img/upload/contents_20160926141840_WKTIHpU6lD.pdf"
                       target="_blank" ga-event="푸터,푸터_플레이북">PLAYBOOK 2016 Ver DOWNLOAD > </a>
                </dd>
            </dl>
            <dl>
                <dt>고객의 소리</dt>
                <dd>
                    <span class="gText">고객님의 소리에<br>더 다가가겠습니다.</span>
                    <a href="http://memebox.com/cs/inquiry/" ga-event="푸터,푸터_1:1문의">제안하러 가기 &gt;</a>
                </dd>
            </dl>
            <dl class="partner">
                <dt>파트너 서비스</dt>
                <dd>
                    <ul>
                        <li>
                            <a href="mailto:partners@memebox.com">온라인 입점 문의 &gt;</a>
                            <div class="copyBox p_left">partners@memebox.com</div>

                        </li>
                        <li>
                            <a class="mg_t" href="mailto:b2b@memebox.com">WHOLESALE 문의 &gt;</a>
                            <div class="copyBox">b2b@memebox.com</div>
                        </li>
                        <li>
                            <a class="mg_t" href="mailto:partner_mkt@memebox.com">광고/프로모션 문의 &gt;</a>
                            <div class="copyBox">partner_mkt@memebox.com</div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <div class="cB"></div>
        </div>
        <div class="memeBoxInfo oF">
            <a class="footerLogo fL" href="http://memebox.com"></a>
            <div class="textBox fL">
                <ul class="oF">
                    <li>
                        <a href="http://corp.memebox.com" target="_blank">회사소개</a>
                        <span class="bar">|</span>
                    </li>
                    <li>
                        <a href="http://memebox.com/policy/agreement" ga-event="푸터,푸터_이용약관">이용약관</a>
                        <span class="bar">|</span>
                    </li>
                    <li>
                        <a href="http://memebox.com/policy/privacy" ga-event="푸터,푸터_개인정보취급방침"><strong>개인 정보 취급
                            방침</strong></a>
                        <span class="bar">|</span>
                    </li>
                    <li>
                        <a href="http://memebox.com/policy/youth">청소년 보호 정책</a>
                        <span class="bar">|</span>
                    </li>
                    <li><a href="http://memebox.com/policy/email">이메일 무단 수집 거부 방침</a></li>
                </ul>
                <address>
                    (주)발그레박스 | 대표자 : | 개인 정보 보호 책임자 : | 사업자등록번호 111-11-11111 <a
                        href="http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=2118847525"
                        target="_blank" ga-event="푸터,푸터_사업자정보확인">사업자 정보 확인 &gt;</a><br>
                    통신판매 신고번호 : 제 호 | <br>
                    본사 : <a href="http://memebox.com/page/8386" target="_parent" ga-event="푸터,푸터_오시는길">발그레박스 오시는길
                    &gt;</a>
                    <br>
                    물류센터 :
                    <br>
                    <span class="e_text">Copyright ﻿ⓒ 2017 balgre Inc. All rights reserved.</span><br>
                    <span class="lastLine"><strong>LG U+ 구매 안전 서비스</strong> : 고객님의 안전거래를 위해 현금 등으로 결제 시, 저희 사이트에서 가입한 구매안전 서비스를 이용하실 수 있습니다. <a
                            onclick="goValidEscrow('memebox_mobile');" style="cursor:pointer;" ga-event="푸터,푸터_구매안전서비스">서비스 가입 확인 &gt;</a></span>
                </address>
            </div>
        </div>
    </div>
    <div class="footerBottomOuter">
        <div class="footerBottomInner">
            <div class="award fL">
                <div class="bx-wrapper" style="max-width: 712px; margin: 0px auto;">
                    <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 43px;">
                        <ul id="awardList" class="badge fL"
                            style="width: 1115%; position: relative; transition-duration: 0s; transform: translate3d(-712px, 0px, 0px);">
                            <li class="list6 bx-clone"
                                style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_01 mark"></span>
                                <span class="listText">2015 한국소비자<br>만족지수 1위</span>
                            </li>
                            <li class="list7 bx-clone"
                                style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_04 mark"></span>
                                <span class="listText">여성친화<br>일촌기업 협약</span>
                            </li>
                            <li class="list8 bx-clone"
                                style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_02 mark"></span>
                                <span class="listText">나는 글로벌 벤처다<br>2013 대상</span>
                            </li>
                            <li class="list9 bx-clone"
                                style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_03 mark"></span>
                                <span class="listText">제 7회 대한민국<br>인터넷 대상 특별상</span>
                            </li>
                            <li class="list1" style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_08 mark"></span>
                                <span class="listText">여성가족부 주관<br>가족친화 우수기업</span>
                            </li>
                            <li class="list2" style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_06 mark"></span>
                                <span class="listText">스마트앱어워드 2015<br>전문쇼핑부문 대상</span>
                            </li>
                            <li class="list3" style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_07 mark"></span>
                                <span class="listText">HWB Award 2015<br>BEST New Brand</span>
                            </li>
                            <li class="list4" style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_05 mark"></span>
                                <span class="listText">대한민국 리딩기업<br>2015 대상</span>
                            </li>
                            <li class="list5" style="float: left; list-style: none; position: relative; width: 168px;">
                                <span class="kobacoMark"></span>
                                <span class="kobacoText">혁신형중소기업 선정</span>
                            </li>
                            <li class="list6" style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_01 mark"></span>
                                <span class="listText">2015 한국소비자<br>만족지수 1위</span>
                            </li>
                            <li class="list7" style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_04 mark"></span>
                                <span class="listText">여성친화<br>일촌기업 협약</span>
                            </li>
                            <li class="list8" style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_02 mark"></span>
                                <span class="listText">나는 글로벌 벤처다<br>2013 대상</span>
                            </li>
                            <li class="list9" style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_03 mark"></span>
                                <span class="listText">제 7회 대한민국<br>인터넷 대상 특별상</span>
                            </li>
                            <li class="list1 bx-clone"
                                style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_08 mark"></span>
                                <span class="listText">여성가족부 주관<br>가족친화 우수기업</span>
                            </li>
                            <li class="list2 bx-clone"
                                style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_06 mark"></span>
                                <span class="listText">스마트앱어워드 2015<br>전문쇼핑부문 대상</span>
                            </li>
                            <li class="list3 bx-clone"
                                style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_07 mark"></span>
                                <span class="listText">HWB Award 2015<br>BEST New Brand</span>
                            </li>
                            <li class="list4 bx-clone"
                                style="float: left; list-style: none; position: relative; width: 178px;">
                                <span class="mark_05 mark"></span>
                                <span class="listText">대한민국 리딩기업<br>2015 대상</span>
                            </li>
                        </ul>
                    </div>
                    <div class="bx-controls"></div>
                </div>
                <span id="award_arrow_prev" class="award_prev list_arrow tI" data-action="prev">이전 수상내역</span>
                <span id="award_arrow_next" class="award_next_on list_arrow tI" data-action="next">다음 수상내역</span>
            </div>
            <div class="snsNavi fR">
                <a class="insta" href="http://instagram.com/memebox_korea" target="_blank" ga-event="푸터,푸터_인스타그램">인스타그램
                    바로가기</a>
                <a class="faceBook" href="http://www.facebook.com/memebox" target="_blank" ga-event="푸터,푸터_페이스북">페이스북
                    바로가기</a>
                <a class="youtube" href="https://www.youtube.com/user/memeboxseoul" target="_blank"
                   ga-event="푸터,푸터_유투브">유뷰트 바로가기</a>
            </div>
            <div class="globalWrap fR">
                <a class="global">
                    <span class="arrow"></span>
                    <span class="text fW">FAMILY SITE</span>
                </a>
                <div class="globalSelect">
                    <ul>
                        <li>
                            <a href="http://corp.memebox.com" target="_blank">
                                <span class="globalIcon corp"></span>
                                <span class="globalText">발그레박스 기업사이트</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://​iammeme.com" target="_blank">
                                <span class="globalIcon immeme"></span>
                                <span class="globalText">I'M MEME 아임발그레</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://ponyeffect.com" target="_blank">
                                <span class="globalIcon ponyEffect"></span>
                                <span class="globalText">Pony Effect 포니이펙트</span>
                            </a>
                        </li>
                        <li>
                            <a id="linkToUS" ga-event="푸터,푸터_미국">
                                <span class="globalIcon usa"></span>
                                <span class="globalText">MEMEBOX USA</span>
                            </a>
                        </li>
                        <li>
                            <a id="linkToCN" ga-event="푸터,푸터_중국">
                                <span class="globalIcon china"></span>
                                <span class="globalText">MEMEBOX CHINA</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    ## 장바구니 상품 옵션 제거
    function deleteBasket(basketId) {

        var data = "basketId=" + basketId;

        console.log("basket_id1111 " + data);

        $.ajax({
            type: 'post',
            url: '/basketDelete?' + data,
            contentType: false/*'application/x-www-form-urlencoded; charset=UTF-8'*/,
            processData: false,
            data: null,
            success: function (result) {
                console.log("basket_id02" + data);
                console.log("result test " + result);

                alert("옵션 상품을 삭제하였습니다.")
//                $("#tbody").remove();
                window.location.reload();
            },
            error: function (result) {
                alert("에러! " + result);
            }
        })
    };



    ## 장바구니 상품(브랜드) 제거
    function selectDelete() {

        $(".wrap input:checked").each(function () {
            var checked = $(this).attr("checked").val();

            $.ajax({
                type: 'post',
                url: '/basketDelete?' + checked,
                contentType: false/*'application/x-www-form-urlencoded; charset=UTF-8'*/,
                processData: false,
                data: null,
                success: function (result) {
                    console.log("basket_id02" + checked);
                    console.log("result test " + result);

                    alert("브랜드 상품 모두를 삭제하였습니다.")
//                $("#tbody").remove();
                    window.location.reload();
                },
                error: function (result) {
                    alert("에러! " + result);
                }
            })
        })
    }



    ## 장바구니 옵션 수량 수정
    function basketUpdte(basket) {

        var formData = new FormData();

        formData.append("basketId", basket.value.split("|")[0]);
        formData.append("itemCount", basket.value.split("|")[1]);
        console.log(basket.value);
//        console.log("lll~~~~ " + formData + " + formData, this success! lll~~~");

        $.ajax({
            type: 'post',
            url: '/basketUpdate',
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
//                alert("성공!" + data);
                console.log("성공" + formData + data);
                window.location.reload();

            }, error: function (data) {
                alert("오류!" + data);
                console.log("실패" + formData + data);
            }

//            event.preventDefault();
//            var itemCnt = $('.basketItemCnt option:selected').val();

        });
    }

    function basketSum01(basketId) {
        var stat = $('#numUpDown01' + basketId).text();
        var num = parseInt(stat, 10);
        $('#numUpDown01').text(num);
    }

    function basketSum02() {
        var stat = $('#numUpDown02').text();
        var num = parseInt(stat, 10);
        $('#numUpDown02').text(num);
    }

    function basketSum03() {
        var stat = $('#numUpDown03').text();
        var num = parseInt(stat, 10);
        $('#numUpDown03').text(num);
    }



    ## ------ 상품 상세 페이지에서 마지막 결제하기 시작 -----
    $("#directBasket").on("click", function (event) {
        var formData = $("#ReadingBasketSelectForm").serialize();

        $.ajax({
            type: 'post',
            url: '/payment/order',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            processData: false,
            data: formData,
            success: function (data) {
                if (data) {
                    window.location.href = "/payment/order?q=" + data;
                }
            },
            error: function (data, textStatus, errorThrown) {
                alert("로그인 하신 후 옵션을 선택해주세요.");
            }
        });
    });
    ## ------ 상품 상세 페이지에서 마지막 결제하기 끝 -----

    ## ------ 상품 상세 페이지에서 쇼핑하기 시작 -----
    $("#prevBasket").on("click", function (event) {
        history.back();
//        history.go(-1);
//        history.forward();
    });
    ## ------ 상품 상세 페이지에서 쇼핑하기 끝 -----

</script>



## 장바구니 체크박스 전체 클릭
<script>
    $(function () {
        //전체선택 체크박스 클릭
        $("#allCheck").click(function () {
            //만약 전체 선택 체크박스가 체크된상태일경우
            if ($("#allCheck").prop("checked")) {
                //해당화면에 전체 checkbox들을 체크해준다
                $("input[type=checkbox]").prop("checked", true);
                // 전체선택 체크박스가 해제된 경우
            } else {
                //해당화면에 모든 checkbox들의 체크를해제시킨다.
                $("input[type=checkbox]").prop("checked", false);
            }
        })
    })
</script>


</body>
</html>
