<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <!--<meta name="viewport"-->
    <!--content="user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, width=device-width, initial-scale=1.0"/>-->
    <title>[발그레박스] 장바구니</title>

    <link rel="stylesheet" type="text/css" href="/css/cart/cartCommon.css?v=1493534700000" media="screen"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

## jquery number formatting
    <script src="/js/product/jquery.number.min.js" type="text/javascript"></script>
</head>

<body data-deployversion="1494985500000">


<h1 class="cartLogo"><a href="http://memebox.com" class="tI">발그레박스 내 삶을 아름답게!</a></h1>
<div class="cartHeaderWrap">
    <div class="cartHeader oF">

        <h2 class="cartStepTitle fL tI">장바구니</h2>
        <div class="cartStep fR tI">1 장바구니 단계</div>

    </div>


</div>


<div class="cartPage">


    <div class="cartWrap">
        <div class="cartItemList">
            <table class="cartListHeader">
                <caption>장바구니 상품 머릿말</caption>
                <colgroup>
                    <col style="width:37px;">
                    <col style="width:86px;">
                    <col style="width:582px;">
                    <col style="width:138px;">
                    <col style="width:139px;">
                </colgroup>
                <thead>
                <tr class="cartHeaderRow">
                    <th class="col1">
                        <input type="checkbox" id="allCheck" checked="checked">
                    </th>
                    <th class="leftAlign col2">전체선택</th>
                    <th class="col3">상품정보</th>
                    <th class="col4">상품금액</th>
                    <th class="col5 last">
                        <span>배송비</span>
                        <span class="ico"></span>
                    </th>
                </tr>
                </thead>
            </table>
            <div class="popupDeliv" style="display: none;">
                <p class="textTitle">배송비 관련 안내</p>
                <p class="text">
                    <span>비묶음 제품</span>은 제품등의 특성으로 인해<br>
                    <span class="pText">묶음배송이 불가능</span>합니다
                </p>
            </div>

            <!-- ko with: bundleVM -->
            <!-- ko if: memeBundles().length  -->

            <form method="post" id="ReadingBasketSelectForm">
				<div id="dataProd" style="display:none;">
				</div>
                <table class="cartList bundles" cellspacing="0" cellpadding="0" summary="장바구니 목록">
                <caption>발그레배송 장바구니 상품 리스트</caption>
                <colgroup>
                    <col style="width:37px;">
                    <col style="width:670px;">
                    <col style="width:138px;">
                    <col style="width:139px;">
                </colgroup>
                <thead class="memeHeadWrap">
                <tr class="memeHead">
                    <th class="tI" colspan="4">
                        <h3 class="tI">발그레배송</h3>
                    </th>
                </tr>
                </thead>

                <tbody class="wrap">
                <!-- ko foreach: memeBundles() -->

                    #set($total3 = 0)
                    #set($totalDlv3 = 0)

                <!-- ko foreach: products() -->
                    #foreach($item in $basketListGET.basketList)
                        #foreach($item2 in $item)
                            #set($total = 0)
                        <tr>
                            <td class="check">
                                <input type="checkbox" name="basketChk" value="$math.toInteger(${item2.get(0).productId})" checked="checked" onchange="basketChecked();"/>
                            </td>
                            <td class="itemInfo">
                                <div>
                                    <a href="/detail?product_id=$math.toInteger(${item2.get(0).productId})">
                                        <img src="http://sumcrimage.cafe24.com/${item2.get(0).thumbUrl}">
                                    </a>
                                </div>
                                <div>
                                    <p class="productName fW">
                                        <a data-bind="attr:{href: productUrl}"><!--ko text: productTitle-->
                                            [${item2.get(0).brand.brandName}] ${item2.get(0).prodName}
                                            <!--/ko--></a>
                                    </p>
                                    <div>
                                        <table cellpadding="0" cellspacing="0">
                                            <colgroup>
                                                <col style="width:235px;">
                                                <col style="width:90px;">
                                                <col style="width:80px;">
                                                <col style="width:82px;">
                                                <col style="width:38px;">
                                            </colgroup>

                                            #foreach($item3 in $item2)
											<tbody id="tbody">
                                                <input type="hidden" name="chk$math.toInteger($!{item3.productId})" value="$math.toInteger($!{item3.basketId})"/>
                                                <input type="hidden" name="chkItems$math.toInteger($!{item3.productId})" value="$math.toInteger($item3.itemId)"/>
                                                <input type="hidden" name="items[$math.toInteger($item3.itemId)].price" value="$math.toInteger($item3.price)"/>
                                                <input type="hidden" name="upDown[$math.toInteger($item3.itemId)].cnt" value="$math.toInteger($item3.itemCount)"/>
                                                <tr>
                                                    <th class="optionTitle">
                                                        <span class="addArrow"></span>
                                                        ${item3.itemName}
                                                        <strong class="deal-item-type-title"></strong>
                                                        <input type="hidden" id="basket_id" value="${item3.basketId}">
                                                    </th>
                                                    <td class="selectPrice each">
                                                        <span>$number.format(${item3.price})</span> 원
                                                    </td>
                                                    <td class="option_cnt"
                                                        data-bind="visible: ui.itemCountSelect.visible()">
                                                        <input type="hidden" data-bind="value: originalItemCount()">
                                                        <select class="basketItemCnt" name="count$math.toInteger($!{item3.productId})" id="count$math.toInteger($!{item3.basketId})" onchange="basketUpdte(this);">
                                                            #foreach($i in [1..10])
                                                                <option class="basketItemCntChoice"
                                                                        value="$math.toInteger(${item3.basketId})|$i|$math.toInteger(${item3.productId})"
                                                                    #if($i == $number.format(${item3.itemCount}))
                                                                        selected="selected" #end>$i</option>
                                                            #end
                                                        </select>
                                                    </td>

                                                    <td class="selectPrice">
                                                    <input type="hidden" id="price$math.toInteger($!{item3.basketId})" value="$math.toInteger($!{item3.price})"/>
                                                    <input type="hidden" id="total$math.toInteger($!{item3.basketId})" name="total$math.toInteger($!{item3.productId})" value="$math.mul($number.format(${item3.price}), $number.format(${item3.itemCount}))"/>
                                                    <span id="numUpDown01$math.toInteger($!{item3.basketId})">$number.format($math.mul($number.format(${item3.price}), $number.format(${item3.itemCount})))
                                                    #set($total = $math.add($total, $math.mul($number.format(${item3.price}), $number.format(${item3.itemCount}))))</span> 원
                                                    </td>
                                                    <td class="delete">
                                                        <a href="javascript:deleteBasket('${item3.basketId}')" type="button" id="removeBtn">
                                                            	삭제
                                                        </a>
                                                    </td>
                                                </tr>

                                                <!-- /ko -->
                                                </tbody>
                                            #end
                                        </table>
                                    </div>
                                </div>
                            </td>

                            <td class="price">
                            <input type="hidden" id="totalprod$math.toInteger(${item2.get(0).productId})" value="$total"/>
                            <span class="unit" id="numUpDown02$math.toInteger(${item2.get(0).productId})">
                                $number.format($total)
                            </span>원
                                #set($total3 = $math.add($total3, $total))
                            </td>
                            <td class="price last">
                            #if(${item2.get(0).productDelivery.freeDelivery} == 0)
                                <span>무료배송</span>
                                <input type="hidden" id="delivery$math.toInteger(${item2.get(0).productId})" value="0"/>
                                <input type="hidden" id="free$math.toInteger(${item2.get(0).productId})" value="0"/>
                                <input type="hidden" id="totalDel$math.toInteger(${item2.get(0).productId})" value="0"/>
                            #elseif(${item2.get(0).productDelivery.freeDelivery} == -1)
                            	<span>유료배송</span><br/>
                                <span class="unit">$number.format(${item2.get(0).productDelivery.deliveryPrice})원</span>
                                <input type="hidden" id="free$math.toInteger(${item2.get(0).productId})" value="-1"/>
                                <input type="hidden" id="delivery$math.toInteger(${item2.get(0).productId})" value="$math.toInteger(${item2.get(0).productDelivery.deliveryPrice})"/>
                                <input type="hidden" id="totalDel$math.toInteger(${item2.get(0).productId})" value="$math.toInteger(${item2.get(0).productDelivery.deliveryPrice})"/>
                                #set($totalDlv3 = $math.add($totalDlv3, ${item2.get(0).productDelivery.deliveryPrice}))
                            #else
                            	#if(${item2.get(0).productDelivery.freeDelivery} < $total)
                            		<div id="delDiv$math.toInteger(${item2.get(0).productId})">
	                                	<span>무료배송</span>
                                	</div>
                                	<input type="hidden" id="totalDel$math.toInteger(${item2.get(0).productId})" value="0"/>
                                #else
                                	<div id="delDiv$math.toInteger(${item2.get(0).productId})">
	                                	<span>$number.format(${item2.get(0).productDelivery.freeDelivery})원 이상<br> 무료배송</span><br>
	                                	<span class="unit">$number.format(${item2.get(0).productDelivery.deliveryPrice})원</span>
	                                </div>
	                                <input type="hidden" id="totalDel$math.toInteger(${item2.get(0).productId})" value="$math.toInteger(${item2.get(0).productDelivery.deliveryPrice})"/>
                                	#set($totalDlv3 = $math.add($totalDlv3, ${item2.get(0).productDelivery.deliveryPrice}))
                                #end
                                <input type="hidden" id="free$math.toInteger(${item2.get(0).productId})" value="$math.toInteger(${item2.get(0).productDelivery.freeDelivery})"/>
	                            <input type="hidden" id="delivery$math.toInteger(${item2.get(0).productId})" value="$math.toInteger(${item2.get(0).productDelivery.deliveryPrice})"/>
                            #end
                            </td>
                        </tr>
                        #end
                    #end
                <!-- /ko -->

                </tbody>

                </table>

            </form>

            <p class="choice fL"><span class="vCheck fL"></span>선택상품을</p>
            <!--<button class="wishBtn fL" type="button">찜하기</button>-->
            <a href="javascript:selectDelete()">
            <button class="delBtn bottom fL" type="button">삭제하기</button>
            </a>
            <p class="keepText fR">장바구니에 담긴 상품은 최대 30일까지 보관됩니다.</p>
        </div>
    </div>

    <div class="cB">
        <div class="priceWrap v1 fL">
            <table class="paymentTotalTable" cellspacing="0" cellpadding="0" summary="결제예정금액">
                <caption>종 결제 금액</caption>
                <colgroup>
                    <col style="width:350px;">
                    <col style="width:263px;">
                    <col style="width:361px;">
                </colgroup>
                <tbody>
                <tr>
                    <td class="price">
                    	<span class="priceText">총 상품금액</span>
                        <span id="total_prod" class="unit">$number.format($total3)</span> 원
                    </td>
                    <td class="deliveryCharge">
                    	<span class="priceText">배송비</span>
                    	<span id="total_delivery" class="unit">$number.format($totalDlv3) 원</span></td>
                    <td class="totalPrice last">
                    	<span class="priceText">결제 예정금액</span>
                        <span class="unit" id="total_price">$number.format($math.add($total3, $totalDlv3))</span> 원
                    </td>
                </tr>
                </tbody>
            </table>
            <span class="plusBig"></span>
            <span class="equalBig"></span>
        </div>
    </div>

    <div class="btnWrap mA cB">
        <button type="button" id="prevBasket">쇼핑 계속하기</button>
        <button type="button" id="directBasket">결제하기4444</button>
    </div>
</div>
#parse("/main/footer.vm")


<script>
	$(document).ready(function () {
		basketChecked();
	});
	## 선택된 상품 계산
	function basketChecked() {
		var items = [];
		var total = 0;
		var totalDelivery = 0;
		$('input:checkbox[name="basketChk"]:checked').each(function() {
			$('input[name=total' + this.value + ']').each(function() {
				total += parseInt(this.value);
			});
			
			$('input[name=chkItems' + this.value + ']').each(function() {
				items.push(this.value);
			});
			
			totalDelivery += parseInt($("#totalDel"+this.value).val());
	   	});
		var str = "";
		
		for(i=0; i<items.length; i++) {
			str += '<input type="hidden" name="items[]" value="' + items[i] + '"/>'; 
		}
		$("#dataProd").html(str);
		$("#total_prod").text($.number(total));
		$("#total_delivery").text($.number(totalDelivery) + " 원");
		$("#total_price").text($.number(total+totalDelivery));
	}
	
    ## 장바구니 상품 옵션 제거
    function deleteBasket(basketId) {
        var data = "basketId=" + basketId;
        $.ajax({
            type: 'post',
            url: '/basketDelete?' + data,
            contentType: false,
            processData: false,
            data: null,
            success: function (result) {
                alert("옵션 상품을 삭제하였습니다.")
                window.location.reload();
            },
            error: function (result) {
                alert("에러! " + result);
            }
        })
    };

    ## 장바구니 상품(브랜드) 제거
    function selectDelete() {
		var basketIds = [];    	
    	 $('input:checkbox[name="basketChk"]:checked').each(function() {
			$('input[name=chk' + this.value + ']').each(function() {
				basketIds.push(this.value);
			});
    	 });
    	 if(basketIds.length > 0) {
    		 $.ajax({
                 type: 'post',
                 url: '/deleteBsk?basketId='+basketIds,
                 contentType: false,
                 processData: false,
                 data: null,
                 success: function (result) {
                     alert("브랜드 상품 모두를 삭제하였습니다.")
                     window.location.reload();
                 },
                 error: function (result) {
                     alert("에러! " + result);
                 }
             });
    	 }
    }



    ## 장바구니 옵션 수량 수정
    function basketUpdte(basket) {

    	var total = 0;
        var formData = new FormData();
		var basketId = basket.value.split("|")[0];
		var itemCount = basket.value.split("|")[1];
		var prodId = basket.value.split("|")[2];
		
        formData.append("basketId", basketId);
        formData.append("itemCount", itemCount);
        
        var price = $("#price"+ basketId).val();
        
        total = price*itemCount;
        
        $.ajax({
            type: 'post',
            url: '/basketUpdate',
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                $("#total"+ basketId).val(total);
                basketSum01(basketId, total);
                basketSum02(prodId);
                deliverySum(prodId);
                basketChecked();
            }, error: function (data) {
                alert("오류!" + data);
                console.log("실패" + formData + data);
            }
        });
    }

    ## 옵션별 총 가격
    function basketSum01(basketId, total) {
        $('#numUpDown01' + basketId).text($.number(total));
    }

    ## 상품 별 총 가격 
    function basketSum02(productId) {
    	var total = 0;
    	$('input[name=total' + productId + ']').each(function() {
			total += parseInt(this.value);
		});
    	$('#totalprod'+productId).val(total);
        $('#numUpDown02'+productId).text($.number(total));
    }

    ## 배송비 계산
    function deliverySum(productId) {
    	var totalProd = parseInt($('#totalprod'+productId).val());
    	var free = parseInt($('#free'+productId).val());
    	var delivery = parseInt($('#delivery'+productId).val());
    
    	if(free == 0) {
    	} else if(free == -1) {
    	} else {
    		if(totalProd >= parseInt(free)) {
    			$("#totalDel"+productId).val(0);
    			$("#delDiv"+productId).html('<span>무료배송</span>');
    		} else {
    			var str = '<span>' + $.number(free) + ' 원 이상<br> 무료배송</span><br>';
            	str += '<span class="unit">' + $.number(delivery) + ' 원</span>';
    			$("#totalDel"+productId).val(delivery);
    			$("#delDiv"+productId).html(str);
    		}
    	}
    }
    

    ## ------ 상품 상세 페이지에서 마지막 결제하기 시작 -----
    $("#directBasket").on("click", function (event) {
        var formData = $("#ReadingBasketSelectForm").serialize();
        if($('input:checkbox[name="basketChk"]:checked').length > 0) {
        	$.ajax({
                type: 'post',
                url: '/payment/order',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                processData: false,
                data: formData,
                success: function (data) {
                    if (data) {
                        window.location.href = "/payment/order?q=" + data;
                    }
                },
                error: function (data, textStatus, errorThrown) {
                    alert("로그인 하신 후 옵션을 선택해주세요.");
                }
            });
        } else {
			alert("구매 상품을 체크 해 주세요.");        	
        }
    });
    ## ------ 상품 상세 페이지에서 마지막 결제하기 끝 -----

    ## ------ 상품 상세 페이지에서 쇼핑하기 시작 -----
    $("#prevBasket").on("click", function (event) {
        history.back();
//        history.go(-1);
//        history.forward();
    });
    ## ------ 상품 상세 페이지에서 쇼핑하기 끝 -----

</script>



## 장바구니 체크박스 전체 클릭
<script>
    $(function () {
        //전체선택 체크박스 클릭
        $("#allCheck").click(function () {
            //만약 전체 선택 체크박스가 체크된상태일경우
            if ($("#allCheck").prop("checked")) {
                //해당화면에 전체 checkbox들을 체크해준다
                $("input[type=checkbox]").prop("checked", true);
                // 전체선택 체크박스가 해제된 경우
            } else {
                //해당화면에 모든 checkbox들의 체크를해제시킨다.
                $("input[type=checkbox]").prop("checked", false);
            }
            basketChecked();
        })
    })
</script>


</body>
</html>
