#parse ("/main/header.vm")

<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/myPage/qna/qna.css">

#set($__HD_CRM_PAGE_COUNT = 9)
#set($__HD_CRM_PAGE_SIZE = 15)

</head>

<body>

	<div class="qna">
		<div class="qna_haed">
			<p>번호</p>
			<p>문의유형</p>
			<p>문의제목</p>
			<p>문의일</p>
			<p>문의상태</p>
		</div>
		<div class="qna_container">
		#foreach($qnaList in $list)
			<div class="qna_list">
			<form method="post" action="/qna/delete" onSubmit="return form_submit()">
			<input type="hidden" name="id" id="id" value="$qnaList.id">
				<div class="qna_list_title">
					<p>$foreach.count</p>
					#if($!qnaList.qnaClass1 == 1)
					<p>없음</p>
					#elseif($!qnaList.qnaClass1 == 2)
					<p>주문</p>
					#elseif($!qnaList.qnaClass1 == 3)
					<p>배송</p>
					#elseif($!qnaList.qnaClass1 == 4)
					<p>반품/교환</p>
					#elseif($!qnaList.qnaClass1 == 5)
					<p>취소/환불</p>
					#elseif($!qnaList.qnaClass1 == 6)
					<p>이벤트/쿠폰/포인트</p>
					#elseif($!qnaList.qnaClass1 == 7)
					<p>회원서비스</p>
					#elseif($!qnaList.qnaClass1 == 8)
					<p>고객의견</p>
					#elseif($!qnaList.qnaClass1 == 9)
					<p>광고/제휴/입점문의</p>
					#end
					<p>
						<a class="subjectA" href="#">$qnaList.subject</a>
					</p>
					<p>$qnaList.regDate</p>
					#set($reply = "Y")
					#if($!reply == $!qnaList.replyYn)
					<p>답변완료</p>
					#else
					<p>답변대기</p>
					#end
				</div>
				<div class="qna_content">
					<div>
						<p>[문의 내용]</p>
						   <input type="submit" class="qnaDeleteBtn" id="qnaDeleteBtn" value="문의 삭제">
						<div>
							$qnaList.content
						</div>
					</div>
					<div>
						<p>[답변 내용]</p>
						<div>그걸 왜 저한테 물어보십니까</div>
					</div>
				</div>
				</form>
			</div>
			#end
		</div>
	</div>
	
	#macro(Pagination $formName $currentPage $totalCount)

           #if(!$totalCount)
           $totalCount = 0
           #end

           #set($lastPage = $totalCount / $__HD_CRM_PAGE_SIZE)
           #set($startPage = (($currentPage - 1) / $__HD_CRM_PAGE_COUNT) * $__HD_CRM_PAGE_COUNT + 1)

           #set($endPage = $startPage + $__HD_CRM_PAGE_COUNT - 1)
           #if($endPage > $lastPage)
           #set($endPage = $lastPage)
           #end

           #set($beforePage = $currentPage - 1)
           #set($nextPage = $currentPage + 1)
           
          #end

	<script type="text/javascript" src="/js/myPage/qna/jquery-3.1.1.min.js"></script>
	<script>
		$(function() {
			/* $('.qna_list').each(
					function() {
						var idx = $(this).index() + 1;
						$(this).children('.qna_list_title').find('p').first()
								.text(idx);
					}); */
			$('.qna_list_title a').on('click',function(e) {
						e.preventDefault();
						var text = $(this).parents('.qna_list_title').siblings('div');
						if (text.is(':visible')) {
							text.slideUp();
						} else {
							text.slideDown();
							$(this).parents('.qna_list').siblings().find('.qna_list_title').siblings('div').slideUp();
						}
					})

		});
		
		function form_submit() {
			var check_submit = confirm("삭제 하시겠습니까?");
			
			return check_submit;
		}
	</script>
	<script>
	#if($!{params.get("totalCount")} != 0)
		#Pagination("form" $!{params.PAGE_NO} $!searchContentList.size())
    #end
	    goPage : function(formName, pageNum) {
	        var eName = "PAGE_NO";
	        //if (typeof $("form[name='"+formName+"'] input[name='"+eName+"']").val() == "undefined") {
	        	//$("form[name='"+formName+"']").append(" <input type='hidden' name='"+eName"'>")
	        //}
	    
	        $("form[name='"+formName+"']").append(" <input type='hidden' name='"+eName+"'>")
	        $("form[name='"+formName+"'] input[name='"+eName+"'] ").val(pageNum);
	        $("form[name='"+formName+"']").submit();
	    }
		#foreach ($n in [$startN..$endN])
		   #set($content = $!searchContentList.get($n))
		      $!{content.get("key")}
	    #end
	</script>
</body>
</html>