@charset "UTF-8";

.Bal_member_info .btn-example, .Bal_member_info .mypageBtn{
	text-decoration: none;
    color: #383d41;
}

.login_balgeure_btn .a:hover {
	text-decoration: none;
}


.header-main-content-logo-center {
    width: 400px;
    margin: 110px auto 0;
    text-align: center;
}


.back-home{
	text-decoration: none;

}

.select-design-viewer {
    position: relative;
    line-height: 30px;
    background-color: #fff;
    margin-bottom: 5px
}

.select-design-viewer-option-selector {
    margin: 0;
    border: 1px solid #ccc;
    border-right: none;
    font-size: 12px;
    line-height: 29px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden
}

.select-design-viewer-option-selector .value {
    display: block;
    border: none;
    text-indent: 10px;
    line-height: 28px;
    color: #555
}

.select-design-viewer-list-box-trigger-big {
    display: block;
    width: 43px;
    height: 44px;
    background-image: url("/package/modules/_designViewer/_select/v.1.0.0/box/_images/_select_big.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    position: absolute;
    right: -1px;
    top: 0;
    text-indent: -99999px
}

.select-design-viewer-list-box-trigger-big.selected {
    background-position: 100% -44px
}

.select-design-viewer-list-box-trigger-small {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("/package/modules/_designViewer/_select/v.1.0.0/box/_images/_select.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    position: absolute;
    right: -1px;
    top: 0;
    text-indent: -99999px
}

.select-design-viewer-list-box-trigger-small.selected {
    background-position: 100% -44px
}

.select-design-viewer-list-box {
    position: relative;
    margin-right: 30px
}

.select-design-viewer-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: -1px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1
}

.select-design-viewer-option:hover {
    background-color: #ffedf1
}

.design-template-accordion-info {
    position: relative;
    border-bottom: 1px solid #eee;
    height: 30px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    font-family: "\B098\B214\ACE0\B515", NanumGothic, "\B9D1\C740\ACE0\B515", Malgun Gothic, "\B3CB\C6C0", Dotum, Helvetica, "Apple SD Gothic Neo", Sans-serif;
    font-size: 13px;
    color: #555;
    background-color: #f8f8f9;
    cursor: pointer
}

.design-template-accordion-title {
    display: block;
    line-height: 30px
}

.design-template-accordion-selected {
    position: absolute;
    top: 50%;
    right: 60px;
    margin-top: -13px;
    line-height: 30px
}

.design-template-accordion-controller {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    text-indent: -99999px;
    background-image: url("/package/modules/_designViewer/_select/v.1.0.0/box/_images/_select_big.png");
    background-repeat: no-repeat;
    background-position: 7px -186px
}

.design-template-accordion-list {
    display: none
}

.accordion-open .design-template-accordion-controller {
    background-position: 7px -156px
}

.accordion-open .design-template-accordion-list {
    display: block;
    max-height: 200px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    list-style: none
}

.deal-item-option-viewer {
    display: block;
    color: #555;
    padding: 2px 0 0 10px;
    cursor: pointer;
    overflow: hidden;
    font-size: 12px
}

.deal-item-option-viewer:hover {
    background-color: #ffedf1
}

.deal-item-option-viewer-title {
    font-style: normal;
    float: left
}

.deal-item-option-viewer-location {
    font-weight: normal;
    float: right;
    padding-right: 10px
}

.member-SNS_Login {
    position: relative;
    height: 36px;
    font-family: "\B098\B214\ACE0\B515", NanumGothic, "\B9D1\C740\ACE0\B515", Malgun Gothic, "\B3CB\C6C0", Dotum, Helvetica, "Apple SD Gothic Neo", Sans-serif
}

.member-SNS-facebook-login {
    color: #32599d
}

.member-SNS-naver-login {
    color: #01a301
}

.member-SNS-kakao-login {
    color: #e6ad00
}

.member-SNS-login-text {
    display: none
}

.member-SNS-login-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    text-indent: -99999px;
    margin-left: -15px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center
}

.member-SNS-login-icon-naver {
    background-color: #1ec800;
    background: url("/img/balgeure_icons.png") no-repeat -1px -113px;
}

.member-SNS-login-icon-facebook {
    background-color: #405d9a;
    background: url("/img/balgeure_icons.png") no-repeat -74px -113px;
}

.member-SNS-login-icon-kakao {
    background-color: #ffd400;
    background: url("/img/balgeure_icons.png") no-repeat -146px -113px;
}

.inputGroups-captcha-title {
    display: block;
    padding-top: 20px;
    color: #333;
    font-size: 15px
}

.inputGroups-captcha-info {
    margin: 10px 0 0;
    color: #666;
    font-size: 13px;
    line-height: 1.5
}

.inputGroups-captcha-content {
    margin-top: 10px;
    background-color: #fff
}

.inputGroups-captcha-image-wrap {
    margin-top: 10px;
    position: relative
}

.inputGroups-captcha-image {
    width: 80%;
    vertical-align: top
}

.inputGroups-captcha-refresh {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    height: 15px;
    color: #555;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    padding: 7px 10px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px
}

.inputGroups-captcha-label {
    display: block;
    margin-top: 10px
}

.inputGroups-captcha-input {
    display: block;
    width: 99%;
    text-indent: 10px
}

.customer-service-center {
    margin: 0
}

.customer-service-center-title {
    display: none
}

.customer-service-center-tel {
    display: block;
    padding-left: 30px;
    margin-bottom: 30px;
    background-image: url("/package/components/information/customerServiceCenter/v.1.0.0/pc/_images/login_icon_call.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    color: #ff5073;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none
}

.customer-service-center-trigger {
    display: block;
    text-decoration: none;
    color: #555;
    font-size: 12px
}

.customer-service-center-info {
    font-size: 11px
}

.service-corporation-culture {
    margin: 0
}

.service-corporation-culture-title {
    font-size: 14px;
    margin-bottom: 10px
}

.service-corporation-culture-content {
    font-size: 12px
}

.service-corporation-culture-trigger {
    display: block;
    margin-top: 3px;
    text-decoration: none;
    color: #555;
    font-size: 12px
}

input[type=checkbox]:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: -2px;
    margin-left: -2px;
    background-image: url("/package/components/inputGroups/_common/v.1.0.0/pc/_images/guide_checkbox_big.png");
    background-position: 0 0;
    background-repeat: no-repeat
}

input[type=checkbox]:checked:before {
    background-image: url("/package/components/inputGroups/_common/v.1.0.0/pc/_images/guide_checkbox_big.png");
    background-position: 0 -30px;
    background-repeat: no-repeat
}

#memebox-service {
    background-color: #f9f9fa;
    font-family: "\B098\B214\ACE0\B515", NanumGothic, "\B9D1\C740\ACE0\B515", Malgun Gothic, "\B3CB\C6C0", Dotum, Helvetica, "Apple SD Gothic Neo", Sans-serif
}

.layout-structure-content {
    background-color: #fff;
    padding-bottom: 200px;
    margin:0 auto;
    padding:0;
    width:40%;
}

.text_under_header{
	text-align: center;
    margin: 15px 0;
    color: #555;
    font-size: 20px;
    font-weight: 700;
}


.login-title-image{
    text-align: center;
    margin: 25px 0 35px;
}



.log-reg-block.sky-form{
	text-align:center;
}


.form-control_email, .form-control_pw{
	height: 35px;
    width: 400px;
    font-weight: 500;
    font-size: 13px;
}

.checkbox_on_loginform{
	font-weight: 500;
    font-size: 13px;
}


.login_form_checkbox{
	margin: 0 0 0 7px !important;
    position: relative !important;
}

.login-submit-button{
	text-align: center;
    width: 400px;
    margin: 0 auto;
}

.balgeure_login_submit-Btn{
	height: 35px;
    color: #fff;
    background-color: #ff8fa7;
    border: none;
    margin: 3px 0 15px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}

.search_id_and_pw_register{
	font-size: 13px;
    letter-spacing: 1px;
}

.search-email-and-password:hover {
	text-decoration:none;
	color: #383d41;
}


.login-form {
    width: 400px;
    margin: 40px auto 0
}

.login-form fieldset {
    padding: 0;
    margin: 0;
    border: none
}

.login-form legend {
    display: none
}

.login-form input[type="text"], .login-form input[type="password"] {
    line-height: 3;
    padding: 0;
    height: 42px
}

.login-form label {
    font-family: "\B098\B214\ACE0\B515", NanumGothic, "\B9D1\C740\ACE0\B515", Malgun Gothic, "\B3CB\C6C0", Dotum, Helvetica, "Apple SD Gothic Neo", Sans-serif;
    color: #555
}

.validate-message {
    display: none;
    margin: 8px 0 0 0;
    color: #ff5073;
    font-size: 13px
}

.login-form-required {
    margin-top: 30px
}

.login-form-required-title {
    display: block;
    color: #555
}

.login-form-required-ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0
}

.login-form-required-li {
    padding: 0;
    margin: 10px 0 0
}

.inputGroups-email-wrap, .inputGroups-password-wrap {
    position: relative
}

.inputGroups-email-label, .inputGroups-password-label {
    display: block;
    font-size: 15px
}

.inputGroups-email-text, .inputGroups-password-text {
    display: none
}

.inputGroups-email-input, .inputGroups-password-input {
    display: block;
    border: 1px solid #ddd;
    width: 100%;
    text-indent: 10px
}

.inputGroups-email-host-select {
    display: none
}

.login-auto-wrap {
    margin-top: 20px
}

.login-auto-label {
    position: relative;
    display: block;
    padding-left: 0
}

.login-auto-text {
    font-size: 15px;
    color: #333;
    padding-left: 10px
}

.login-auto-checkbox {
    vertical-align: top
}

.login-form-controller {
    margin-top: 30px
}

.login-form-submit {
    display: block;
    width: 100%;
    text-align: center;
    padding: 22px 0 20px;
    color: #fff;
    font-size: 26px;
    background-color: #ff4f73;
    border: none;
    border-radius: 3px
}

.member-method {
    width: 400px;
    margin: 35px auto 0;
    text-align: center;
    font-size: 0
}

.member-method a {
    font-size: 13px;
    text-align: center;
    color: #8a8a8a;
    text-decoration: none;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #ababab
}

.member-method a:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: none
}

.inputGroups-name-input::-webkit-input-placeholder, .inputGroups-email-input::-webkit-input-placeholder, .inputGroups-password-input::-webkit-input-placeholder, .inputGroups-confirm-input::-webkit-input-placeholder, .inputGroups-cellphone-input::-webkit-input-placeholder, .verification-cellphone-input::-webkit-input-placeholder, .inputGroups-recommendUser-input::-webkit-input-placeholder {
    font-size: inherit
}

.simple-sns-login-method {
    width: 400px;
    margin: 30px auto 0;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    font-size: 0
}

.signUp-welcome-message {
    margin-top: 30px
}

.signUp-welcome-message span {
    color: #333;
    font-size: 15px;
    font-weight: bold
}

.simple-login-SNS {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    text-align: center;
    font-size: 0
}

.simple-login-SNS-list {
    display: inline-block;
    font-size: 13px;
    text-align: center;
    color: #8a8a8a;
    text-decoration: none;
    margin-left: 15px;
    padding-left: 15px
}

.simple-login-SNS-list:first-child {
    margin-left: 0;
    padding-left: 15px
}

.login-captcha {
    display: none;
    margin-top: 10px;
    padding: 0 10px 15px;
    background-color: #fff;
    border-top: 1px solid #e0e0e0
}

.login-CSCenter {
    display: none
}

.login-CSCenter .customer-service-center {
    margin: 0;
    text-align: center;
    padding: 10px 10px 9px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e0e0e0
}

.login-CSCenter .customer-service-center-title {
    display: none;
    color: #0f0f0f
}

.login-CSCenter .customer-service-center-tel {
    color: #666;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 5px 5px 20px;
    line-height: 2;
    display: inline
}

.login-CSCenter .customer-service-center-info {
    color: #555;
    font-size: 13px;
    white-space: nowrap;
    border-left: 1px solid #ccc;
    padding-left: 10px
}

.login-CSCenter .customer-service-center-info-sub {
    color: #555;
    font-size: 13px;
    white-space: nowrap
}

.login-CSCenter .customer-service-center-trigger {
    display: none
}

.inputGroups-captcha-wrap.notValidate .inputGroups-captcha-input {
    position: relative;
    border-bottom: 1px solid #ff5073
}

@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 400;
    src: url(https://img2.memebox.com/static/ui/font/NanumGothicCompact.eot);
    src: local('※'), url(https://img2.memebox.com/static/ui/font/NanumGothicCompact.woff) format('woff')
}

html, body {
    width: 100%;
    height: 100%;
    letter-spacing: -1px
}

body, input, textarea, select, button, table {
    font-family: '돋움', Dotum, AppleSDGothic, AppleGothic, '굴림', Gulim, sans-serif;
    font-size: 14px;
    color: #222
}

body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, input, table, tr, th, td {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%
}

ul, ol {
    list-style: none
}

fieldset, img {
    border: 0;
    vertical-align: top
}

address {
    font-style: normal
}

p, i, dd, td {
    line-height: 1.5em;
    font-size: 1em;
    text-align: justify
}

:focus {
    outline: 0
}

body {
    line-height: 20px;
    background: white
}

input, select, button {
    vertical-align: middle
}

input {
    padding-left: 6px
}

table {
    table-layout: fixed;
    border-spacing: 0
}

caption, th, td {
    font-weight: normal;
    text-align: left
}

caption {
    display: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: ""
}

blockquote, q {
    quotes: "" ""
}

button {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px
}

a {
    text-decoration: none;
    color: #222
}

legend, caption {
    display: none
}

input[disabled], button[disabled] {
    cursor: not-allowed;
    background-color: #eee
}

a[disabled] {
    cursor: not-allowed
}

#wrap {
    min-width: 1100px
}

#container {
    width: 1048px;
    position: relative
}

#container:after {
    content: '';
    display: block;
    height: 0;
    clear: both
}

.dP {
    display: block
}

.mA {
    margin: auto
}

.fL {
    float: left
}

.fR {
    float: right
}

.cB {
    clear: both
}

.fW {
    font-weight: bold
}

.tI {
    text-indent: -9999px
}

.oF {
    overflow: hidden
}

.clearfix {
    *zoom: 1
}

.clearfix:after {
    content: "";
    display: block;
    clear: both
}

.hidden {
    display: none
}

.pText {
    color: #ff5073
}

.blackBtn {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #4a4a4a), color-stop(1, #2c2c2c));
    background: -moz-linear-gradient(top, #4a4a4a 5%, #2c2c2c 100%);
    background: -webkit-linear-gradient(top, #4a4a4a 5%, #2c2c2c 100%);
    background: -o-linear-gradient(top, #4a4a4a 5%, #2c2c2c 100%);
    background: -ms-linear-gradient(top, #4a4a4a 5%, #2c2c2c 100%);
    background: linear-gradient(to bottom, #4a4a4a 5%, #2c2c2c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a4a4a', endColorstr='#2c2c2c', GradientType=0);
    background-color: #4a4a4a;
    -webkit-box-shadow: inset 0 1px 0 0 #6b6b6b;
    -moz-box-shadow: inset 0 1px 0 0 #6b6b6b;
    box-shadow: inset 0 1px 0 0 #6b6b6b;
    border: 1px solid #2b2b2b;
    color: #fff;
    font-weight: bold
}

.pinkBtn {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #ff579a), color-stop(1, #fc4b92));
    background: -moz-linear-gradient(top, #ff579a 5%, #fc4b92 100%);
    background: -webkit-linear-gradient(top, #ff579a 5%, #fc4b92 100%);
    background: -o-linear-gradient(top, #ff579a 5%, #fc4b92 100%);
    background: -ms-linear-gradient(top, #ff579a 5%, #fc4b92 100%);
    background: linear-gradient(to bottom, #ff579a 5%, #fc4b92 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff579a', endColorstr='#fc4b92', GradientType=0);
    background-color: #ff579a;
    -webkit-box-shadow: inset 0 1px 0 0 #ff7db1;
    -moz-box-shadow: inset 0 1px 0 0 #ff7db1;
    box-shadow: inset 0 1px 0 0 #ff7db1;
    border: 1px solid #fd2c80;
    color: #fff;
    font-weight: bold
}

.grayBtn {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #fcfcfc), color-stop(1, #e7e7e7));
    background: -moz-linear-gradient(top, #fcfcfc 5%, #e7e7e7 100%);
    background: -webkit-linear-gradient(top, #fcfcfc 5%, #e7e7e7 100%);
    background: -o-linear-gradient(top, #fcfcfc 5%, #e7e7e7 100%);
    background: -ms-linear-gradient(top, #fcfcfc 5%, #e7e7e7 100%);
    background: linear-gradient(to bottom, #fcfcfc 5%, #e7e7e7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e7e7e7', GradientType=0);
    background-color: #fcfcfc;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    border: 1px solid #ccc;
    color: #000;
    font-weight: bold
}

div.mainVisual {
    position: relative;
    width: 1048px;
    height: 477px;
    margin: 0 auto 50px;
    overflow: hidden
}

div.mainVisual img {
    width: 1048px
}

div.mainVisual .arrow {
    position: absolute;
    top: 231px;
    display: block;
    width: 51px;
    height: 62px
}

div.mainVisual .pre {
    left: 0;
    background: url("/web/images/home/homeSprite20160811.png") -290px -30px
}

div.mainVisual .pre:hover {
    background: url("/web/images/home/homeSprite20160811.png") -410px -30px
}

div.mainVisual .next {
    right: 0;
    background: url("/web/images/home/homeSprite20160811.png") -350px -30px
}

div.mainVisual .next:hover {
    background: url("/web/images/home/homeSprite20160811.png") -470px -30px
}

div.mainVisual .circleWrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center
}

div.mainVisual .circle {
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    margin: 0
}

div.mainVisual li {
    width: 12px;
    height: 12px;
    float: left;
    margin: 0 10px 3px 5px;
    cursor: pointer;
    list-style: none;
    background: url("/web/images/home/homeSprite20160811.png") -230px -40px
}

div.mainVisual li:hover, div.mainVisual .on {
    background: url("/web/images/home/homeSprite20160811.png") -250px -40px
}

div.sideBannerL {
    position: absolute;
    top: 0;
    left: -123px
}

div.sideBannerL li {
    margin-top: 10px
}

div.sideBannerR {
    position: absolute;
    top: 0;
    right: -141px;
    z-index: 3
}

div.sideBannerR li {
    margin-bottom: 10px
}

#container.brand .sideBannerL {
    top: 123px
}

#container.brand .sideBannerR {
    top: 123px
}

div.topDownWrap {
    width: 102px
}

div.topDownBtn {
    background: url("/web/images/header/headerSprite20160921.png") -20px -70px
}

div.topDownBtn .top {
    display: block;
    width: 71px;
    height: 32px;
    text-indent: -9999px;
    cursor: pointer
}

div.topDownBtn .down {
    display: block;
    width: 71px;
    height: 33px;
    text-indent: -9999px;
    cursor: pointer
}

div.myView {
    width: 110px;
    height: 357px;
    background: #fff
}

div.myView .viewCart, div.myView .view {
    display: block;
    padding: 4px 10px 0 10px;
    color: #eee;
    font-size: 11px;
    overflow: hidden;
    background: #262525
}

div.myView .viewCart {
    height: 22px;
    border: 1px solid #060606;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0
}

div.myView .viewCart .arrow {
    display: block;
    width: 5px;
    height: 8px;
    margin: 6px;
    background: url("/web/images/home/homeSprite20160811.png") -280px -20px
}

div.myView .view {
    height: 23px;
    cursor: text;
    border-top: 1px solid #4b4b4b;
    border-left: 1px solid #060606;
    border-right: 1px solid #060606
}

div.myView strong {
    float: left
}

div.myView .amount {
    display: block;
    float: right;
    font-size: 13px;
    font-weight: bold;
    color: #ff5073
}

div.myView .viewList {
    position: relative;
    width: 74px;
    height: 283px;
    padding: 17px 17px 0 17px;
    border: 1px solid #cfcfcf;
    border-top: none;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px
}

div.myView .viewList .empty {
    margin-top: 110px;
    color: #b1b1b1;
    text-align: center;
    font-size: 12px
}

div.myView .viewList li {
    float: none;
    position: relative
}

div.myView .viewList li:hover .overImg {
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    background: #fff
}

div.myView div.paging {
    position: absolute;
    width: 74px;
    bottom: 5px;
    overflow: hidden;
    font-size: 12px
}

div.myView span.fL {
    width: 33px
}

div.myView .on {
    color: #ff5073
}

div.myView .pre, div.myView .next {
    display: block;
    width: 13px;
    height: 13px;
    background: url("/web/images/home/homeSprite20160811.png");
    margin-top: 3px
}

div.myView .pre {
    background-position: -300px 0;
    margin-left: 12px
}

div.myView .pre:hover {
    background-position: -260px 0
}

div.myView .next {
    background-position: -320px 0
}

div.myView .next:hover {
    background-position: -280px 0
}

div.myView .overImg {
    position: relative;
    width: 225px;
    height: 74px;
    border: 2px solid #404040
}

div.myView .textBox {
    width: 141px;
    height: 52px;
    padding: 18px 0 0 10px
}

div.myView .title {
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: bold
}

div.myView .price {
    color: #ff5073;
    font-weight: bold
}

div.myView .overClose {
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    width: 15px;
    height: 15px;
    background: url("/web/images/home/homeSprite20160811.png") -260px -20px;
    cursor: pointer
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent
}

iframe[name='google_conversion_frame'] {
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    margin-top: -13px;
    float: left
}

body, input, textarea, select, button, table {
    font-family: '돋움', Dotum, '굴림', Gulim, AppleGothic, sans-serif;
    font-size: 12px;
    color: #383d41
}

body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, input, table, tr, th, td {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%
}

ul, ol {
    list-style: none
}

fieldset, img {
    border: 0;
    vertical-align: top
}

address {
    font-style: normal
}

p, i, dd, td {
    line-height: 1.5em;
    font-size: 1em;
    text-align: justify
}

:focus {
    outline: 0
}

body {
    background: white;
    color: #383d41
}

input, select, button {
    vertical-align: middle
}

input {
    padding-left: 6px
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0
}

caption, th, td {
    font-weight: normal;
    text-align: left
}

blockquote:before, blockquote:after, q:before, q:after {
    content: ""
}

blockquote, q {
    quotes: "" ""
}

button {
    margin: 0;
    padding: 0;
    cursor: pointer
}

a {
    text-decoration: none;
    color: #383d41
}

input[disabled], button[disabled] {
    cursor: not-allowed;
    background-color: #eee
}

.blackBtn {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #4a4a4a), color-stop(1, #2c2c2c));
    background: -moz-linear-gradient(top, #4a4a4a 5%, #2c2c2c 100%);
    background: -webkit-linear-gradient(top, #4a4a4a 5%, #2c2c2c 100%);
    background: -o-linear-gradient(top, #4a4a4a 5%, #2c2c2c 100%);
    background: -ms-linear-gradient(top, #4a4a4a 5%, #2c2c2c 100%);
    background: linear-gradient(to bottom, #4a4a4a 5%, #2c2c2c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff579a', endColorstr='#fc4b92', GradientType=0);
    background-color: #4a4a4a;
    -webkit-box-shadow: inset 0 1px 0 0 #6b6b6b;
    -moz-box-shadow: inset 0 1px 0 0 #6b6b6b;
    box-shadow: inset 0 1px 0 0 #6b6b6b;
    border: 1px solid #2b2b2b;
    color: #fff;
    font-weight: bold
}

.pinkBtn {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #ff579a), color-stop(1, #fc4b92));
    background: -moz-linear-gradient(top, #ff579a 5%, #fc4b92 100%);
    background: -webkit-linear-gradient(top, #ff579a 5%, #fc4b92 100%);
    background: -o-linear-gradient(top, #ff579a 5%, #fc4b92 100%);
    background: -ms-linear-gradient(top, #ff579a 5%, #fc4b92 100%);
    background: linear-gradient(to bottom, #ff579a 5%, #fc4b92 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff579a', endColorstr='#fc4b92', GradientType=0);
    background-color: #ff579a;
    -webkit-box-shadow: inset 0 1px 0 0 #ff7db1;
    -moz-box-shadow: inset 0 1px 0 0 #ff7db1;
    box-shadow: inset 0 1px 0 0 #ff7db1;
    border: 1px solid #fd2c80;
    color: #fff;
    font-weight: bold
}

.grayBtn {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #fcfcfc), color-stop(1, #e7e7e7));
    background: -moz-linear-gradient(top, #fcfcfc 5%, #e7e7e7 100%);
    background: -webkit-linear-gradient(top, #fcfcfc 5%, #e7e7e7 100%);
    background: -o-linear-gradient(top, #fcfcfc 5%, #e7e7e7 100%);
    background: -ms-linear-gradient(top, #fcfcfc 5%, #e7e7e7 100%);
    background: linear-gradient(to bottom, #fcfcfc 5%, #e7e7e7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e7e7e7', GradientType=0);
    background-color: #fcfcfc;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    border: 1px solid #ccc;
    color: #000;
    font-weight: bold
}



div.mainVisual {
    position: relative;
    width: 1048px;
    height: 477px;
    margin: 0 auto 50px;
    overflow: hidden
}

div.mainVisual img {
    width: 1048px
}

div.mainVisual .arrow {
    position: absolute;
    top: 231px;
    display: block;
    width: 51px;
    height: 62px
}

div.mainVisual .pre {
    left: 0;
    background: url("/web/images/home/homeSprite20160811.png") -290px -30px
}

div.mainVisual .pre:hover {
    background: url("/web/images/home/homeSprite20160811.png") -410px -30px
}

div.mainVisual .next {
    right: 0;
    background: url("/web/images/home/homeSprite20160811.png") -350px -30px
}

div.mainVisual .next:hover {
    background: url("/web/images/home/homeSprite20160811.png") -470px -30px
}

div.mainVisual .circleWrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center
}

div.mainVisual .circle {
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    margin: 0
}

div.mainVisual li {
    width: 12px;
    height: 12px;
    float: left;
    margin: 0 10px 3px 5px;
    cursor: pointer;
    list-style: none;
    background: url("/web/images/home/homeSprite20160811.png") -230px -40px
}

div.mainVisual li:hover, div.mainVisual .on {
    background: url("/web/images/home/homeSprite20160811.png") -250px -40px
}

div.sideBannerL {
    position: absolute;
    top: 0;
    left: -123px
}

div.sideBannerL li {
    margin-top: 10px
}

div.sideBannerR {
    position: absolute;
    top: 0;
    right: -141px;
    z-index: 3
}

div.sideBannerR li {
    margin-bottom: 10px
}

#container.brand .sideBannerL {
    top: 123px
}

#container.brand .sideBannerR {
    top: 123px
}

div.topDownWrap {
    width: 102px
}

div.topDownBtn {
    background: url("/web/images/header/headerSprite20160921.png") -20px -70px
}

div.topDownBtn .top {
    display: block;
    width: 71px;
    height: 32px;
    text-indent: -9999px;
    cursor: pointer
}

div.topDownBtn .down {
    display: block;
    width: 71px;
    height: 33px;
    text-indent: -9999px;
    cursor: pointer
}

div.myView {
    width: 110px;
    height: 357px;
    background: #fff
}

div.myView .viewCart, div.myView .view {
    display: block;
    padding: 4px 10px 0 10px;
    color: #eee;
    font-size: 11px;
    overflow: hidden;
    background: #262525
}

div.myView .viewCart {
    height: 22px;
    border: 1px solid #060606;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0
}

div.myView .viewCart .arrow {
    display: block;
    width: 5px;
    height: 8px;
    margin: 6px;
    background: url("/web/images/home/homeSprite20160811.png") -280px -20px
}

div.myView .view {
    height: 23px;
    cursor: text;
    border-top: 1px solid #4b4b4b;
    border-left: 1px solid #060606;
    border-right: 1px solid #060606
}

div.myView strong {
    float: left
}

div.myView .amount {
    display: block;
    float: right;
    font-size: 13px;
    font-weight: bold;
    color: #ff5073
}

div.myView .viewList {
    position: relative;
    width: 74px;
    height: 283px;
    padding: 17px 17px 0 17px;
    border: 1px solid #cfcfcf;
    border-top: none;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px
}

div.myView .viewList .empty {
    margin-top: 110px;
    color: #b1b1b1;
    text-align: center;
    font-size: 12px
}

div.myView .viewList li {
    float: none;
    position: relative
}

div.myView .viewList li:hover .overImg {
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    background: #fff
}

div.myView div.paging {
    position: absolute;
    width: 74px;
    bottom: 5px;
    overflow: hidden;
    font-size: 12px
}

div.myView span.fL {
    width: 33px
}

div.myView .on {
    color: #ff5073
}

div.myView .pre, div.myView .next {
    display: block;
    width: 13px;
    height: 13px;
    background: url("/web/images/home/homeSprite20160811.png");
    margin-top: 3px
}

div.myView .pre {
    background-position: -300px 0;
    margin-left: 12px
}

div.myView .pre:hover {
    background-position: -260px 0
}

div.myView .next {
    background-position: -320px 0
}

div.myView .next:hover {
    background-position: -280px 0
}

div.myView .overImg {
    position: relative;
    width: 225px;
    height: 74px;
    border: 2px solid #404040
}

div.myView .textBox {
    width: 141px;
    height: 52px;
    padding: 18px 0 0 10px
}

div.myView .title {
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: bold
}

div.myView .price {
    color: #ff5073;
    font-weight: bold
}

div.myView .overClose {
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    width: 15px;
    height: 15px;
    background: url("/web/images/home/homeSprite20160811.png") -260px -20px;
    cursor: pointer
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent
}

iframe[name='google_conversion_frame'] {
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    margin-top: -13px;
    float: left
}