div#footer {
	position:relative;
	margin-top:70px;
	width:100%;
	border-top:1px solid #e0e0e0;
	font-family:'돋움',Dotum,AppleSDGothic,AppleGothic,'굴림',Gulim,sans-serif;
	color:#555;
	background:#f9f9fb;
	letter-spacing:0;
	z-index:0
}
div#footer .footerTopInner,div#footer .footerBottomInner {
	margin:0 auto;
	width:1048px
}
div#footer a {
	color:#555
}
div#footer .textBox a:hover,div#footer dl a:hover {
	text-decoration:underline
}
div#footer li {
	float:left
}
div#footer .call {
	display:block;
	width:176px;
	height:26px;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") 0 0
}
div#footer dl {
	padding-left:20px;
	width:241px;
	height:114px;
	float:left;
	border-left:1px solid #dfdfdf
}
div#footer dl a {
	margin-top:2px;
	display:block
}
div#footer dl .mg_t {
	margin-top:4px
}
div#footer dt {
	margin-bottom:10px;
	font-size:14px;
	font-weight:bold
}
div#footer .recruit {
	position:relative
}
div#footer .partner li {
	position:relative;
	float:none
}
div#footer .partner li:hover .copyBox {
	display:block
}
div#footer .copyBox {
	position:absolute;
	top:-10px;
	left:130px;
	display:none;
	padding:7px;
	color:#747474;
	font-size:13px;
	background:#fff;
	border:1px solid #767676
}
div#footer div.o2o {
	font-size:11px
}
div#footer .csCenter {
	width:221px
}
div#footer .csCenter span {
	display:block;
	font-size:11px
}
div#footer .csCenter strong {
	display:block;
	margin-top:28px
}
div#footer .csCenter strong:hover {
	text-decoration:underline
}
div#footer .gText {
	color:#a1a1a1;
	line-height:1.8em
}
div#footer .footerMiddle {
	padding:25px 0 30px;
	font-size:12px
}
div#footer .footerMiddle div.cB {
	display:block;
	content:"";
	height:0
}
div#footer .footerMiddle {
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0
}
div#footer .icon {
	display:block;
	margin-right:13px;
	width:40px;
	height:40px;
	float:left
}
div#footer .icon_01 {
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") 0 -50px
}
div#footer .icon_02 {
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -50px -50px
}
div#footer .icon_03 {
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -100px -50px
}
div#footer .icon_04 {
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -150px -50px
}
div#footer .icon_05 {
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -200px -50px
}
div#footer .landing {
	display:block;
	padding:20px 0
}
div#footer .landing li {
	font-size:12px;
	font-weight:bold
}
div#footer .landing li:hover .icon_01 {
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -300px -50px
}
div#footer .landing li:hover .icon_02 {
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -350px -50px
}
div#footer .landing li:hover .icon_03 {
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -400px -50px
}
div#footer .landing li:hover .icon_04 {
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -450px -50px
}
div#footer .landing li:hover .icon_05 {
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -500px -50px
}
div#footer .landing li:hover a {
	color:#ff5073
}
div#footer .footerList_01 {
	width:200px
}
div#footer .footerList_02 {
	width:210px
}
div#footer .footerList_03 {
	width:210px
}
div#footer .footerList_04 {
	width:219px
}
div#footer .footerList_05 {
	width:209px
}
div#footer .landingText {
	display:block;
	margin-top:3px;
	float:left;
	line-height:1.5em
}
div#footer .memeBoxInfo {
	padding:30px 0 28px
}
div#footer .footerLogo {
	display:block;
	width:119px;
	height:16px;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") 0 -30px
}
div#footer .textBox {
	margin-left:102px
}
div#footer .textBox li {
	font-size:12px
}
div#footer .textBox .bar {
	color:#c0c0c0;
	margin:0 10px
}
div#footer .footerBottomOuter {
	padding:16px 0 8px;
	background:#efefef
}
div#footer .mark {
	margin-right:7px;
	display:block;
	height:42px;
	float:left
}
div#footer .mark_01 {
	width:44px;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") 0 -100px
}
div#footer .mark_02 {
	width:36px;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -50px -100px
}
div#footer .mark_03 {
	width:40px;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -90px -100px
}
div#footer .mark_04 {
	width:42px;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -140px -100px
}
div#footer .mark_05 {
	width:41px;
	height:39px;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -260px -100px
}
div#footer .mark_06 {
	width:40px;
	height:40px;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -360px -100px
}
div#footer .mark_07 {
	margin-top:3px;
	width:42px;
	height:34px;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -310px -100px
}
div#footer .mark_08 {
	width:41px;
	height:39px;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -410px -100px
}
div#footer .mark_09 {
	width:39px;
	height:39px;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -460px -100px
}
div#footer .kobacoMark {
	display:block;
	width:65px;
	height:19px;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -190px -100px
}
div#footer .footerBottomInner:after {
	display:block;
	content:"";
	height:0;
	clear:both
}
div#footer .award {
	position:relative;
	width:754px
}
div#footer .award div.bx-viewport {
	left:0;
	background:none
}
div#footer .badge {
	margin:0 20px;
	width:714px;
	height:39px;
	overflow:hidden
}
div#footer .badge li {
	width:178px;
	font-size:11px;
	font-weight:bold
}
div#footer .badge .list5 {
	padding-left:10px;
	width:168px
}
div#footer .listText {
	display:block;
	margin-top:6px;
	line-height:1.5em;
	float:left
}
div#footer .kobacoText {
	display:block;
	margin-top:4px
}
div#footer .list_arrow {
	display:block;
	position:absolute;
	top:8px;
	width:13px;
	height:21px;
	cursor:pointer;
	text-indent:-9999px
}
div#footer .award_next {
	right:0;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -210px 0
}
div#footer .award_prev {
	left:0;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -190px 0
}
div#footer .award_next_on {
	right:0;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -250px 0
}
div#footer .award_prev_on {
	left:0;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -230px 0
}
div#footer .snsNavi {
	overflow:hidden
}
div#footer .snsNavi a {
	display:block;
	margin:7px 0 0 5px;
	float:left;
	width:25px;
	height:25px;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png");
	text-indent:-9999px
}
div#footer .snsNavi .insta {
	margin-left:0;
	background-position:-30px -150px
}
div#footer .snsNavi .faceBook {
	background-position:0 -150px
}
div#footer .snsNavi .youtube {
	background-position:-60px -150px
}
div#footer address {
	margin-top:10px;
	font-size:11px;
	color:#a1a1a1;
	line-height:1.7em
}
div#footer address a {
	font-weight:bold
}
div#footer .e_text {
	font-family:'Verdana'
}
div#footer .lastLine {
	display:block;
	margin-top:5px
}
div#footer .globalWrap {
	margin:0 16px 0 12px;
	position:relative
}
div#footer .globalWrap:hover .globalSelect {
	display:block
}
div#footer .globalWrap:hover span.arrow {
	top:10px;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -290px 0
}
div#footer .global {
	position:relative;
	display:block;
	margin-top:5px;
	width:178px;
	height:27px;
	border:1px solid #ccc;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	background:#fff;
	cursor:pointer
}
div#footer .global .arrow {
	position:absolute;
	display:block;
	top:9px;
	right:7px;
	width:15px;
	height:10px;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png") -270px 0
}
div#footer .global .text {
	position:absolute;
	display:block;
	top:6px;
	left:10px;
	font-size:12px
}
div#footer .globalSelect {
	display:none;
	position:absolute;
	left:0;
	bottom:27px;
	width:178px;
	background:#fff;
	border:1px solid #ccc
}
div#footer .globalSelect li {
	list-style:none
}
div#footer .globalSelect a {
	display:block;
	width:178px;
	height:30px;
	font-size:11px;
	cursor:pointer
}
div#footer .globalSelect a:hover {
	color:#ff5073
}
div#footer .globalIcon {
	display:block;
	margin:2px 8px;
	width:24px;
	height:24px;
	float:left;
	background:url("//www.memebox.com/web/images/footer/footerSprite20161117.png")
}
div#footer .memeStar {
	background-position:-150px -150px
}
div#footer .usa {
	background-position:-120px -150px
}
div#footer .china {
	background-position:-90px -150px
}
div#footer .corp {
	background-position:-240px -150px
}
div#footer .immeme {
	background-position:-210px -150px
}
div#footer .ponyEffect {
	background-position:-180px -150px
}
div#footer .shadeCode {
	background-position:-270px -150px
}
div#footer .globalText {
	display:block;
	margin-top:6px;
	float:left
}
div.test1234 {
	color:red
}
