div.topBanner {
	position:relative
}
div.topBanner a img {
	width:1048px;
	margin:auto;
	display:block
}
div.topBanner .closeButton {
	position:absolute;
	top:26%;
	right:50px;
	cursor:pointer
}
div.lnb {
	padding:13px 0 20px 0;
	*padding-bottom:43px;
	font-size:13px;
	color:#888;
	z-index:3
}
div.lnb .lnbBoxWrap:after {
	clear:both;
	display:block;
	content:""
}
div.lnb .homeLink {
	position:relative;
	padding-left:20px;
	white-space:nowrap;
	line-height:12px
}
div.lnb .homeIcon {
	position:absolute;
	left:0;
	top:50%;
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:15px;
	height:14px;
	margin:-6px 5px 0 0;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") -60px -50px;
	vertical-align:middle
}
div.lnb .menu_navi {
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding-top:6px;
	color:#555;
	font-size:12px;
	letter-spacing:0;
	line-height:12px
}
div.lnb div.select {
	position:relative;
	cursor:pointer;
	height:18px;
	font-size:11px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	*z-index:2
}
div.lnb div.select p {
	padding:1px 19px 0 10px
}
div.lnb div.select a {
	color:#555
}
div.lnb div.select:hover .option {
	display:block
}
div.lnb div.select:hover .grayArrow {
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") -70px -170px
}
div.lnb .option {
	position:absolute;
	display:none;
	top:18px;
	left:-1px;
	padding:7px 0;
	max-height:338px;
	overflow:auto;
	z-index:3
}
div.lnb .option li {
	margin-top:3px
}
div.lnb .option li.fir {
	margin-top:0
}
div.lnb .option li:hover,div.lnb .option li.on {
	background:#ffedf1
}
div.lnb .option a {
	display:block;
	padding:3px 10px 1px 10px;
	line-height:12px
}
div.lnb .select,div.lnb .option {
	width:150px;
	border:1px solid #ccc;
	background:#fff
}
div.lnb .grayArrow {
	display:block;
	position:absolute;
	top:50%;
	right:3px;
	width:13px;
	height:9px;
	margin-top:-4px;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") -50px -170px
}
div.lnb .subdivide {
	width:6px;
	height:9px;
	margin:6px 10px 0 10px;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") -20px -170px
}
div.lnb .lnbTextBox {
	*clear:both;
	margin-top:18px;
	padding:15px 0 4px 0;
	overflow:hidden;
	border-top:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	background:#fafafa
}
div.lnb .lnbTextBox li {
	width:19.9%;
	margin-bottom:11px;
	float:left;
	font-size:12px;
	text-indent:15px
}
div.lnb .lnbTextBox a:hover,div.lnb .lnbTextBox .on {
	color:#ff5073
}
div.lnb .relatedResult {
	padding-top:10px;
	color:#333;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleSDGothic,AppleGothic,'굴림',Gulim,sans-serif;
	font-size:13px
}
div.lnb .relatedResult span,div.lnb .relatedResult a {
	margin-right:18px
}
div.lnb .relatedResult .keywordTitle {
	font-weight:bold
}
div.lnb .relatedResult .relatedKeyword {
	font-weight:normal
}
div.noDepth {
	padding-bottom:18px
}
div.lnb:after {
	content:"";
	display:block;
	clear:both
}
div#header_v2 {
	position:relative;
	margin-bottom:7px;
	z-index:5
}
div#header_v2 h1,div#header_v2 h3,div#header_v2 h4 {
	display:inline
}
div#header_v2 h4 {
	font-size:.9em;
	font-weight:normal
}
div#header_v2 ul li {
	float:left
}
div#header_v2 div.gnbTop {
	margin:4px 0 10px 0;
	width:100%;
	background:#fff;
	color:#555;
	font-size:12px;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleSDGothic,AppleGothic,'굴림',Gulim,sans-serif
}
div#header_v2 div.gnbTopInner {
	width:1048px;
	height:36px
}
div#header_v2 div.gnbTopInner .count .pText {
	margin:1px 5px 0 0;
	font-family:'Tahoma';
	font-weight:bold;
	font-size:14px;
	letter-spacing:0;
	color:#ff5073
}
div#header_v2 div.gnbTopInner .count .text {
	margin-top:1px
}
div#header_v2 div.gnbTopInner .appText {
	margin:1px 0 0 5px;
	display:block;
	font-size:12px
}
div#header_v2 div.gnbTopInner .link {
	display:block;
	cursor:pointer;
	float:left
}
div#header_v2 div.gnbTopInner .bar {
	display:block;
	margin:1px 10px 0 10px;
	color:#e1e1e1;
	float:left;
	font-size:15px
}
div#header_v2 div.gnbTopInner .bar_half {
	display:block;
	margin:3px 5px 0 5px;
	color:#e1e1e1;
	float:left
}
div#header_v2 div.gnbTopInner .appDownIcon {
	margin-top:3px;
	display:block;
	width:13px;
	height:16px;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") -230px -40px
}
div#header_v2 div.gnbTopInner ul.gnbTopRight .li {
	position:absolute;
	font-size:11px;
	z-index:5
}
div#header_v2 div.gnbTopInner ul.gnbTopRight .navi {
	margin-top:1px;
	display:block;
	height:27px;
	color:#555;
	float:left
}
div#header_v2 div.gnbTopInner ul.gnbTopRight .arrow {
	display:block;
	width:6px;
	height:3px;
	margin:9px 0 0 3px;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") -210px -60px
}
div#header_v2 div.gnbTopInner ul.gnbTopRight .gnbTopRight_bar {
	display:block;
	margin:1px 10px 0;
	color:#e1e1e1;
	float:left;
	font-size:15px
}
div#header_v2 div.gnbTopInner ul.gnbTopRight .top_cartIcon {
	margin:3px 2px 0 0;
	width:17px;
	height:14px;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") -250px -40px
}
div#header_v2 div.gnbTopInner ul.gnbTopRight .cart_count {
	padding:0 6px;
	margin:1px 0 0 4px;
	display:inline-block;
	zoom:1;
	height:18px;
	background:#ff5073;
	color:#fff;
	text-align:center;
	border-radius:9px;
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	line-height:18px
}
div#header_v2 div.gnbTopInner ul.gnbTopRight .loginBtn {
	margin:1px 10px 0 0;
	width:56px;
	height:19px;
	text-align:center;
	border:1px solid #ccc;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px
}
div#header_v2 div.gnbTopInner .hover:hover {
	position:relative
}
div#header_v2 div.gnbTopInner .hover {
	position:relative
}
div#header_v2 div.gnbTopInner .topMenu_over {
	display:none;
	position:absolute;
	width:105px;
	top:24px;
	left:-9px;
	z-index:5
}
div#header_v2 div.gnbTopInner .topMenu_over .topMenu_over_inner {
	width:100px;
	background:#fff;
	border:1px solid #f9f9fa
}
div#header_v2 div.gnbTopInner .topMenu_over ul {
	display:block;
	padding:12px 10px
}
div#header_v2 div.gnbTopInner .topMenu_over li {
	float:none;
	margin-bottom:8px
}
div#header_v2 div.gnbTopInner .topMenu_over a {
	color:#555
}
div#header_v2 div.gnbTopInner .topMenu_over a:hover {
	color:#ff5073
}
div#header_v2 div.gnbTopInner div.cs {
	width:96px
}
div#header_v2 div.gnbTopInner div.cs .topMenu_over_inner {
	width:91px
}
div#header_v2 div.gnbTopInner .hover:hover .topMenu_over {
	display:block
}
div#header_v2 div.gnbLogoOuter {
	width:100%;
	background:url("//img2.memebox.com/static/contents/img/upload/image_20160607105330_9hztwMIrVc.png") repeat-x
}
div#header_v2 div.gnbLogoOuter.fix {
	position:fixed;
	top:0;
	z-index:1;
	height:90px
}
div#header_v2 div.gnbLogo {
	position:relative;
	width:1048px;
	height:72px;
	z-index:4
}
div#header_v2 div.gnbLogo a.memeLogo {
	width:174px;
	height:41px;
	margin-top:9px;
	display:block;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") -180px -180px no-repeat
}
div#header_v2 div.gnbLogo .topRollingBannerWrap .topRollingArrow {
	position:absolute;
	top:9px;
	display:block;
	width:16px;
	height:16px;
	cursor:pointer
}
div#header_v2 div.gnbLogo .topRollingBannerWrap .pre {
	right:17px;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") -340px -40px
}
div#header_v2 div.gnbLogo .topRollingBannerWrap .next {
	right:0;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") -360px -40px
}
div#header_v2 div.gnbLogo .topRollingBanner {
	width:240px;
	height:50px
}
div#header_v2 div.gnbLogo .topRollingBanner img {
	width:240px;
	height:50px
}
div#header_v2 div.gnbLogo .dot {
	display:block;
	width:4px;
	height:4px;
	margin:8px 12px;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") -80px -60px
}
div#header_v2 div.gnbLogo .point_icon {
	position:absolute;
	top:-16px;
	right:28px;
	display:block;
	width:50px;
	height:13px;
	background:url('http://img2.memebox.com/static/contents/img/upload/content_20150803103040_5m871yWyAk.png')
}
div#header_v2 div.gnbLogo .newIcon {
	position:absolute;
	top:-9px;
	display:block;
	width:31px;
	height:9px;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") -60px -40px
}
div#header_v2 div.gnbLogo .text3 {
	left:3px
}
div#header_v2 div.gnbLogo .text5 {
	left:14px
}
div#header_v2 div.gnbOuter {
	z-index:3;
	width:100%;
	height:42px;
	border-top:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	font-family:'나눔고딕볼드',NanumGothicBold,'나눔고딕',NanumGothic,'돋움',Dotum,AppleSDGothic,AppleGothic,'굴림',Gulim,sans-serif
}
div#header_v2 div.newGnb {
	position:relative;
	width:1048px
}
div#header_v2 div.newGnb .gnbUl {
	padding-left:14px
}
div#header_v2 div.newGnb .newGnbTab {
	position:relative;
	float:left
}
div#header_v2 .arrow {
	display:block;
	width:7px;
	height:4px;
	margin:9px 0 0 5px;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") 0 -40px
}
div#header_v2 .mainMenu {
	position:relative;
	display:block;
	padding:11px 15px 0;
	height:31px;
	color:#000;
	font-size:14px;
	text-align:center;
	font-weight:bold;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleSDGothic,AppleGothic,'굴림',Gulim,sans-serif
}
div#header_v2 .mainMenu .newIcon {
	position:absolute;
	top:13px;
	right:13px;
	display:block;
	width:15px;
	height:15px;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") 0 -130px no-repeat
}
div#header_v2 .mainMenu .newIcon_circle2 {
	position:absolute;
	top:5px;
	right:5px;
	display:block;
	width:15px;
	height:15px;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") 0 -150px
}
div#header_v2 .brand.over .lnbOver {
	display:block
}
div#header_v2 .category {
	position:relative;
	display:block;
	width:174px;
	height:42px;
	background:#f9f9fa;
	color:#000;
	font-size:14px;
	text-align:center;
	font-weight:bold;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleSDGothic,AppleGothic,'굴림',Gulim,sans-serif;
	cursor:pointer
}
div#header_v2 .categoryText {
	margin-top:10px
}
div#header_v2 .categoryIcon_01 {
	margin:13px 7px 0 15px;
	width:20px;
	height:15px;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") -270px -40px
}
div#header_v2 .categoryIcon_02 {
	margin:13px 15px 0 0;
	width:15px;
	height:15px;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") -320px -40px
}
div#header_v2 .categoryIcon_02.wide {
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") -300px -40px
}
div#header_v2 .categoryWrap {
	position:relative
}
div#header_v2 .mainMenu.on,div#header_v2 .mainMenu:hover {
	color:#ff5073
}
div#header_v2 .fixCategory {
	position:absolute;
	top:42px;
	padding:15px 0 20px 15px;
	width:159px;
	height:444px;
	background:url("http://img2.memebox.com/static/contents/img/upload/contents_20160411152307_ceEubOv60n.png") repeat-x;
	border-top:1px solid #8b8b8b;
	font-size:13px;
	font-weight:bold;
	letter-spacing:0
}
div#header_v2 .fixCategory a {
	display:block;
	padding-left:8px
}
div#header_v2 .fixCategory h3 {
	display:block;
	margin-top:17px
}
div#header_v2 .fixCategory h3,div#header_v2 .fixCategory a {
	color:#fff
}
div#header_v2 .fixCategory li {
	padding-top:11px;
	float:none
}
div#header_v2 .fixCategory .bar {
	width:144px;
	margin:17px 0 6px;
	border-top:1px solid #b7b7b7
}
div#header_v2 .fixCategory:hover {
	border-top:1px solid #e0e0e0;
	background:#f9f9f9
}
div#header_v2 .fixCategory:hover a,div#header_v2 .fixCategory:hover h3 {
	color:#555
}
div#header_v2 .fixCategory:hover .bar {
	border-top-color:#e0e0e0
}
div#header_v2 .fixCategory:hover a:hover {
	color:#ff5073
}
div#header_v2 .fixCategory_side {
	display:none;
	position:absolute;
	top:0;
	left:174px;
	width:205px;
	font-size:12px
}
div#header_v2 .fixCategory_side a {
	color:#555;
	padding-left:0
}
div#header_v2 .fixCategory_side li {
	padding-top:6px
}
div#header_v2 .fixCategory_side_inner {
	padding:30px 0 0 30px;
	width:170px;
	height:450px;
	background:#fff
}
div#header_v2 .fix_li:hover .fixCategory_side {
	display:block
}
div#header_v2 .lnbOver {
	display:none;
	position:absolute;
	top:42px;
	width:1046px;
	border:1px solid #e1e1e1;
	font-size:13px
}
div#header_v2 .lnbOver .theme {
	height:480px
}
div#header_v2 .lnbOver .theme td {
	height:100%
}
div#header_v2 .lnbOver .bg {
	background:#fff
}
div#header_v2 .lnbOver a {
	display:block
}
div#header_v2 .lnbOver .newIcon_circle {
	display:block;
	margin:3px 0 0 10px;
	width:15px;
	height:15px;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") 0 -150px
}
div#header_v2 .lnbOver.all .shadowBox {
	right:-5px
}
div#header_v2 .shadowBox {
	position:absolute;
	top:0;
	right:0;
	width:5px;
	height:100%;
	background:#000;
	opacity:.03;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=3);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=3)
}
div#header_v2 .categoryTitle {
	padding:7px 0 0 20px;
	background:#f9f9fa;
	height:26px;
	border-top:1px solid #f9f9f9;
	border-bottom:1px solid #f2f2f2;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleSDGothic,AppleGothic,'굴림',Gulim,sans-serif;
	font-size:14px;
	font-weight:bold
}
div#header_v2 .hr_right {
	border-right:1px solid #e7e7e7
}
div#header_v2 .newGnbTab:hover {
	display:block
}
div#header_v2 .overBox {
	padding:11px 0
}
div#header_v2 .depth_3_box {
	height:224px
}
div#header_v2 .depth_3_box {
	display:none;
	position:absolute;
	top:-1px;
	left:180px;
	width:296px;
	background:#fff;
	border:1px solid #ff5073;
	border-left:1px solid #dbdbdb;
	font-size:13px;
	overflow:hidden
}
div#header_v2 .depth_2_li:hover .depth_2,div#header_v2 .depth_3_li:hover .depth_3 {
	background:#ff5073;
	color:#fff
}
div#header_v2 .depth_2_li:hover .depth_3_box,div#header_v2 .depth_3_li:hover {
	display:block
}
div#header_v2 .splitBox {
	width:148px;
	float:left
}
div#header_v2 div.brandList {
	width:215px;
	height:480px;
	left:0
}
div#header_v2 div.brandList .tableWrap {
	padding:15px 0 0 25px;
	width:185px;
	height:455px;
	overflow:auto;
	border-bottom:10px solid #fff
}
div#header_v2 div.brandList .brandTable {
	width:160px
}
div#header_v2 div.brandList li {
	margin-bottom:12px
}
div#header_v2 .categoryTable th {
	width:136px;
	height:39px;
	background:#f9f9fa;
	font-size:13px;
	font-family:'나눔고딕볼드',NanumGothicBold,'나눔고딕',NanumGothic,'돋움',Dotum,AppleSDGothic,AppleGothic,'굴림',Gulim,sans-serif
}
div#header_v2 .categoryTable th.h3 {
	padding-left:12px;
	width:77px;
	border-left:0
}
div#header_v2 .categoryTable th,div#header_v2 .categoryTable td {
	border-left:1px solid #f9f9fa
}
div#header_v2 .categoryTable td {
	padding:15px 0 20px 0;
	height:171px;
	font-size:12px;
	vertical-align:top
}
div#header_v2 .categoryTable li {
	margin-bottom:1px
}
div#header_v2 .categoryTable a {
	padding-left:12px
}
div#header_v2 .categoryTable a:hover {
	color:#ff5073
}
div#header_v2 .categoryTable,div#header_v2 .brandTable {
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleSDGothic,AppleGothic,'굴림',Gulim,sans-serif
}
div#header_v2 .categoryTable li,div#header_v2 .brandTable li {
	float:none
}
div#header_v2 .categoryTable a,div#header_v2 .brandTable a {
	color:#555
}
div#header_v2 .categoryTable .nIcon,div#header_v2 .brandTable .nIcon {
	display:block;
	float:left;
	margin:12px 0 0 5px;
	width:7px;
	height:7px;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") -10px -50px
}
div#header_v2 table.categoryTable_life td {
	height:161px
}
div#header_v2 .brandTable th {
	padding:0;
	width:25px;
	vertical-align:top;
	font-weight:bold;
	font-size:14px
}
div#header_v2 .brandTable td {
	padding-top:2px;
	font-size:13px
}
div#header_v2 .brandTable a:hover {
	color:#ff5073
}
div#header_v2 .category-block .top,div#header_v2 .category-block-content .top {
	height:265px
}
div#header_v2 .category-block .bottom,div#header_v2 .category-block-content .bottom {
	height:215px
}
div#header_v2 .category-block {
	position:relative;
	padding-right:174px;
	overflow:hidden;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleSDGothic,AppleGothic,'굴림',Gulim,sans-serif
}
div#header_v2 .category-block a {
	color:#333
}
div#header_v2 .category-block a:hover {
	color:#ff5073
}
div#header_v2 .category-block-content {
	float:left;
	position:relative;
	display:block;
	width:20%
}
div#header_v2 .category-content-tit {
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:100%;
	height:39px;
	overflow:hidden;
	padding:0;
	background:#f9f9fa;
	font-size:13px;
	font-family:'나눔고딕볼드',NanumGothicBold,'나눔고딕',NanumGothic,'돋움',Dotum,AppleSDGothic,AppleGothic,'굴림',Gulim,sans-serif;
	font-weight:bold;
	line-height:1
}
div#header_v2 .category-tit-item {
	display:block;
	padding:13px 25px
}
div#header_v2 .category-content-desc {
	height:100%;
	padding:49px 0 0 0;
	border-right:1px solid #f9f9fa
}
div#header_v2 .category-content-desc.top {
	height:216px
}
div#header_v2 .category-content-desc.bottom {
	height:165px
}
div#header_v2 .category-list-block {
	float:none
}
div#header_v2 .category-list-item {
	display:block;
	padding:0 25px;
	font-size:12px;
	font-weight:normal;
	line-height:1.68
}
div#header_v2 .category-block.additional {
	position:absolute;
	width:173px;
	height:100%;
	padding-right:0;
	right:0;
	top:0;
	border-left:1px solid #e1e1e1;
	background:#fff
}
div#header_v2 .category-block.additional .category-block-content {
	width:100%
}
div#header_v2 .category-block.additional .category-content-desc {
	border-right:0
}
div#header_v2 .lnbClose {
	position:absolute;
	top:0;
	right:0;
	display:block;
	width:29px;
	height:29px;
	background:url("//www.memebox.com/web/images/header/headerSprite20160921.png") -440px -40px;
	cursor:pointer
}
div#header_v2 .brand-all {
	position:absolute;
	left:0;
	top:42px;
	width:180px;
	height:480px;
	padding:0 5px 0 56px;
	overflow:hidden;
	background:#fff;
	line-height:1.25
}
div#header_v2 .brand-all-container {
	position:relative;
	height:480px;
	overflow:auto
}
div#header_v2 .brand-all-inner {
	position:relative;
	padding:0 0 14px 0
}
div#header_v2 .brand-all-nav {
	position:absolute;
	left:0;
	top:0;
	width:56px;
	height:100%;
	background:#f9f9fa
}
div#header_v2 .brand-all-nav_block {
	padding:9px 0 0 0
}
div#header_v2 .brand-all-nav_list {
	position:relative;
	list-style:none;
	margin:0;
	padding:0
}
div#header_v2 .brand-all-nav_list,div#header_v2 .brand-all-nav_list-block {
	margin:0;
	padding:0
}
div#header_v2 .brand-all-nav_list-block.focus a.brand-all-nav_list-item {
	color:#ff5073
}
div#header_v2 span.brand-all-nav_list-item,div#header_v2 a.brand-all-nav_list-item {
	display:block;
	margin:1px 0 0 0;
	padding:3px 0;
	color:#555;
	font-size:16px;
	font-family:'나눔고딕볼드',NanumGothicBold,'나눔고딕',NanumGothic,'돋움',Dotum,AppleSDGothic,AppleGothic,'굴림',Gulim,sans-serif;
	font-weight:bold;
	text-decoration:none;
	text-align:center
}
div#header_v2 a.brand-all-nav_list-item:hover {
	color:#ff5073
}
div#header_v2 a.brand-all-nav_list-item.disabled {
	color:#e0e0e0;
	cursor:default
}
div#header_v2 a.brand-all-nav_list-item.morpheme {
	margin-top:2px;
	padding:5px 0;
	font-size:12px;
	line-height:1.67
}
div#header_v2 .brand-all-block {
	position:relative;
	padding:14px 0 3px 0;
	font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif
}
div#header_v2 .brand-all-head {
	display:none
}
div#header_v2 .brand-list {
	list-style:none
}
div#header_v2 .brand-list,div#header_v2 .brand-list-block {
	margin:0;
	padding:0
}
div#header_v2 a.brand-list-item {
	display:block;
	padding:6px 20px 5px 20px;
	color:#333;
	font-size:12px;
	text-decoration:none
}
div#header_v2 a.brand-list-item:hover,div#header_v2 a.brand-list-item:active {
	color:#ff5073;
	text-decoration:none
}
div#header_v2 li.brand-all-nav_list,div#header_v2 li.brand-all-nav_list-block {
	float:none
}
div#header_v2 li.brand-list-block {
	float:none
}
.navigation-list-newSticker {
	position:absolute;
	top:13px;
	right:1px;
	display:inline-block;
	width:7px;
	height:7px;
	background:url("//www.memebox.com/web/images/header/navigation-list-newSticker.png")
}
.lnbOver .navigation-list-newSticker {
	position:relative;
	top:-1px;
	margin-left:4px;
	vertical-align:middle
}
.newSearchWrap {
	position:absolute;
	top:9px;
	left:260px;
	width:460px;
	z-index:1
}
.imMeMe-stick-floating-banner {
	display:block;
	position:fixed;
	bottom:120px;
	right:20%;
	width:112px;
	height:147px;
	background:url("http://img2.memebox.com/static/contents/img/upload/contents_20161128141350_a0tDZl1TRr.png");
	cursor:pointer
}
.imMeMe-stick-floating-banner-close {
	display:block;
	position:absolute;
	top:24px;
	right:-1px;
	width:23px;
	height:23px;
	text-indent:-9999em
}
