form input,form button,form textarea,form div.selectOrder,form div.orderList {
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px
}
div.tableBox {
	width:780px;
	margin-top:30px
}
div.tableBox p.title {
	padding-bottom:5px;
	font-weight:bold;
	border-bottom:1px solid #000;
	font-size:15px;
	letter-spacing:-1px
}
div.tableBox p.title .faqBtn {
	position:absolute;
	top:0;
	right:0;
	display:block;
	width:90px;
	height:22px;
	background:url("/web/images/myPage/myPage20160303.png") -70px -740px
}
div.tableBox table {
	width:780px
}
div.tableBox table th,div.tableBox table td {
	padding:14px 0;
	border-bottom:1px solid #e4e4e4;
	font-size:13px
}
div.tableBox table th {
	padding-left:20px;
	background:#f7f7f7;
	border-right:1px solid #e4e4e4;
	font-weight:bold
}
div.tableBox table td {
	padding-left:14px
}
div.tableBox input,div.tableBox select {
	height:20px;
	border:1px solid #d8d8d8;
	font-size:13px
}
div.inquiryUser input {
	width:231px
}
div.inquiryUser select {
	width:65px
}
div.inquiryUser input.tel {
	width:41px
}
div.inquiryCategory select {
	width:230px
}
div.inquiryCategory select p {
	width:200px
}
div.inquiryCategory .optionSelectGuide {
	display:block;
	cursor:pointer;
	height:20px
}
div.inquiryCategory .optionClick {
	width:213px;
	margin-left:6px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
div.inquiryCategory .optionArrow {
	display:block;
	width:13px;
	height:10px;
	margin:6px 6px 0 0;
	background:url("/web/images/deal/deal_20161125.png") -660px -120px
}
div.inquiryCategory div.selectOrder {
	position:relative;
	width:260px;
	height:20px;
	border:1px solid #e4e4e4;
	z-index:0
}
div.inquiryCategory div.typeSelect {
	z-index:1
}
div.inquiryCategory div.cate {
	float:left
}
div.inquiryCategory div.cateSub {
	float:left;
	margin-left:15px
}
div.inquiryCategory div.orderList {
	width:288px;
	padding:5px 6px;
	background:#fff;
	border:1px solid #e4e4e4;
	position:absolute;
	top:21px;
	left:-1px;
	z-index:0
}
div.inquiryCategory div.orderList li {
	width:285px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
div.inquiryCategory div.orderList a {
	cursor:pointer
}
div.inquiryCategory div.type {
	width:248px;
	z-index:1
}
div.inquiryCategory p.lastOrder {
	margin:3px 0 0 10px;
	font-size:12px;
	color:#999
}
div.inquiryContents input,div.inquiryContents textarea {
	width:598px
}
div.inquiryContents .contentsGuide {
	padding:7px 0 18px 7px
}
div.inquiryContents textarea {
	padding:6px 0 0 6px;
	height:230px;
	border:1px solid #d8d8d8
}
button.inquiryBtn {
	display:block;
	width:161px;
	height:46px;
	background:#383838;
	color:#fff;
	font-weight:normal;
	border:0;
	margin:50px auto;
	font-size:15px
}
button.x {
	width:8px;
	height:7px;
	background:url("/web/images/myPage/myPage20160303.png") -240px -10px;
	border:0;
	margin-left:5px;
	margin-right:5px
}
div.listHead {
	width:780px;
	overflow:hidden
}
div.listHead strong {
	font-size:15px
}
div.listHead div.period {
	width:285px
}
div.listHead a.last {
	margin-right:0
}
table.viewTable {
	width:780px;
	border-top:1px solid #000
}
table.viewTable th,table.viewTable td {
	padding:16px 0;
	text-align:center;
	border-bottom:1px solid #e4e4e4;
	font-size:13px
}
table.viewTable th {
	background:#f7f7f7;
	font-weight:bold
}
table.viewTable td {
	border-right:1px solid #e4e4e4
}
table.viewTable td.noInquiry {
	height:187px;
	text-align:center
}
table.viewTable td.last {
	border-right:0;
	font-weight:bold
}
table.viewTable td.type {
	font-weight:bold
}
table.viewTable .title {
	padding-left:15px;
	padding-right:15px;
	text-align:left
}
table.viewTable .title p {
	width:370px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
div.aViewWrap {
	width:730px;
	height:670px
}
div.aViewWrap p.title {
	width:706px;
	height:40px;
	padding:13px 0 0 24px;
	background:#3d3d3d;
	color:#fff;
	font-size:18px;
	position:relative
}
div.aViewWrap button.close {
	position:absolute;
	top:14px;
	right:8px;
	width:26px;
	height:23px;
	padding-top:2px;
	color:#fff;
	background:transparent;
	border:0;
	font-size:20px;
	font-family:sans-serif
}
div.aViewWrap .inquiryViewCancel {
	float:right;
	display:inline-block;
	height:20px;
	*display:inline;
	*zoom:1;
	padding:0 7px;
	background:#fff;
	border:0;
	border:1px solid #bebebe;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	font-size:13px;
	line-height:20px
}
div.aViewWrap table td.last,div.aViewWrap table th.last {
	border-right:0
}
div.aViewWrap div.contentsWrap {
	width:662px;
	padding:34px
}
div.aViewWrap th,div.aViewWrap td {
	padding:12px
}
div.aViewWrap .qTable {
	width:662px;
	border-top:1px solid #e4e4e4
}
div.aViewWrap .qTable th {
	background:#f7f7f7
}
div.aViewWrap .qTable th,div.aViewWrap .qTable td {
	border-bottom:1px solid #e4e4e4;
	border-right:1px solid #e4e4e4
}
div.aViewWrap .qTable .question {
	height:76px
}
div.aViewWrap .qTable div.textBox {
	max-height:76px;
	overflow:auto;
	overflow-x:hidden
}
div.aViewWrap .aTable {
	width:662px;
	margin-top:30px
}
div.aViewWrap .aTable th {
	background:#333;
	color:#fff
}
div.aViewWrap .aTable th span {
	color:#ff5073
}
div.aViewWrap .aTable td {
	border-bottom:1px solid #e4e4e4;
	border-right:1px solid #e4e4e4
}
div.aViewWrap .aTable .answer {
	height:110px
}
div.aViewWrap .aTable div.textBox {
	white-space:pre-wrap;
	max-height:110px;
	overflow:auto;
	overflow-x:hidden
}
div.aViewWrap button.ok {
	display:block;
	width:89px;
	height:33px;
	margin:30px auto;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border:1px solid #666;
	background:#fff;
	font-weight:bold;
	font-size:15px
}
