<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

    <script type="text/javascript">
        function userJoinForm() {
        	window.location.href="regist"
        }
        function qnaForm() {
        	window.location.href=""
        }
    </script>
<body>
    <input type="button" onclick="userJoinForm()" value="회원가입">
    <input type="button" onclick="qnaForm()" value="1:1문의">
</body>

</html>