div.newSlideBanner {
    position: relative;
    height: 330px;
    overflow: hidden;
    margin-bottom: 50px;
    font-family: '챘혧�뮨р�뷜궗', Dotum, '챗쨉쨈챘짝쩌', Gulim, "AppleSDGothic neo", AppleGothic, sans-serif;
    letter-spacing: 0
}

div.newSlideBanner .slideBannerWrap {
    width: 993px;
    padding: 0 27px 0 28px;
    background: #fff
}

div.newSlideBanner .slideBannerList li {
    float: left
}

div.newSlideBanner .slideBannerList a {
    width: 220px;
    display: block;
    border-right: 1px solid #f0f0f0
}

div.newSlideBanner .slideBannerList .last {
    padding-right: 0;
    border-right: 0
}

div.newSlideBanner .slideBannerList .first {
    padding-left: 0
}

div.newSlideBanner .homeSlideBanner a {
    padding: 0 18px 0 18px;
    height: 310px;
    text-align: center
}

div.newSlideBanner .recommend {
    margin-bottom: 15px;
    width: 410px;
    height: 20px;
    background: url("http://img2.memebox.com/static/contents/img/upload/contents_20150713143802_5NO1mTXZLB.png")
}

div.newSlideBanner .page {
    position: absolute;
    top: -25px;
    right: 0;
    display: block;
    font-size: 12px;
    font-weight: bold
}

div.newSlideBanner .v2 {
    background-position: -90px -130px
}

div.newSlideBanner .subBannerLeftButton {
    width: 23px;
    height: 29px;
    position: absolute;
    top: 122px;
    left: 0;
    background: url("/web/images/home/homeSprite20160811.png") 0 0;
    text-indent: -9999px
}

div.newSlideBanner .subBannerRightButton {
    width: 23px;
    height: 29px;
    position: absolute;
    top: 122px;
    right: 0;
    background: url("/web/images/home/homeSprite20160811.png") -30px 0;
    text-indent: -9999px
}

div.newSlideBanner .home {
    top: 173px
}

div.newSlideBanner img {
    width: 203px;
    height: 203px
}

div.newSlideBanner .title, div.newSlideBanner .subTitle {
    color: #585858;
    text-align: center
}

div.newSlideBanner .title {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold
}

div.newSlideBanner .subTitle {
    margin-top: 5px;
    width: 202px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px
}

div.newSlideBanner .price {
    margin-top: 2px;
    text-align: center;
    font-size: 13px
}

div.newSlideBanner .price del {
    margin-right: 5px;
    color: #898989;
    font-size: 15px
}

div.newSlideBanner .price span {
    font-family: "tahoma";
    color: #ff5073;
    font-size: 15px;
    font-weight: bold
}

div.newSlideBanner .price span .won {
    font-size: 13px;
    font-weight: normal
}

span.block {
    display: block;
    height: 10px
}

p.noResultTitle {
    width: 410px;
    height: 20px;
    margin-bottom: 20px;
    background: url("http://img2.memebox.com/static/contents/img/upload/contents_20150728135929_tRw6Wmbf7J.png")
}

div.newDealContents:after {
    content: '';
    display: block;
    height: 27px;
    clear: both
}

div.newDealContents .dealList {
    width: 1068px
}

div.newDealContents .dealList li {
    width: 334px;
    height: 478px;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 0 20px 23px 0;
    float: left
}

div.newDealContents .dealList li:hover {
    border: 1px solid #ff5073
}

div.newDealContents .dealList .overBorder {
    display: block;
    position: relative
}

div.newDealContents .dealList li:hover .title {
    text-decoration: underline
}

div.newDealContents .dealList li:hover .overBack {
    display: block
}

div.newDealContents .dealList a {
    display: block;
    cursor: pointer
}

div.newDealContents .dealList .m_left {
    margin-right: 0
}

div.newDealContents .dealList .dealThumb {
    position: relative
}

div.newDealContents .dealList .dealThumb img {
    width: 334px;
    height: 334px
}

div.newDealContents .dealList .back {
    display: block;
    position: absolute;
    bottom: 0;
    width: 334px;
    height: 65px;
    background: #f00;
    opacity: .7;
    filter: alpha(opacity=70)
}

div.newDealContents .dealList .caption {
    position: absolute;
    bottom: 0;
    width: 334px;
    height: 40px;
    padding-top: 25px;
    text-align: center
}

div.newDealContents .dealList .caption strong {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em
}

div.newDealContents .dealList .badge {
    position: absolute;
    top: 9px;
    right: 11px
}

div.newDealContents .dealList .badge span {
    width: 46px;
    height: 46px;
    display: block
}

div.newDealContents .dealList .badge .hot {
    background: url("/web/images/shopList/shopList_20170102.png") 0 -40px
}

div.newDealContents .dealList .badge .md {
    background: url("/web/images/shopList/shopList_20170102.png") -50px -40px
}

div.newDealContents .dealList .badge .memebox {
    background: url("/web/images/shopList/shopList_20170102.png") -100px -40px
}

div.newDealContents .dealList .badge .best {
    background: url("/web/images/shopList/shopList_20170102.png") -150px -40px
}

div.newDealContents .dealList .badge .new {
    background: url("/web/images/shopList/shopList_20170102.png") -200px -40px
}

div.newDealContents .dealList .badge .threeTime {
    background: url("/web/images/shopList/shopList_20170102.png") -100px -40px
}

div.newDealContents .dealList .badge .lowest {
    background: url("/web/images/shopList/shopList_20170102.png") -250px -40px
}

div.newDealContents .dealList .badge .freebie {
    background: url("/web/images/shopList/shopList_20170102.png") -300px -40px
}

div.newDealContents .dealList .badge .refund90 {
    background: url("/web/images/shopList/shopList_20170102.png") -350px -40px
}

div.newDealContents .dealList .badge .lowest90 {
    background: url("/web/images/shopList/shopList_20170102.png") -400px -40px
}

div.newDealContents .dealList .badge .sale369 {
    background: url("/web/images/shopList/shopList_20170102.png") -100px -40px
}

div.newDealContents .dealList .badge .promotion {
    background: url("/web/images/shopList/shopList_20170102.png") -500px -40px
}

div.newDealContents .dealList .badge .soldOutSoon {
    background: url("/web/images/shopList/shopList_20170102.png") -550px -40px
}

div.newDealContents .dealList .badge .deal_0 {
    background: url("/web/images/shopList/shopList_20170102.png") -600px -40px
}

div.newDealContents .dealList .badge .deal_100 {
    background: url("/web/images/shopList/shopList_20170102.png") -650px -40px
}

div.newDealContents .dealList .badge .reservation {
    background: url("/web/images/shopList/shopList_20170102.png") -700px -40px
}

div.newDealContents .dealList .bestTag {
    width: 62px;
    height: 62px;
    display: block;
    position: absolute;
    top: 0;
    background: url("/web/images/shopList/shopList_20170102.png");
    z-index: 1
}

div.newDealContents .dealList .best1 {
    background-position: 0 -220px
}

div.newDealContents .dealList .best2 {
    background-position: -70px -220px
}

div.newDealContents .dealList .best3 {
    background-position: -140px -220px
}

div.newDealContents .dealList .best4 {
    background-position: -210px -220px
}

div.newDealContents .dealList .best5 {
    background-position: -280px -220px
}

div.newDealContents .dealList .best6 {
    background-position: -350px -220px
}

div.newDealContents .dealList .best7 {
    background-position: -420px -220px
}

div.newDealContents .dealList .best8 {
    background-position: -490px -220px
}

div.newDealContents .dealList .best9 {
    background-position: -560px -220px
}

div.newDealContents .dealList .overBack {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 334px;
    height: 334px;
    background: #fff;
    opacity: .1;
    filter: alpha(opacity=10);
    z-index: 2
}

div.newDealContents .dealBottom {
    position: relative;
    height: 91px;
    padding: 20px 0 0 20px
}

div.newDealContents .dealhead .title {
    width: 295px;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    letter-spacing: -0.1em
}

div.newDealContents .dealhead .title strong {
    margin-right: 10px
}

div.newDealContents .dealBody {
    position: relative;
    height: 120px;
    padding: 0 10px 0 13px;
}

div.newDealContents .dealBody .discount {
    margin: 0 8px 0 0;
    font-family: Verdana;
    font-size: 20px;
    font-weight: bold;
    color: #ff5073;
    line-height: 29px
}

div.newDealContents .dealBody .discount .percent {
    display: inline-block;
    float: left
}

div.newDealContents .dealBody .discount .dealList-MaximumDiscount {
    display: inline-block;
    margin-right: 4px;
    font-size: 19px;
    float: left
}

div.newDealContents .dealBody .discount .unit {
    font-size: 19px
}

div.newDealContents .dealBody .discount .memePercent {
    display: block;
    width: 59px;
    height: 16px;
    margin-top: 7px;
    background: url("/web/images/shopList/shopList_20170102.png") -370px -190px
}

div.newDealContents .dealPrice {
    margin-top: 6px
}

div.newDealContents .dealPrice del {
    margin: 0 8px 0 0;
    font-family: tahoma;
    font-size: 12px;
    color: #898989
}

div.newDealContents .dealPrice .noDel {
    margin-top: -2px
}

div.newDealContents .dealPrice .price .price_value {
    display: inline-block;
    float: left
}

div.newDealContents .dealPrice .price .unit, div.newDealContents .dealPrice .price .tilde {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    float: left
}

div.newDealContents .dealPrice .price .unit {
    margin: 1px 0 0 2px
}


div.newDealContents .openNew {
    display: block;
    position: absolute;
    bottom: 43px;
    right: 49px;
    width: 26px;
    height: 26px;
    border: 0;
    background: url("/web/images/shopList/shopList_20170102.png") -600px -170px
}



div.newDealContents .openNewTag {
    display: none;
    position: absolute;
    top: -23px;
    left: -11px;
    width: 47px;
    height: 19px;
    background: url("/web/images/shopList/shopList_20170102.png") -660px -170px
}

div.newDealContents .openNew:hover {
    background: url("/web/images/shopList/shopList_20170102.png") -630px -170px
}

div.newDealContents .openNew:hover .openNewTag {
    display: block
}

div.newDealContents .zzim:hover, div.newDealContents .zzimOn {
    background: url("/web/images/shopList/shopList_20170102.png") -600px -140px
}

div.newDealContents .zzim:hover .zzimTag {
    display: block
}

div.newDealContents .price {
    margin-top: -3px;
    font-family: tahoma;
    font-size: 16px;
    font-weight: bold;
    color: #555
}

div.newDealContents .price .unit {
    font-family: '챘혧�뮨р�뷜궗', Dotum;
    font-size: 12px
}

div.newDealContents .dealFoot {
    padding-left: 8px;
    height: 33px;
    background: #f0f0f0
}

div.newDealContents .dealFoot span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 0 3px;
    height: 15px;
    margin: 9px 2px 0 0;
    float: left;
    color: #fff;
    font-size: 11px;
    letter-spacing: -0.1em;
    text-align: center;
    line-height: 17px;
    *line-height: 14px
}

div.newDealContents .dealFoot .freeIcon {
    background: #71a6e2
}

div.newDealContents .dealFoot .businessIcon {
    background: #45c1a2
}

div.newDealContents .dealFoot .mdIcon {
    background: #ff7ba3
}

div.newDealContents .dealFoot .priceIcon {
    background: #ff7758
}

div.newDealContents .dealFoot .sampleIcon {
    background: #ce68da
}

div.newDealContents .dealFoot .memedeliveryIcon {
    background: #fd49ab
}

div.newDealContents .dealFoot .giftIcon {
    background: #2fa6d8
}

div.newDealContents .dealFoot .overseasIcon {
    background: #874cd0
}

div.newDealContents .dealFoot .payDeliveryIcon {
    background: #707c94
}

div.newDealContents .dealFoot .overFreeIcon {
    background: #71a6e2
}

div.newDealContents .dealFoot .codIcon {
    background: #ac5bff
}

div.newDealContents .memeDelivery {
    width: 65px;
    height: 33px;
    background: url("/web/images/shopList/shopList_20170102.png") -530px -110px
}

div.newDealContents .coDelivery {
    width: 65px;
    height: 33px;
    background: url("http://img2.memebox.com/static/contents/img/upload/contents_20160310150747_WoNfaf8Sok.png")
}

.newDealContents .starBox {
    overflow: hidden;
    margin-top: 6px
}

.newDealContents .starBox .amount {
    display: block;
    margin-top: 1px;
    text-align: right;
    font-size: 12px;
    color: #555
}

.newDealContents .grade {
    font-family: 'tahoma';
    margin: -1px 6px 0 0;
    font-weight: bold;
    color: #555
}

.newDealContents .star {
    width: 83px
}

.newDealContents .star, .newDealContents .star em {
    display: inline-block;
    overflow: hidden;
    height: 17px;
    background: url("/web/images/myPage/star_v2.png") no-repeat 0 -16px;
    vertical-align: middle
}

.newDealContents .star em {
    background-position: 0 0;
    line-height: 0;
    font-size: 0;
    vertical-align: top
}

.newDealContents .star {
    margin-right: 6px
}

.newDealContents .star em.half {
    width: 8px
}

.newDealContents .star em.one {
    width: 17px
}

.newDealContents .star em.oneHalf {
    width: 25px
}

.newDealContents .star em.two {
    width: 34px
}

.newDealContents .star em.twoHalf {
    width: 42px
}

.newDealContents .star em.three {
    width: 51px
}

.newDealContents .star em.threeHalf {
    width: 59px
}

.newDealContents .star em.four {
    width: 68px
}

.newDealContents .star em.fourHalf {
    width: 76px
}

.newDealContents .star em.five {
    width: 83px
}

div.timerBanner {
    height: 149px;
    margin-bottom: 18px;
    background: #fafafa;
    border: 2px solid #f8f8f8;
    overflow: hidden
}

div.timerBanner span {
    display: block
}

div.timerBanner .leftWrap span {
    margin: 47px 0 0 58px;
    width: 347px;
    height: 55px;
    background: url("/web/images/shopList/shopList_20170102.png") -140px -290px
}

div.timerBanner .sticker span {
    margin: 40px 0 5px 90px;
    width: 63px;
    height: 63px;
    background: url("/web/images/shopList/shopList_20170102.png") -460px -150px
}

div.timerBanner .sticker .imminent {
    background: url("/web/images/shopList/shopList_20170102.png") -530px -150px
}

div.timerBanner .rightWrap {
    overflow: hidden
}

div.timerBanner .rightWrap .time {
    margin-top: 36px;
    width: 55px;
    height: 73px;
    background: url("/web/images/shopList/shopList_20170102.png")
}

div.timerBanner .rightWrap span.num0 {
    background-position: -140px -360px
}

div.timerBanner .rightWrap span.num1 {
    background-position: -200px -360px
}

div.timerBanner .rightWrap span.num2 {
    background-position: -260px -360px
}

div.timerBanner .rightWrap span.num3 {
    background-position: -320px -360px
}

div.timerBanner .rightWrap span.num4 {
    background-position: -380px -360px
}

div.timerBanner .rightWrap span.num5 {
    background-position: -440px -360px
}

div.timerBanner .rightWrap span.num6 {
    background-position: -500px -360px
}

div.timerBanner .rightWrap span.num7 {
    background-position: -560px -360px
}

div.timerBanner .rightWrap span.num8 {
    background-position: -620px -360px
}

div.timerBanner .rightWrap span.num9 {
    background-position: -680px -360px
}

div.timerBanner .rightWrap .colon {
    margin: 75px 25px 0 25px;
    width: 6px;
    height: 34px;
    background: url("/web/images/shopList/shopList_20170102.png") -40px -150px
}

div.timerBanner .rightWrap .sec {
    margin-top: 65px;
    width: 33px;
    height: 44px;
    background: url("/web/images/shopList/shopList_20170102.png")
}

div.timerBanner .rightWrap span.s_num0 {
    background-position: -170px -100px
}

div.timerBanner .rightWrap span.s_num1 {
    background-position: -210px -100px
}

div.timerBanner .rightWrap span.s_num2 {
    background-position: -250px -100px
}

div.timerBanner .rightWrap span.s_num3 {
    background-position: -290px -100px
}

div.timerBanner .rightWrap span.s_num4 {
    background-position: -330px -100px
}

div.timerBanner .rightWrap span.s_num5 {
    background-position: -370px -100px
}

div.timerBanner .rightWrap span.s_num6 {
    background-position: -410px -100px
}

div.timerBanner .rightWrap span.s_num7 {
    background-position: -450px -100px
}

div.timerBanner .rightWrap span.s_num8 {
    background-position: -210px -150px
}

div.timerBanner .rightWrap span.s_num9 {
    background-position: -250px -150px
}

div.arrayWrap {
    padding: 11px 0 0 20px;
    margin-bottom: 10px;
    width: 1026px;
    height: 27px;
    background: #fbfbfb;
    border: 1px solid #f1f1f1;
    overflow: hidden
}

div.arrayWrap li {
    float: left
}

div.arrayWrap a {
    color: #434343;
    font-size: 12px
}

div.arrayWrap .bar {
    margin: 0 15px;
    color: #c2c2c2
}

div.arrayWrap li.on a {
    color: #ff5073;
    font-weight: bold
}

div.arrayWrap li.on .arrow {
    margin: 6px 5px 0 0;
    display: block;
    width: 7px;
    height: 4px;
    background: url("/web/images/shopList/shopList_20170102.png") 0 -100px no-repeat;
    float: left
}